[2020-11-19 03:46] #546 closed

[2020-11-19 05:03] mmacedom commented on #525
@deeinstereo @lucastbelem I just pushed a number of fixes addressing these issues. Let me know if it's all good on your guys' end

[2020-11-20 04:06] mmacedom commented on #514
@lucastbelem @deeinstereo I just push some fixes to addess the issues mentioned above. Let me know if they are good on your end.

[2020-11-20 14:36] deeinstereo commented on #514
Awesome! Will have a look once it syncs!

[2020-11-20 22:14] deeinstereo opened #573 "Home Page Only Pulling 1 Blog Instead of 2"
I checked the backend on the homepage and it says limit 2, but only pulling 1.
Help!

[2020-11-20 22:36] JonEsparaz commented on #573
This is a bug produced by the ability to hide blogs from the main index. I already addressed this in #565 (pending merge).

[2020-11-20 22:43] georgevicbell commented on #573
I’ll put it in tonite.

Sent from my iPhone

On Nov 20, 2020, at 5:36 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

This is a bug produced by the ability to hide blogs from the main index. I already addressed this in #565<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fthemeetinghouse%2Fweb%2Fpull%2F565&data=04%7C01%7C%7Cf5d944b102304f4c7fbe08d88da4b569%7C84df

[2020-11-25 06:52] #573 closed

[2020-11-25 06:55] #552 closed

[2020-11-30 15:05] deeinstereo opened #577 "Home Page Blog Still Only Pulling One Post"
The issue is back again. Only one blog post being pulled.
https://www.themeetinghouse.com/

[2020-11-30 19:32] JonEsparaz commented on #577
Looks like someone accidently changed the limit field in this commit https://github.com/themeetinghouse/web/commit/1143235347279ed3654d3816813f2b3e7b8ab273.

https://github.com/themeetinghouse/web/blob/a43d9103658e3c24534ce3f78a7f21cf39660a6c/public/static/content/homepage.json#L140-L148

Probably easiest if you make the change @deeinstereo and run syncProd.

[2020-11-30 19:37] #400 closed

[2020-12-01 21:20] lucastbelem opened #579 "Staff UI change"
@deeinstereo our parish team module looks like this:
<img width="1425" alt="Screen Shot 2020-12-01 at 4 19 09 PM" src="https://user-images.githubusercontent.com/48295718/100798046-0f31f800-33f1-11eb-9802-148a25bc3c2b.png">

But when a parish doesn't have many people, it looks like this:
<img width="1430" alt="Screen Shot 2020-12-01 at 4 18 54 PM" src="https://user-images.githubusercontent.com/4829

[2020-12-01 21:21] #577 closed

[2020-12-02 03:23] GeorgeBellTMH opened #580 "Homepage Accessibility improvements"
These were found using lighthouse in chrome developer tools.

* [x] Add labels to inputs
* [x] Remove aria hidden on email div
* [x] Remove "Read More" from blog and make the title a link instead

These may be cause because we are using an SVG (which we can convert to a PNG):

* [x] "Search for a church by city contrast improvements"
* [x] Show map improvements

[2020-12-02 03:26] GeorgeBellTMH opened #581 "Spirituality Accessibility Improvements"
* [x] Buttons need descriptions for screen readers
* [ ] Inputs need labels
* [ ] Needs a meta description

[2020-12-02 03:29] GeorgeBellTMH opened #582 "Teaching Accessibility Improvements"
* [x] Buttons need an accessible name
* [ ] Metadata description is empty

[2020-12-02 03:31] GeorgeBellTMH opened #583 "Carreers Accessibility Improvements"
* [x] Buttons don't have accessible name
* [x] Image elements need alt text

[2020-12-02 04:52] GeorgeBellTMH commented on #581
All the hero buttons are refactored to now have a description field.

[2020-12-02 14:27] deeinstereo commented on #579
Yeah that sucks. Dynamic white space please. Make it look good!

[2020-12-02 19:44] JonEsparaz commented on #582
There are more issues detailed in #353.

[2020-12-02 23:29] GeorgeBellTMH commented on #579
Do we also want a link to show staffs teaching on the web?

[2020-12-03 14:32] deeinstereo commented on #579
This might be an interesting feature over on the teaching page.

[2020-12-03 15:25] lucastbelem opened #585 "Speakers on teaching page"
Need to discuss:

How to display teachers on teaching page? What design do we use?

[2020-12-03 17:55] lucastbelem opened #586 "Christmas map module"
* [x] Remove postal code box and "current location" button
* [x] Remove map
* [x] Remove click-ability of parish name
* [x] Remove address
* [x] Remove extra white space that is created by the removal of the address
* [x] Remove contact pastor
* [x] "Visit Page" links to /live

[2020-12-03 20:37] lucastbelem opened #587 "A different youtube channel"
How complex is the process to pull videos to /admin from a different youtube channel?

For context, we're planning to host kids and youth videos in a curriculum-specific youtube channel. Is it possible to pull from 2 youtube channels?

In the meantime, we can just continue to upload to both channels and just unlist from the TMH channel.

[2020-12-03 21:50] itbel commented on #586
The "Add to Calendar" feature is broken in `SundayMorningItem.tsx.` I suspect could be due to package updates.
If you add `optionsOpen={true}` the dropdown and package functionality still works, but clicking on the Add to Calendar label does not trigger the menu to open.
@GeorgeBellTMH

[2020-12-04 00:17] GeorgeBellTMH commented on #585
I think we can start with a link from the staff page like we have on the app...but if we want to add a teachers list maybe we do it similar to the staff list, but with just the images and name...unless we want to include glam-bot shots? https://www.youtube.com/watch?v=ctujwZ1UtWs&feature=emb_title

[2020-12-04 00:28] GeorgeBellTMH commented on #587
Some development work needed...we need ability to import from separate channels and remember where they came from...

[2020-12-04 00:43] lucastbelem commented on #586
@GeorgeBellTMH @JonEsparaz do either of you know what this could be? We're hoping to get the Christmas page live for promo tomorrow and the add to calendar thing is going to be a big part of that.

[2020-12-04 01:10] JonEsparaz commented on #586
I would agree with @itbel - likely package updates since the component works at 22eb677d88de002449f43ef8f210c134e36851c6, which is before several packages were bumped.

[2020-12-04 01:16] JonEsparaz commented on #586
Rolling react and react-dom to back 16.14.0 appears to resolve the issue @GeorgeBellTMH.

The Add To Calendar component is slated to be replaced anyways (https://github.com/themeetinghouse/web/issues/330), so I would just roll react and react-dom temporarily, then find a suitable replacement for the calendar component.

[2020-12-04 01:57] itbel commented on #586
Thanks @JonEsparaz. It is working now.

[2020-12-04 02:43] #586 closed

[2020-12-04 02:55] GeorgeBellTMH commented on #586
It's live...

[2020-12-04 02:56] GeorgeBellTMH commented on #514
Can we close?

[2020-12-04 02:57] GeorgeBellTMH commented on #525
Can we close?

[2020-12-04 03:02] mmacedom commented on #525
If @deeinstereo and @lucastbelem are good with the changes @GeorgeBellTMH . Yes.

[2020-12-04 03:02] GeorgeBellTMH commented on #410
@lucastbelem @deeinstereo we could probably include any teaching by the local pastor on the parish page as well...for some sites this may be a nice to have...

[2020-12-04 03:03] mmacedom commented on #514
@deeinstereo, everything good with the changes?

[2020-12-04 03:07] GeorgeBellTMH commented on #439
@lucastbelem...suggest we add a new field: thumbnailDescription which would be a description of the thumbnail...ie. Thumbnail of Bruxy teaching, with the words "Q&Eh Sunday"

Someone would have to go back and fill in all this detail...

[2020-12-04 03:10] #525 closed

[2020-12-04 03:10] #514 closed

[2020-12-04 03:10] GeorgeBellTMH commented on #535
When is this?

[2020-12-04 03:11] GeorgeBellTMH commented on #551
Closing unless there are more details

[2020-12-04 03:12] GeorgeBellTMH commented on #567
Closing for #566

[2020-12-04 03:12] #567 closed

[2020-12-04 03:12] GeorgeBellTMH commented on #570
Closing...let us know if there is a problem...

[2020-12-04 03:12] #570 closed

[2020-12-04 03:55] deeinstereo commented on #514
@mmacedom I think so? I didn't check to be honest but if you worked on it and George closed it then I am confident! 👍

[2020-12-04 13:42] lucastbelem commented on #551
@GeorgeBellTMH sorry. I need to circle back with them to get those details.

[2020-12-04 13:44] lucastbelem commented on #535
@GeorgeBellTMH just confirmed this wee we're no longer doing this.

[2020-12-04 13:44] #535 closed

[2020-12-04 13:47] lucastbelem commented on #410
@GeorgeBellTMH for sure. The questions are these:

Do we want to include Parish teaching on Parish pages? The issue is we don't control quality for these because they are done locally. Some just record on iPhones.
If we do want it, how do we get the videos? We can get pastors to share the files with us, but for EFCs, we don't normally store that on our YouTube channel. Would we want to or do we wo

[2020-12-04 13:48] lucastbelem commented on #439
@GeorgeBellTMH I'm fine with this, George. Would love to take stuff like this off your hands. Do you have to add the field so that we can start adding the descriptions?

[2020-12-05 07:46] GeorgeBellTMH commented on #439
This is now in the admin...

[2020-12-06 04:53] GeorgeBellTMH opened #591 "Missing Teacher Photos"
We need to add the missing teacher photos into the app (they go in the /public/static/photos/teachers folder)....

Also Danielle's photo is missing on the Staff page.

[2020-12-06 05:24] GeorgeBellTMH commented on #591
Also, hide any speakers you don't want....

Let us know when this is good enough to go live...

[2020-12-07 19:36] lucastbelem opened #592 ""Did it Really Happen?" Series doesn't pull"
Go to themetinghouse.com/christmas, scroll down to the playlist called "Christmas Series Archive" and click on "Did it Really Happen?". It doesn't load for some reason. It's the only series with this problem.

[2020-12-08 02:25] georgevicbell commented on #592
I suspect it might be the ? causing problems...

George Bell
Cell: 416-802-6697

________________________________
From: Lucas Belem <notifications@github.com>
Sent: December 7, 2020 2:37 PM
To: themeetinghouse/web <web@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [themeetinghouse/web] "Did it Really Happen?" Series doesn't pull (#592)

Go to themetinghouse.com/christ

[2020-12-11 22:57] itbel commented on #568
I'm almost done with the implementation for this that was discussed in the previous meeting.
I was wondering what kind of message should display in the yellow bar. If we want to make it so banner messages are set per event we will need to implement a ticker on the homepage as well so that it would update between events.
Would this be okay? @GeorgeBellTMH
Otherwise we can just have a hardcoded mess

[2020-12-15 20:57] lucastbelem opened #596 "Home church pill looks funny"
I think that pill looks like that because that home church isn't associated to a site...I didn't think that was a thing, but it looks like it is.
<img width="614" alt="Screen Shot 2020-12-15 at 3 52 56 PM" src="https://user-images.githubusercontent.com/48295718/102272072-30650f00-3eee-11eb-9920-58687f95cc99.png">

[2020-12-15 21:13] lucastbelem opened #597 "Image names glitch"
When we update images on the website, if we keep the same name, the image does not update. Can we fix this so we can replace images with the same name?

I.e. staff member wants a new photo. To make this work, we need to change the person's name.

[2020-12-15 22:02] lucastbelem commented on #478
@itbel we need to re-add the times. I see @deeinstereo said to remove them, but it was supposed to be removed from the pills, rather than altogether. Can you please add the times to the home churches as they were previously displayed, under the pills?

Also, can you make it so that when someone clicks on a home church, the popup in the map for that home church appears? Currently, that only happens

[2020-12-15 22:05] lucastbelem opened #598 "Find a Home Church Module Update"
Can we make the location popups in the map for find a home church and find a location match the design found here: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=773%3A10839

Basically, the colours should be inverted - black background and white text.

@deeinstereo assuming this is still wanted?

[2020-12-15 22:39] deeinstereo commented on #598
@lucastbelem yup!

[2020-12-15 22:44] deeinstereo commented on #478
Yes this is true.
The time should still be listed in the info, but not in the pills. The pills should just have parish, day of the week, and then maybe we add a pill for Young Adults or Family Friendly

[2020-12-16 00:11] georgevicbell commented on #597
It should update eventually. The cache lasts for a few days I think.

Sent from my iPhone

On Dec 15, 2020, at 4:14 PM, Lucas Belem <notifications@github.com> wrote:

﻿

When we update images on the website, if we keep the same name, the image does not update. Can we fix this so we can replace images with the same name?

I.e. staff member wants a new photo. To make this work, we need to change the

[2020-12-16 19:52] #568 closed

[2020-12-18 21:26] lucastbelem opened #601 ""Watch" Buttons on Christmas page"
A "Watch" button should appear beside each Livestream event on the /christmas page. Buttons should appear 1 hr before the event starts for each event.

[2020-12-20 14:35] deeinstereo opened #603 "Yellow Livestream Bar Needs to Be Persistent on All Pages"
Right now it's only visible on the home page.

When active, every single page on the website needs to have this at the very top (like we did with the old live button).

[2020-12-20 14:55] GeorgeBellTMH commented on #603
You need to add “showLive":”true” to whatever pages you want it on...

 "pageConfig": {
      "movingMenu": true,
      "showLogoText": true,
      "logoColor": "black",
      "showSearch": true,
      "showFooter": true,
      "showMenu": true,
      "showLive": true,
      "weatherAlert": false
    },

[2020-12-20 15:00] GeorgeBellTMH commented on #603
Just don't put it on the livestream page ;-)

[2020-12-20 15:13] deeinstereo commented on #603
Got it! Thanks!
@GeorgeBellTMH so would I need to do this to every single page? There's no way just to set this across all pages automatically?

[2020-12-20 15:24] GeorgeBellTMH commented on #603
Give me a sec, I will do a search replace and put it on all of them...

[2020-12-20 15:35] itbel commented on #603
@GeorgeBellTMH
I did not account for this.
There is an if statement on HomeMenu.tsx that only fetches live events when on "/". (Line 91) That will need to be removed. More changes may be necessary in order to account for the showLive field.

[2020-12-20 15:40] GeorgeBellTMH commented on #603
Yup, I see it...delivering now (but not publishing)

[2020-12-20 15:41] deeinstereo commented on #603
I gotta upload some blog images. Can you hold off publishing until like 12/12:30?

[2020-12-20 15:41] GeorgeBellTMH commented on #603
Everyone take a look on local now…I will publish it after the service is over and we can verify it works during the afterparty...

[2020-12-20 15:42] deeinstereo commented on #603
Also, I'm on the fence about the triangle...

[2020-12-20 15:42] GeorgeBellTMH commented on #603
@deeinstereo just don't pull...

[2020-12-20 15:47] GeorgeBellTMH commented on #603
We could do a trapezoid?

[2020-12-20 15:47] GeorgeBellTMH commented on #603
Livebar doesn't work so good on mobile screens with an X

[2020-12-20 16:34] deeinstereo commented on #603
hmmm? @GeorgeBellTMH

[2020-12-20 16:43] deeinstereo commented on #603
@GeorgeBellTMH okay i added the pictures but it won't let me push "Can't push refs to remote, try running pull first to integrate your changes."

[2020-12-20 16:44] GeorgeBellTMH commented on #603
yup, go ahead and pull

[2020-12-21 02:22] JonEsparaz commented on #566
Are we putting this embed on https://www.themeetinghouse.com/teaching-podcasts?

I can take care of this once I have more details.

[2020-12-21 02:42] georgevicbell commented on #566
Yup. That’s the plan. Basically if you click on the podcast it should take you to a page with that embed instead of what it does now.

Sent from my iPhone

[2020-12-21 21:40] lucastbelem commented on #603
@GeorgeBellTMH can we close this?

[2020-12-22 02:10] JonEsparaz opened #609 "Shorter blog URLs"
@deeinstereo mentioned this briefly.

Two solutions:
- Keep the current infrastructure and implement a link shortener
- Use [nanoid](https://github.com/ai/nanoid) (or a similar library) to get short IDs for blogs

[2020-12-22 02:19] #566 closed

[2020-12-22 02:19] #520 closed

[2020-12-22 02:29] GeorgeBellTMH commented on #609
I think we can just let the user set the ID of the blog table to be a url encoded field...so then they can pick a post/xxxx name at blog creation.

[2020-12-22 02:31] GeorgeBellTMH commented on #609
I'm also fine if we want to alias tmh.com/b/xxx to tmh.com/post/xxx (but I think /post/xxx is probably fine...)

I think it's better to have a url that relates to the blog post than a random id...

[2020-12-22 02:32] GeorgeBellTMH commented on #609
(note url length is also a problem for videos/series)

[2020-12-22 14:04] deeinstereo commented on #609
I'm down for whatever @GeorgeBellTMH and @JonEsparaz think is best. My priorities are keeping SEO top of mind, making sure we include keywords, and just keeping the links shorter so that they look nice when shared.

I'll go with whatever you think is best.

[2020-12-22 14:15] #603 closed

[2020-12-22 19:19] #601 closed

[2020-12-22 19:46] #596 closed

[2020-12-22 19:59] lucastbelem commented on #478
@itbel can you please fix the popup situation? Once that's done, we can close this issue. I'm creating a separate one for the Home church category pills.

[2020-12-22 20:02] lucastbelem opened #611 "Home Church category pills"
As per design here: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=773%3A11459

Can we please add "Family Friendly" and "Young Adults" home church label pills? I talked to Roger, and it doesn't look like the data is consistently added to an attribute field in Fellowship One, but it is consistently added to the Home Church name. For example, "Sheridan Young Adult Home Churc

[2020-12-22 23:04] JonEsparaz commented on #609
@GeorgeBellTMH I think your idea makes sense, but we should enforce some kind of formatting rules so the URLs are consistent.

Most blogs I've seen do all lowercase with hyphens between each word.

[2020-12-22 23:05] georgevicbell commented on #609
That works for me

Sent from my iPhone

[2020-12-23 19:02] lucastbelem opened #612 "Menu Design"
We need to update the menu on the website to change colour when you scroll over different colour backgrounds. Here is a sample of what we're looking for: https://touchtunesmedia.com/.

To do this, we would also need to adjust every module built that should extend to the edge of the screen, but currently doesn't to accommodate the fact that the menu doesn't change colour.

[2020-12-23 23:34] lucastbelem commented on #611
@itbel let's plan to use the name to create the pills unless @GeorgeBellTMH has concerns.

[2020-12-24 16:03] lucastbelem opened #614 "Change to livestream admin - to be confirmed"
I think the livestream stuff needs to be more customizable for the admin user. Here is what I propose:

StartTime: Yellow banner appears and event appears in the drop down
Event Start Time: Time displayed in drop down for when the event starts;
Join Time: "Join" button changes to clickable and takes user to /live;
End Join Time: Live event disappears from dropdown;
videoStart Time: Time when /live

[2020-12-24 16:11] GeorgeBellTMH commented on #614
Yup, I would name them:

AdvertisingStartTime - Yellow Bar
ListedStartTime - Shows in Drop down
JoinStartTime - Join Button goes active
VideoStartTime - Video Starts
ExpectedVideoDuration - Potentially used for advertising purposes
JoinEndTime - Join Button Changes to Watch
AdvertisingEndTime - Stops showing in Drop Down

[2020-12-24 21:09] JonEsparaz opened #615 "Yellow live banner appearance"
Pages with baby hero image look a little strange on mobile when the yellow banner is visible.

![image](https://user-images.githubusercontent.com/48423418/103106293-3c458500-4602-11eb-9d70-063ddd8b70e1.png)

![image](https://user-images.githubusercontent.com/48423418/103106295-3ea7df00-4602-11eb-9761-575720898eda.png)

[2020-12-24 21:12] JonEsparaz opened #616 "Watch button on Christmas page"
Unfortunately no one caught this earlier.

![image](https://user-images.githubusercontent.com/48423418/103106355-bf66db00-4602-11eb-9fdd-a60bfe924556.png)

This component might not be used again until next Christmas, but should be fixed regardless.

[2020-12-29 05:29] JonEsparaz opened #619 "Suggestion: commit squashing"
PRs in our repos often have 10, 15, or even 20+ commits, which makes the commit history a little messy.

@GeorgeBellTMH, can we start [squashing PRs](https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/configuring-commit-squashing-for-pull-requests)?

[2020-12-29 06:00] GeorgeBellTMH commented on #619
Will do.

[2020-12-29 06:00] #619 closed

[2020-12-29 06:08] GeorgeBellTMH commented on #612
This one is waiting for detailed design.....

[2020-12-29 06:13] JonEsparaz commented on #612
This note in Figma might be what you're looking for: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=719%3A9357

[2020-12-29 06:26] GeorgeBellTMH commented on #612
Ya, no there are more details needed...I talked to Lucas about it...
Some of the questions I have:

1) We need examples of what it will look like at 50% in a white box an 50% in a black box
2) Will there be any problems with accessibility/contrast - can we test our design with people and get some feedback
3) What is the transition (is it a fade, is it just a hard change, where/when does it happen)

[2021-01-03 21:25] JonEsparaz opened #622 "Notes Test Suite"
I'm having trouble getting the notes test suite up and running. I was able to mock `Analytics.record({...})`, but there's two new errors I can't figure out:

- ReferenceError: jasmine is not defined
- mockConstructor(...): Nothing was returned from render. This usually means a return statement is missing. Or, to render nothing, return null.

@nikklassen do you have any ideas?

[2021-01-05 00:02] GeorgeBellTMH commented on #597
I believe this should now work...I have set it to delete all images every 10 days...another secret may be to do the following...delete the image, syncProd...then add the new image and syncProd again...

[2021-01-05 00:02] #597 closed

[2021-01-07 06:08] JonEsparaz commented on #622
I've got the tests are running now, although the implementation isn't perfect. For example, I think `'pass note data'` could be better implemented with Enzyme.

[2021-01-07 06:22] #622 closed

[2021-01-07 15:59] deeinstereo opened #628 "New way of downloading notes PDF? 🗒️"
It seems we're doing double the work now. Olivia has to enter all the notes in via admin, then create and upload a separate PDF. Is there a way that we could just take the online notes that are made, and automatically save those as a PDF when someone clicks to download? I guess I'm looking for something that would automatically generate a PDF without us having to make one.
Thoughts?

[2021-01-07 16:00] deeinstereo commented on #615
Could we close that white gap on mobile so that there's no space between the yellow bar and the top of the grey box with the text?

[2021-01-07 17:52] JonEsparaz commented on #628
I think we've discussed with idea previously. Yes, we can build an HTML template and inject the content via Lambda. We would generate the PDF using Puppeteer (or something similar), file is saved to S3.

Formatting will be the biggest issue. Primary concerns:
- Ensuring that notes fit on one page and questions fit on one page (a character limit might not work since line breaks and images use an un

[2021-01-07 18:14] JonEsparaz commented on #628
Actually I made something, and this would take legit a couple hours to implement.

The page would be vertical obviously, but how's this? [test.pdf](https://github.com/themeetinghouse/web/files/5783249/test.pdf)

[2021-01-07 18:44] JonEsparaz commented on #628
@deeinstereo cleaned up version: [Notes PDF](https://github.com/themeetinghouse/web/files/5783383/bruh.pdf)

Quick, easy and relatively nice looking. We can add more flare/style to the HTML if desired. Thoughts?

[2021-01-07 18:53] deeinstereo commented on #628
@JonEsparaz wow, that is impressive! Wow. Yeah I'd love to stylize it a little bit more to match the design on the online notes a little closer. Lemme look at this tomorrow and get back to you. But wow. This is really great!

[2021-01-07 19:23] lucastbelem opened #629 "Series interface on admin"
Can we make some improvements to series on admin?

**This exists:**

* Create a series with title, start and end dates, and allocate to a category
* Link videos to series in a category

**Can we make this happen:**

* [x] Make "Series Management" a main nav button
* [x] Display every series on file alphabetically organized by category (i.e. sunday teaching, kids, youth, etc) and make them clickabl

[2021-01-07 21:14] lucastbelem opened #630 "I did something potentially bad..."
So, I was trying to edit the name of a series in AWS and so I changed the id String and the title String...then I pressed the "override" checkbox. Now the series remains the AWS table, but it's gone from the website. The series is called "Tired Feet Hopeful Hearts".

@GeorgeBellTMH @JonEsparaz @itbel help?

[2021-01-07 21:24] JonEsparaz commented on #630
I just fixed. You needed to go into the admin page and change the Series ID for the episode.

The reason it disappeared from the website is series with zero videos don't render.

[2021-01-07 21:30] lucastbelem commented on #630
Oh, right...I changed the series, but needed to get the video into the
"new" series.

Gotcha.

Thanks!

On Thu, Jan 7, 2021 at 4:25 PM Jon Esparaz <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments

[2021-01-07 21:46] #630 closed

[2021-01-08 16:57] deeinstereo commented on #628
@JonEsparaz a few functions that I'm looking for with the PDF version:

- Can we copy more of the original styling for the notes? Especially the headers of each section.
- Can we drop the title under the header image?
- I'll make another post about this, but would it be possible to create some sort of semi-permanent footer that includes the Q&Eh info and pushes people to download the app to get th

[2021-01-08 17:00] deeinstereo commented on #592
It's still not working even if I try to access it from the teaching archive page. Any chance you can look into this @lucastbelem ?

[2021-01-08 17:05] JonEsparaz commented on #628
Yes.

By drop do you mean add or remove? And we're talking about the episode title, right?

[2021-01-08 17:16] lucastbelem commented on #592
@deeinstereo @GeorgeBellTMH it's working now - it's the ? that's the problem. I'll have to fix the other series with this problem.

[2021-01-08 17:26] #592 closed

[2021-01-08 17:42] deeinstereo commented on #628
@JonEsparaz move under the graphic. So the hierarchy should be header, title, then content of the notes. Let me know about that little app promo footer

[2021-01-08 17:47] JonEsparaz commented on #628
Seems simple enough. Would it be at the bottom of every page?

[2021-01-08 18:11] deeinstereo commented on #628
@JonEsparaz it would be at the bottom of /notes, but function differently than the normal footer that already exists on the bottom of every page.

[2021-01-08 18:14] JonEsparaz commented on #628
I see. I'll need some direction with design, but 100% doable.

Another idea is websites (e.g. Reddit) have a pop up dialogue that says "it's better in the app, download today". Not sure if this is a good direction though - could look a little spammy.

[2021-01-08 18:16] deeinstereo commented on #628
Oh! I like that a lot! I'd rather do that, just on /notes and just promoting the app. Can we get that going if I work on getting you the UI design?

[2021-01-08 18:28] JonEsparaz commented on #628
Yup, we should be able to get that working.

I think it makes the most sense if the dialogue only appears on mobile (which is most of web traffic anyways).

[2021-01-08 19:06] JonEsparaz commented on #628
[notes-final-draft-template.pdf](https://github.com/themeetinghouse/web/files/5788922/notes-final-draft-template.pdf)
@deeinstereo looking good^^^

Like I mentioned earlier, the page breaks are a little awkward (e.g. the final heading and its content get separated). If desired, a hacky solution would be to temporarily add some extra white space above that heading generate the PDF, then remove the

[2021-01-08 19:39] deeinstereo commented on #628
@JonEsparaz Yeah I'm open to what you think is best. I don't think will ever be as good as the app so that's where I want to put all the focus. Any chance we can get it to generate the graphik font?

[2021-01-08 20:09] JonEsparaz commented on #628
Hmmm, I'll give that a 70% sure probably. I've written most of the code already, so I can get this working for next Sunday (Jan 17), then we can try playing around with the fonts.

[2021-01-08 20:36] deeinstereo commented on #628
Sounds good!

[2021-01-08 23:02] lucastbelem commented on #579
What do you mean by this @deeinstereo? Are you thinking of a teacher's carousel like in the app or display the speaker in a teaching that is clickable to a page with all of that speaker's videos?

[2021-01-08 23:06] #551 closed

[2021-01-08 23:08] lucastbelem commented on #498
It would be great to be able to search redirects as well for when we have too many to view.

[2021-01-09 01:40] JonEsparaz commented on #628
I did a quick test and got the Graphik font face working.

I had to use the `.oft` files, which I got off the Google Drive folder. The license wasn't present - @GeorgeBellTMH @deeinstereo @lucastbelem can one of you confirm that the following usage is permitted?

- Converting the `.oft` files to base64 string
- Saving the base64 string representation of the font face in a stylesheet
- Loading the

[2021-01-09 03:09] deeinstereo commented on #628
We did pay for the web license for the font, but I have no idea how or where we could confirm this. But I do know we paid.

[2021-01-09 03:28] #410 closed

[2021-01-09 16:30] lucastbelem opened #632 "Issue with videos not coming to /admin"
Hey team,

We're still having this problem and it's becoming a significant one. Could we please take a look to see what the issue might be?

In particular, there is a video (youtube id: cPiioNQzBzg) that is needed for this Sunday and it's on all the appropriate playlists, but doesn't show in admin. If someone could take a look at this one soon that would be great. Especially for the kids videos, i

[2021-01-09 16:32] lucastbelem commented on #553
@JonEsparaz did you ever get around to making this possible - The force a pull by entering the id as a workaround solution for now?

[2021-01-09 16:34] lucastbelem commented on #632
@JonEsparaz @GeorgeBellTMH @itbel the video with the youtube id I included in the description above is needed for this Sunday and we do have coordinators looking for them already as we normally have the video up by end of day Thursday.

[2021-01-09 18:04] JonEsparaz commented on #553
I did not - wasn't aware that it was a top priority.

Implementing this is a little bit involved as we need a new VTL resolver, but definitely doable.

[2021-01-09 18:18] JonEsparaz commented on #632
I'm looking into this. I have a suspicion what the issue is.

[2021-01-09 18:32] JonEsparaz commented on #632
@lucastbelem uhhhh. The video is there already, but under Preschool, not Unlisted. Perhaps someone moved all these "missing" videos, then forgot about them?

Have you guys only been looking in Unlisted?

![image](https://user-images.githubusercontent.com/48423418/104105824-f681f100-527e-11eb-9d49-94fedd815cbf.png)

[2021-01-09 18:36] JonEsparaz commented on #632
Something odd is the published date is in the future (2020-01-10, tomorrow).

[2021-01-09 18:43] JonEsparaz commented on #632
Wait it's 2021... So the published date is far in the past, which placed it at the back of the list:

![image](https://user-images.githubusercontent.com/48423418/104106039-a2780c00-5280-11eb-9f93-8f367451e745.png)

But it does appear on https://www.themeetinghouse.com/teaching-kids-youth

[2021-01-09 18:50] JonEsparaz commented on #632
These errors are not relevant. I'll edit the code to silence the errors unless an operation has actually failed.

[2021-01-09 22:52] lucastbelem commented on #632
@JonEsparaz Sorry to have wasted your time with this, Jon. I got a text this morning saying it wasn't up and assumed the person had done all the usual checks, so I only saw that it didn't appear under unlisted. I changed the date and the video is good now.

But we do have a large amount of videos that were uploaded to YouTube via a script that I haven't been able to find in admin. In light of the

[2021-01-09 22:56] GeorgeBellTMH commented on #632
It might be helpful to make a view of all the videos and what folder they are in with a filter by id field.

Sent from my iPhone

[2021-01-09 23:44] JonEsparaz commented on #632
@lucastbelem not a problem - glad we got this sorted.

I'd like to get the issue at large solved because I've looked into the missing videos problem probably a dozen times now. I have my doubts that there's an actual bug as it always seems to be a data entry issue.

There's a lot of moving parts, so clearly documenting occurrences of this issue would be helpful if we are to determine if a bug exis

[2021-01-10 22:46] #579 closed

[2021-01-11 00:17] JonEsparaz opened #634 "Yellow announcement bar is not keyboard focusable"
Probably should be a button rather than a div.

[2021-01-11 15:04] deeinstereo commented on #579
@lucastbelem As in, can you click on a pastor from their parish page and see their teaching. But also, what if we added a carousel to the teaching page that created the ability for people to find teaching by teacher?

[2021-01-12 03:02] JonEsparaz opened #639 "Proposal: consider migrating to Next.js"
AWS Amplify added support for Next.js a few months ago and I think it's worth a discussion.

Next.js could solve several open issues and provide performance improvements - an area that continues to be somewhat of an issue. This move would require some refactoring to the React code - mostly changes to routing, data fetching and CSS imports. I'd estimate this undertaking would require 2-3 days with

[2021-01-12 03:18] JonEsparaz commented on #639
Another potential benefit: reduced API calls.

For example: blogs could be statically generated since they are virtually unchanging. Video player pages only change once per week too. Even if we regenerated these semi-static pages once per day, there would be significantly less client-side API calls.

[2021-01-12 08:21] georgevicbell commented on #639
Redirects were why I didn’t go this way initially.

If we can figure it out, I’m open to it...probably need to verify it works in another environment.

Note: I think a lot of the reason we are having bad performance is more related to optimizing image sizes/formats/compression and setting up local caching...or doing stuff like preloading/prioritizing the hero images..I think there are bigger wins

[2021-01-12 08:29] georgevicbell commented on #639
For caching I think all we need to do is go through s3 and set the Cache-Control on each files metadata. I don’t know if there is a way to do this from amplify or if we have to do it after we deploy with a script or something. Cloudfront should pick it up and pass it on to the client.

Sent from my iPhone

On Jan 11, 2021, at 10:18 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

Another pote

[2021-01-12 18:07] JonEsparaz commented on #639
Hypothetically, data could be entered on admin, and when the user saves, we can update `next.config.js` with the current [rewrites](https://nextjs.org/docs/api-reference/next.config.js/rewrites#rewriting-to-an-external-url) in a Lambda, commit to GitHub via the Lambda, then automatically deploy via GitHub Actions.

[2021-01-12 19:04] deeinstereo commented on #628
Hey @JonEsparaz just wanted to check in, is there a chance we can try it for this Sunday?

[2021-01-12 19:07] JonEsparaz commented on #628
@deeinstereo depends on when #636 gets merged and deployed. I still need to make sure the code works in the cloud.

[2021-01-12 20:55] lucastbelem commented on #628
@deeinstereo @JonEsparaz George is really focused on solving things on JC so we can launch in the next few days. Might be good to plan to deliver for the 24th instead, friends. One more week of manual pdfs - sorry!

[2021-01-12 21:01] JonEsparaz commented on #628
@lucastbelem since we have an extra week, can you look into the previously mentioned font licensing concern?

This way we can have the Graphik font right away (if allowed).

[2021-01-13 23:03] #478 closed

[2021-01-13 23:03] #598 closed

[2021-01-13 23:03] #634 closed

[2021-01-15 02:25] lucastbelem commented on #611
@itbel I'm guessing it's because of exact wording, but you'll see in the screenshot below that this Young Adult home church did not generate a pill.

<img width="1433" alt="Screen Shot 2021-01-14 at 9 24 59 PM" src="https://user-images.githubusercontent.com/48295718/104673090-09e1f180-56af-11eb-9b20-525fb9f5489b.png">

[2021-01-15 02:53] itbel commented on #611
I accidentally deleted the condition to also insert the pill for Young Adult. I'll be adding this again soon.

[2021-01-18 15:41] deeinstereo opened #646 "📗 Linkable Blog Titles 📗"
Can we make the titles of the blog posts from the preview posts (like on homepage or the covid page) clickable links to the blog? I know we have the Read More button, but I was looking at our dead clicks reports from CrazyEgg and there is a consistent pattern of users clicking on the title instead of Read More.

[2021-01-18 18:21] deeinstereo opened #648 "🔀 New Video Playlist Function 🔀"
I want to be able to create new video playlists, with any combination of existing videos, regardless of how many other playlists those videos already belong to. These playlists should be able to be embedded on any page of the website as a video carousel, with a limit of "x" videos, before user has to click to view all videos. This is different that our current ability to add videos to a custom tea

[2021-01-19 06:42] JonEsparaz commented on #646
There might be some confusion for users because other blog components (e.g. on [themeetinghouse.com/blog](https://themeetinghouse.com/blog)) are completely wrapped in a `<Link/>` component, so everything (image, title, text) is clickable.

For the consistency, I would recommend doing the same for the multiImage blog component (wrap in a link to make everything clickable). Consider removing 'Read m

[2021-01-19 15:34] deeinstereo commented on #646
@JonEsparaz <-- What he said. Let's get this done!

[2021-01-20 04:35] JonEsparaz opened #651 "App Promo Dialogue on Notes Page"
Originates from https://github.com/themeetinghouse/web/issues/628.

Summarizing quotes:

The deliverable is basically a Reddit-style app promo dialogue on the notes page (mobile only). Pending UI design.

[2021-01-20 05:32] JonEsparaz commented on #651
@deeinstereo assigned you for the design.

Also, here's the Reddit dialogue for reference:

![image](https://user-images.githubusercontent.com/48423418/105131408-dc35e780-5ab6-11eb-8dd3-0a023cab2cd4.png)

[2021-01-20 18:36] #611 closed

[2021-01-21 18:17] itbel opened #654 "Series "Jesus By John" missing episodes"
Episodes 1, 8-29 are missing.

[2021-01-22 22:24] deeinstereo commented on #651
@JonEsparaz thank you!
@georgevicbell can we get a designer on this (Jen or Mateus) in the next 2-3 weeks? We can set it up on figma and I can walk them through the vision. @GeorgeBellTMH I hope that we have the dev to support this? Or are we asking too much?

[2021-01-24 06:33] #628 closed

[2021-01-24 06:34] #580 closed

[2021-01-24 06:34] #646 closed

[2021-01-24 16:03] JonEsparaz commented on #615
Another weird case (/give):

![image](https://user-images.githubusercontent.com/48423418/105635893-830de100-5e33-11eb-8f3c-c1d87abc996d.png)

@lucastbelem it seems someone needs to go through every screen to find all these edge cases, then they can all be fixed in one go.

[2021-01-24 16:11] JonEsparaz opened #655 "Underline on links that span two lines"
Text decoration looks odd, see below:

<img src=https://user-images.githubusercontent.com/48423418/105636122-b866fe80-5e34-11eb-833b-5cbe0e03d574.png width=300>

[2021-01-24 17:16] JonEsparaz opened #656 "Teaching Archive Overhaul: Pagination, Year Filter UI/UX/Accessibility"
## Pagination

The network requests are massive and UX isn't great since the page takes a while to load.

I think videos/series should be loaded by year. This can be achieved using the `startDate`/`publishedDate` indices:
[code]

The archive can load N years to start, then load another N on scroll. If the client filters by year, and that year has not been loaded, it can be specifically requested.

[2021-01-25 04:44] GeorgeBellTMH commented on #656
We can probably load smaller thumbnails...

[2021-01-25 04:46] GeorgeBellTMH commented on #654
I believe we never really did the admin to move the series that were part of this back in the day...

[2021-01-25 05:20] JonEsparaz commented on #656
@GeorgeBellTMH why does almost every issue say edited by GeorgeBellTMH? Do you have a bot or something?

Asking because it always remove leading whitespace from my code blocks.

[2021-01-25 05:28] GeorgeBellTMH commented on #656
It might be the sync to wrike...which we use internally for project management...

[2021-01-25 05:29] GeorgeBellTMH commented on #656
(it is...)

[2021-01-25 05:30] #639 closed

[2021-01-25 19:15] JonEsparaz opened #657 "Instagram scraper no longer works"
The fetch request now hits the Instagram log in screen and JSON data is not returned.

Using the Instagram Graph API seems like the best option now. The long-lived tokens can be refreshed via scheduled Lambda.

[2021-01-25 19:17] JonEsparaz commented on #657
Temporarily removing the Instagram components might be a good idea. This is what things look like at the moment:

![image](https://user-images.githubusercontent.com/48423418/105754366-fab53c00-5f17-11eb-8a15-2e489711873e.png)

[2021-01-25 23:03] deeinstereo commented on #615
@JonEsparaz that's true. @lucastbelem help? I would say with pages like the give one I'd scrap the yellow bar altogether. At that point we should remove all distractions.

[2021-01-29 00:55] lucastbelem commented on #657
@JonEsparaz what page did you find this on? I want to remove the component until we solve this.

[2021-01-29 01:10] JonEsparaz commented on #657
https://www.themeetinghouse.com/toronto-uptown

Probably good to remove the component on all site pages. Ancaster for example:
![image](https://user-images.githubusercontent.com/48423418/106218208-e3d74980-61a4-11eb-9f3c-84a4978290be.png)

[2021-01-29 01:14] JonEsparaz commented on #657
The Instagram component on the app's homepage can probably remain. It handles errors more elegantly, so there's just an empty component. Example, Uptown Toronto:

![image](https://user-images.githubusercontent.com/48423418/106218487-5b0cdd80-61a5-11eb-9058-12d38a004d14.png)

[2021-01-29 06:27] #655 closed

[2021-01-29 06:38] #609 closed

[2021-02-04 13:59] GeorgeBellTMH commented on #358
This is now partially done...all dynamic images now get Cache-Control added when they are generated, which is the majority of images on the site...outstanding are the assets and javascript, which I need to write a post deploy script for...I'll create a separate ticket to track those items...

[2021-02-04 13:59] #358 closed

[2021-02-04 14:00] GeorgeBellTMH opened #662 "Add cache-control on assets"
Assets should have cache-control added to s3 after deployment.

[2021-02-04 15:10] GeorgeBellTMH commented on #657
Ok! I got this all figured out...there is now an option to add the instagram_basic permissions to service users! So I have done that, and created a getInstaPhotos(instaId:String) in graphql...so it should work similar to fb events...

[2021-02-04 16:08] GeorgeBellTMH commented on #657
Ok, I've also updated all the code in web to make use of the new getInstaPhotos method...I will make a ticket and someone can update it on mobile as well...

[2021-02-04 16:08] #657 closed

[2021-02-04 20:26] JonEsparaz commented on #657
I'll take care of https://github.com/themeetinghouse/mobile/issues/228 tonight.

@GeorgeBellTMH, @branden-eyk: we can take down the Node.js script running on the Mac server.

[2021-02-04 23:09] deeinstereo opened #664 "FAQ Item Image"
MOBILE ONLY >> Go to /peacemakers and scroll to the bottom. **_I just pushed it so it may take a few more minutes to sync_**
The content styled as "oneImageBlackRight" shifts the photo way too far down and it clashes with the videos horizontal list and the FAQ. I tried "oneImage" as well but the issue persists.

Screenshots attached
![Screen Shot 2021-02-04 at 5 27 47 PM](https://user-images.githu

[2021-02-04 23:42] JonEsparaz commented on #664
Fixed.

FYI this issue shows up in other places (I assume it has been like this for a while).

Example: https://www.themeetinghouse.com/pandemicresponse

[2021-02-04 23:50] GeorgeBellTMH commented on #664
Weird stuff is happening...

1. Go to homepage everything is fine
2. go to /peacemakers everything is fine
3. click on tmh logo - homepage is busted at the bottom

[2021-02-04 23:53] GeorgeBellTMH commented on #664
I think this is a pre-existing issue though...going to this page messes up tmh.com on the live site...

I'm going to merge the big one first...then this one...then we can tackle whatever that issue is...

[2021-02-04 23:57] JonEsparaz commented on #664
My PR should fix this. It's the style targeting the `secondImg` class, which I removed.

[2021-02-05 00:05] GeorgeBellTMH commented on #664
Everything looks good...publishing... @deeinstereo please verify it's all the way you want, it'll be up in 5 minutes...

[2021-02-05 03:31] deeinstereo commented on #664
@GeorgeBellTMH thanks so much! Looks better! The only part that is odd is the picture of FAQ. It loads below the FAQ on mobile, but I think it should load above it.

[2021-02-05 03:45] JonEsparaz commented on #664
@mmacedom, I see you have a PR open. Are you moving the image like @deeinstereo requested? Or should I do it?

[2021-02-05 03:50] JonEsparaz commented on #664
Another issue: the image overlaps with the footer on desktop.

![image](https://user-images.githubusercontent.com/48423418/106987330-3384ba80-673b-11eb-8ee0-c7cd68b0652d.png)

[2021-02-05 03:58] mmacedom commented on #664
@JonEsparaz I'm fixed it on mobile and can adjust on desktop as well.

[2021-02-05 04:42] mmacedom commented on #664
@JonEsparaz @deeinstereo this has been fixed on desktop and inverted on mobile as requested.

[2021-02-05 04:42] #664 closed

[2021-02-05 04:52] deeinstereo commented on #664
@mmacedom @JonEsparaz THANK YOU!!! <3

[2021-02-05 15:51] lucastbelem opened #667 "Users Table, Profiles, Groups, Permissions"
Create a people tab that does the following:

* [ ] Allows admins to create new people/edit people/delete people with the following fields:
* [ ] First Name, Last Name, Title, Email, Phone Number
* [ ] Allows admins to upload image for these people
* [ ] Allows admins to select a parish for these people (choose from a dropdown)
* [ ] Allows admin to give the following attributes to these people:
*

[2021-02-05 17:14] JonEsparaz opened #668 "Peacemakers pie graph"
The pie graph has a small gap and isn't a perfect circle (you can see the outer edge is flat in a couple places).

Will this component be used in future years? If so, I think it is worth re-implementing with SVG or HTML5 canvas.

There's low-weight packages specifically for making graphs that use SVG/canvas. Or it's pretty easy to implement from scratch.

![image](https://user-images.githubusercon

[2021-02-05 17:32] georgevicbell commented on #668
Ya if there is a better solution let’s do it. This one was made in a rush.

I think actually there was a better one in the course menu on Jesus collective.

Sent from my iPhone

On Feb 5, 2021, at 12:14 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

The pie graph has a small gap and isn't a perfect circle (you can see the outer edge is flat in a couple places).

Will this component be used

[2021-02-05 22:02] JonEsparaz opened #670 "Refactor stylesheets"
In my opinion, the following issues should be addressed:

* [ ] The float property and absolute positioning are used where flexbox is likely more appropriate.
* [ ] There's lots of repeated styles in different stylesheets, so [mixins](https://sass-lang.com/documentation/at-rules/mixin) could be useful.
* [ ] If styles appear within the scope of every media query, they can be moved to the top of th

[2021-02-05 22:22] lucastbelem commented on #667
Create a people tab that does the following:
- [ ] Allows admins to create new people/edit people/delete people with the following fields:
- First Name
- Last Name
- Title
- Email
- Phone Number
- [ ] Allows admins to upload image for these people (restrict image size to appropriately small size)
- [ ] Allows admins to select a parish for these people (choose from a dropdown)
- [ ] Allows admin to

[2021-02-05 22:24] GeorgeBellTMH commented on #667
I'd like to actually change this up a bit...

[2021-02-05 22:28] GeorgeBellTMH commented on #667
I think a better way to do this is as follows:

1. Create a users table in dynamo with a bunch of the above fields...
2. Create a cognito link to the users table - such that a cognito user is linked to the dynamo user, but the dynamo user can exist without a cognito user
3. When a user logs into cognito for the first time, we link them up based on their email address if it exists
4. User can then

[2021-02-05 22:33] GeorgeBellTMH commented on #667
Note that this needs to work in web and app...but primarily in the app, with the web interface primarily for admin (groups and updating users before they exist)

[2021-02-05 22:38] GeorgeBellTMH commented on #670
I think we tried that Graphic Web in body bit and it was being overridden in some of the themes, and was causing headaches...that may be resolved with some of the other work here...

[2021-02-06 13:31] lucastbelem opened #671 "Local teaching in admin"
When creating a livestream, there is a button called "After Party Menu" which automatically removes fields I don't need and has other fields pre-filled. Can we add another button called "local parishes" and make it so that it automatically pre-loads 20 zoom boxes that are pre-filled with data from the previous local parish experience? i.e. the previous livestream that had 20 zoom boxes?

[2021-02-06 14:24] #668 closed

[2021-02-06 22:35] GeorgeBellTMH opened #672 "NPM Install Issue"
When running npm install we get:

Running it with npm install --legacy-peer-deps works...

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: tmh-web3@1.0.0
npm ERR! Found: react@17.0.1
npm ERR! node_modules/react
npm ERR!   react@"^17.0.1" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.7.0"

[2021-02-06 23:00] JonEsparaz commented on #672
You're trying to install `@aws-amplify/ui-react@0.2.37`, right?

The error message tells us that there is a peer dependency of `react@^16.7.0`. Since this project relies on AWS Amplify's component library, the semantically correct thing to do is downgrade to React 16: `npm i @aws-amplify/ui-react@0.2.37 react@16 react-dom@16`

This open PR will support React 17: https://github.com/aws-amplify/ampl

[2021-02-06 23:12] GeorgeBellTMH commented on #672
Kinda what I figured…gonna leave it as it is for now…it wasn’t causing problems before v7, and it looks like there are no code changes in that PR. I’ll take a look again early next week and see if they have fixed it.

G

[2021-02-07 00:15] JonEsparaz opened #673 "Image resizer not handling PNGs"
## Current issue
The resizer Lambda seemingly does not handle PNGs properly (JPGs work fine). Potentially stopped work after this commit: https://github.com/themeetinghouse/web/commit/be6c179f94590b9337b5059719c8f3746df02b3e

## Original issue (fixed)
App and website are affected, see: https://www.themeetinghouse.com/teaching-curated

![image](https://user-images.githubusercontent.com/48423418/107

[2021-02-07 05:34] GeorgeBellTMH commented on #673
Did this ever work? It looks like this is all stuff added today? I looked on the image logs and the png files do fail...but it's weird because it's more like the s3 getobjecthead (checking if the image exists in s3) fails with some crazy internal error...I have updated the version of aws-sdk and it persists....suggest we switch to jpg....

[2021-02-07 05:56] JonEsparaz commented on #673
Yes, definitely used to work.

I believe the PNGs have existed since this commit 5 months ago: https://github.com/themeetinghouse/web/commit/69d150acd79d85be3b2d41169a56139e743428db

[2021-02-08 20:12] lucastbelem opened #674 "Blog filtering"
Could we add some filters to the blog editor? It'd be good to be able to:

- Search a blog by title
- Filter blogs by blogSeries

Doable?

[2021-02-09 23:22] lucastbelem opened #675 "Update "2019" to "2020" on a page"
On the giving page, we have a title called "2019 Tax Receipt". Can we please change that to "2020 Tax Receipt"?

Hoping this is a quick fix.

Thanks.

[2021-02-09 23:23] JonEsparaz commented on #675
On it.

[2021-02-12 22:15] lucastbelem opened #678 "LIVESTREAM CANNOT BE SET"
Something is wrong and not allowing me or Carrissa to set the livestream.

<img width="1434" alt="Screen Shot 2021-02-12 at 5 14 49 PM" src="https://user-images.githubusercontent.com/48295718/107827968-d51c9500-6d55-11eb-88f2-b53e405902e2.png">

[2021-02-12 22:36] lucastbelem commented on #678
logged out and logged back in and it worked. Thanks @itbel!

Sorry it was such a silly fix lol

[2021-02-12 22:36] #678 closed

[2021-02-14 01:22] #675 closed

[2021-02-14 15:50] lucastbelem opened #679 "Double livestream event error"
This morning (Feb 14) there were 2 Sunday morning events displaying in the home page drop down menu (and after @GeorgeBellTMH told me to check Dynamo, it did show 2 events in Dynamo). However, on livestream admin, only 1 event displayed.

[2021-02-14 21:21] JonEsparaz commented on #679
@lucastbelem I'm looking at the DynamoDB table, I assume you deleted the second event? Almost impossible to postmortem without that data.

Do you have details on the mysterious second event? Were the two events identical?

[2021-02-14 21:33] lucastbelem commented on #679
@JonEsparaz yeah, I had to delete it there so it wasn't confusing for people. It was nearly identical, but the live links were different. We were having issues on Friday with it, the events appeared not to be saving. But after logging out and logging back in, everything seemed fine.
Maybe a weird glitch? I'll keep an eye and try and keep the event up next time.

[2021-02-14 21:37] JonEsparaz commented on #679
If there is a next time, you can delete the item, but first:
- select the item
- click the Actions dropdown
- export to .csv

[2021-02-14 21:40] lucastbelem commented on #679
Perfect! Thanks for letting me know!! I'll do that next time for sure.

[2021-02-16 04:53] JonEsparaz commented on #672
FYI `@aws-amplify/ui-react@1.0.1` was released and now supports React 17.

[2021-02-16 19:47] GeorgeBellTMH commented on #672
updated it...there is still a problem with google maps giving a similar error...but with no updates in 10 months its unlikely to get fixed anytime soon....gonna close this as the workaround is fine...

[2021-02-16 19:47] #672 closed

[2021-02-20 22:54] JonEsparaz commented on #679
It appears this has happened again for 2021-02-21. DynamoDB export: https://gist.github.com/JonEsparaz/45f1d5d2384708190f0443460ecf9404

I figured out why the admin page and the frontend show different query results (fixed in https://github.com/themeetinghouse/web/pull/680).

Unsure if the root cause of the duplicates is a data entry issue or a bug.

[2021-02-22 00:18] #671 closed

[2021-02-22 22:09] GeorgeBellTMH opened #682 "Add TikTok link to Footer"
@deeinstereo thoughts?

[2021-02-22 22:12] deeinstereo commented on #682
@GeorgeBellTMH yeah! Why not? It's small but we have to do something to grow it! Any chance you can also add our discord?

[2021-02-22 22:13] GeorgeBellTMH commented on #682
We have a discord? Fun! Send me the info!

[2021-02-22 22:15] deeinstereo commented on #682
Yeah TMH Waterloo is basically running it as one of their Go Challenge initiatives. I'll email you to get info.

[2021-02-22 22:25] GeorgeBellTMH commented on #682
Publishing now.

[2021-02-22 22:25] #682 closed

[2021-02-22 22:26] GeorgeBellTMH commented on #679
Probably need to disable the create button once it's been clicked...

[2021-02-25 21:23] lucastbelem opened #685 "Schedule releases"
It would be great to have a way to make updates ahead of time and then schedule a release for a later date/time.

What does that look like?

[2021-02-25 22:02] GeorgeBellTMH commented on #685
What kind of updates? Admin updates we would have to write into the db (blogs, videos etc.).

For content updates we could write a lambda that renamed files...so you could create a file:

community.json.[timestamp] that would overwrite community.json when the timestamp is hit. That would be a relatively quick way to do it.

[2021-02-27 00:40] #679 closed

[2021-03-02 20:07] JonEsparaz opened #689 "Instagram styling and data filtering"
After https://github.com/themeetinghouse/web/commit/be6c179f94590b9337b5059719c8f3746df02b3e, the thumbnails are not strictly square, so some images are getting stretched vertically.

Also, some of the results are videos, not images, which need to be filtered out as the thumbnail is `.mp4` (example: bottom left item in the screen shot).

![image](https://user-images.githubusercontent.com/48423418/

[2021-03-02 20:09] JonEsparaz commented on #689
When this is fixed, using media queries and relative units in the `.scss` file instead of the inline styles would be better IMO.

[2021-03-03 15:44] GeorgeBellTMH opened #690 "Performance stuff"
* [x] Lazy load more components
* [x] Just load the amplify components we need
* [x] Don't unnecessarily call amplify.configure
* [ ] Figure out image compression issues with google - right now we default to jpg/80 but it's saying we would get better image size at jpg/85 - which doesn't make sense...

[2021-03-03 15:47] GeorgeBellTMH commented on #690
@deeinstereo I fixed a few obvious performance issues that hit the homepage, but we need to do more to get https://developers.google.com/speed/pagespeed/insights/?url=themeetinghouse.com to work well...

[2021-03-03 17:02] JonEsparaz commented on #690
Material Design for Bootstrap (mdbreact) is only used in the footer and is a massive package: https://bundlephobia.com/result?p=mdbreact@5.0.1

[2021-03-03 17:03] JonEsparaz commented on #690
Not as much to be gained here, but [react-select](https://bundlephobia.com/result?p=react-select@4.1.0) can easily be replaced with a styled input from [react-strap](https://reactstrap.github.io/components/form/).

[2021-03-03 17:05] GeorgeBellTMH commented on #690
- [ ] for some reason we are loading the fonts twice (once from media folder, which is some generated folder...)

[2021-03-03 17:16] GeorgeBellTMH opened #691 "Fade in images in teaching"
Teaching pages could probably feel a bit nicer if the mini-hero images faded in, and if we animated the lists (not sure what the best animation would be)...

[2021-03-03 17:47] GeorgeBellTMH commented on #690
- [ ] scaled images seem to not to be setup correctly for left/right oneImage...when hero returns 2560 they should return something around 2560/2 but are returning 2560 instead...

[2021-03-03 22:55] deeinstereo commented on #690
Would it also help if we re-exported the JPG as JPG-2000 or something?

[2021-03-03 22:55] GeorgeBellTMH opened #693 "Scaling issue on homepage"
When scaling in Safari on homepage, there is a zone of 20-30 pixels just after the switch from desktop->mobile where the horizontal scroll occurs...it looks like an issue with the arrows in the teaching section...likely the media query use different numbers...

[2021-03-03 23:28] JonEsparaz commented on #690
JPEG 2000 is only supported in Safari: https://caniuse.com/jpeg2000. WebP is more worthwhile (see https://github.com/themeetinghouse/web/issues/561).

[2021-03-03 23:29] GeorgeBellTMH commented on #690
WebP is coming in 10 seconds....

[2021-03-04 02:45] GeorgeBellTMH commented on #690
Ok...slightly more than 10 seconds...had to resolve some other problems...

To get a webp file:

https://www.themeetinghouse.com/cache/2560/static/images/homepage-1-2.jpg

becomes

https://www.themeetinghouse.com/cache/2560webp/static/images/homepage-1-2.wepb

[2021-03-04 02:47] GeorgeBellTMH commented on #690
Some limitations: only works with jpg source...png doesn't work

Also, not exactly sure how we modify the <ScaledImage> to use this if we are on chrome...

[2021-03-04 03:27] JonEsparaz commented on #690
The standard way serving WebP is with the `<picture>`  tag: https://web.dev/serve-images-webp/#serve-webp-images

[2021-03-04 13:12] lucastbelem commented on #690
What does this mean? Do we need to go through the website and update every
image? If we don't for a while, is it a problem as this is already
published?

On Wed, Mar 3, 2021 at 10:27 PM Jon Esparaz <notifications@github.com>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.them

[2021-03-04 16:05] JonEsparaz commented on #690
@lucastbelem nothing should change on your end. We need to modify the React code a little.

[2021-03-04 22:58] lucastbelem opened #694 "Removing videos from playlists"
I need a simple way to remove videos from the website/app playlists that doesn't involve going to Dynamo and manually deleting them. Can we get that going? They don't even need to be deleted from the database - we may choose to re-add them later. But I need a way to take a video off a playlist.

I'm thinking a button beside "add custom playlist" under "Import Video" that says "Remove from playlist

[2021-03-04 23:06] JonEsparaz commented on #694
You can already delete a video from a playlist.

- Find the video on admin
- Hover over the playlist name (it will turn red)
- Click on the playlist name (it should disappear)
- Click save

[2021-03-05 03:39] GeorgeBellTMH commented on #694
Closing, let us know if there are problems with this approach...

[2021-03-05 13:20] lucastbelem commented on #694
@JonEsparaz @GeorgeBellTMH sorry I wasn't clear. Not referring to custom playlists - those work fine.

I'm talking about regular playlists and series playlists.

For example, I have a few preschool videos from Sep-Dec 2020 that for copyright reasons need to be taken down. These videos live under the "preschool" category/playlist and under the "preschool" series. But I don't have a way to take them

[2021-03-05 15:56] JonEsparaz commented on #694
To clarify our terminology "Preschool" is a video type, "Miracles" is a series. "The Bible" would be a playlist.

If there was a button "Return to unlisted" that:
- removes the selected video from its current series, and
- returns the video to the "Unlisted" video type

Would that meet your requirements, @lucastbelem?

FYI: I'll have time to work on this ~March 20th.

[2021-03-05 16:00] JonEsparaz commented on #694
Actually, instead of moving the video to "Unlisted", I would move it to a new type "Hidden", so these videos are separate from the ingest.

Same idea regardless.

[2021-03-05 16:02] lucastbelem commented on #694
That would be perfect. As long as I could move a video back from hidden to
a playlist later if I need to, this meets the requirement perfectly.

And March 20th is amazing!

On Fri, Mar 5, 2021 at 11:01 AM Jon Esparaz <notifications@github.com>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905

[2021-03-05 16:16] GeorgeBellTMH commented on #694
I think you could just do this now with the existing system….just make the hidden category/playlist and move things to it….

Sent from my iPhone

[2021-03-05 16:36] lucastbelem commented on #694
Will that move them out of the series as well?

On Fri., Mar. 5, 2021, 11:17 a.m. George Bell, <notifications@github.com>
wrote:

[2021-03-06 18:49] lucastbelem commented on #685
@GeorgeBellTMH we'd probably want to do both eventually, but if we could start with the easy one, I'm down.

Use case: peacemakers totals need to be updated, but Matt doesn't want them updated until Monday am. Sometimes we need to update stuff over the weekend, but people are technically off.

[2021-03-11 18:20] deeinstereo commented on #690
So WebP is all in the code and has nothing to do with our exports of the photos?

[2021-03-11 18:35] JonEsparaz commented on #690
@deeinstereo correct Again, nothing changes on your end.

I'll implement the front end code for WebP next week (or someone else might get to it first).

[2021-03-11 18:44] JonEsparaz commented on #651
@deeinstereo I'll have time to look at this next week. Did we ever do a mockup? If not, can I just throw something together and you can provide feedback afterwards?

[2021-03-12 14:30] deeinstereo commented on #689
I was just about to add this one! Some of our instagram posts are 4:5, but should be cropped down to 1:1 when pulled to the parish sites and app home feeds

[2021-03-15 16:31] deeinstereo commented on #689
@lucastbelem can this be moved up on the priority list?

[2021-03-16 18:27] deeinstereo opened #695 "Update Livestream Button on Parish Pages"
Hey, time to update this one—it's been too long. Any chance we can do the following:

* [x] Monday-Sunday 12:01 am : Add to Calendar button appears (stylized as it was before) and gives you the chance to add a reminder for the Sunday livestream to your calendar for Sunday at 10:00am ET with the link to themeetinghouse.com/live
* [x] Sunday 12:02am : that button turns into a Watch Live button (styl

[2021-03-16 18:27] deeinstereo commented on #695
@CarrissaReffell tagging you so you know what I'm trying to make happen for GF

[2021-03-16 18:32] deeinstereo opened #696 "Change Copy on Contact the Pastor""

[2021-03-16 18:33] deeinstereo opened #697 "Change Copy on "Contact the Pastor""
Can we make it say "Contact Pastor" please? Just remove "the"

![Screen Shot 2021-03-16 at 2 32 09 PM](https://user-images.githubusercontent.com/47831068/111361795-7a33d180-8664-11eb-862f-28dee10aaff7.png)

[2021-03-17 04:16] deeinstereo opened #698 "❌ Drop down locations menu bleeds ❌"
When user clicks the drop down it makes the email sign up form look terrible.

![Screen Shot 2021-03-17 at 12 14 21 AM](https://user-images.githubusercontent.com/47831068/111414091-c824f580-86b5-11eb-9c89-4079098777b3.png)

[2021-03-17 15:41] deeinstereo commented on #651
@JonEsparaz yeah sorry, don't have much capacity to design. Can you throw something together? Thanks!

[2021-03-17 16:13] #696 closed

[2021-03-17 19:39] CarrissaReffell opened #701 "Publishing Issues"
When I upload the kidmax files for this week it won't publish to the website. It will let me pull, commit, push. When I clear my cache to re-enter themeetinghouse.com/kidmax I can't see my changes.

[2021-03-17 19:43] JonEsparaz commented on #701
I can see this week's files at https://www.themeetinghouse.com/kidmax

This is what I downloaded:
- [KidsActivitiesMarch21.pdf](https://github.com/themeetinghouse/web/files/6159305/KidsActivitiesMarch21.pdf)
- [KidsLessonMarch21.pdf](https://github.com/themeetinghouse/web/files/6159306/KidsLessonMarch21.pdf)

[2021-03-17 19:52] CarrissaReffell commented on #701
okay great! Working now! Thanks Jon!

[2021-03-17 20:23] lucastbelem commented on #701
Jon, did you do anything to fix this or did it just sort itself out?
Carrissa's commit appeared in the log and I could pull it, but the website
wasn't updating. I cleared cache and still couldn't see it before.

On Wed., Mar. 17, 2021, 3:53 p.m. CarrissaReffell, ***@***.***>
wrote:

[2021-03-17 20:45] JonEsparaz commented on #701
It just sorted itself out.

[2021-03-18 03:34] JonEsparaz commented on #697
This is hard-coded (can't be changed from the JSON files).

[2021-03-18 03:41] JonEsparaz commented on #648
#702 partially resolves this. Also, you have always been able to add a video to multiple custom playlists, so that's done too.

Remaining task would be the limit + click to view all feature (requires modifying the video archive component).

[2021-03-18 05:25] #561 closed

[2021-03-18 05:26] #689 closed

[2021-03-18 05:27] #694 closed

[2021-03-18 05:28] #651 closed

[2021-03-18 05:28] #697 closed

[2021-03-18 21:10] JonEsparaz commented on #701
I think I know what happened here. Yesterday, while working on #699, the Cloudfront distribution would've been busy as I was requesting hundreds of uninitialized WebP images, so the Kidmax files pushed probably got queued and just needed to wait a few minutes until Cloudfront finished some in-progress operations.

99% sure this is a one-off; nothing to be concerned about.

[2021-03-18 21:10] #701 closed

[2021-03-19 00:50] lucastbelem commented on #701
Thanks man.

We noticed another change that didn't occur. Carrissa created a redirect
link (marriagerefresher) yesterday as well, but it didn't work for a while
(only starting working today).

On Thu, Mar 18, 2021 at 5:10 PM Jon Esparaz ***@***.***>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 |

[2021-03-19 01:46] JonEsparaz commented on #701
For the commit you are talking about, looks like the syncProd workflow didn't run:

![image](https://user-images.githubusercontent.com/48423418/111719653-b157dd80-8832-11eb-9d1e-ec88cac4ab63.jpeg)

You need to make sure you see the green check mark.

[2021-03-19 01:52] lucastbelem commented on #701
Oh right. I see that now. Sorry, I missed it in the commits log when I
looked and thought it didn't even go.

What do we do if that happens? Does it mean we've made an error and need to
fix?

On Thu, Mar 18, 2021 at 9:47 PM Jon Esparaz ***@***.***>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f

[2021-03-19 02:04] JonEsparaz commented on #701
I've read about GitHub Actions having issues if you make several pushes in quick succession.

To make sure this does not happen, I recommend committing all your changes locally, then make a single push (instead of commit, push, commit, push, etc).

[2021-03-19 02:05] JonEsparaz commented on #701
We can add a [manual trigger](https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/) to the syncProd action, which can be used if the workflow does not run.

[2021-03-22 06:33] #674 closed

[2021-03-22 06:33] #698 closed

[2021-03-22 15:02] lucastbelem opened #709 "Custom playlists UI overlap with a different module"
@JonEsparaz I added the playlist type that you created last week for us into the Easter page (themeetinghouse.com/easter). I added it below the locations module and the issue seen in the image below appears.

@deeinstereo is that where you'd like the playlist to be? If so, @JonEsparaz anything you can do to clean that up? If we're moving it, maybe not an urgent issue.

Also, @JonEsparaz, I noticed

[2021-03-22 15:02] lucastbelem commented on #709
<img width="1433" alt="Screen Shot 2021-03-22 at 10 58 33 AM" src="https://user-images.githubusercontent.com/48295718/112010868-13983300-8afe-11eb-8c0a-7a5d95902c7b.png">

[2021-03-22 15:32] deeinstereo commented on #709
@lucastbelem that looks like a Good Spot! @JonEsparaz can you fix the header for that playlist? Also is it a custom title?
And please make it go newest to oldest, and let's get rid of a bunch of them. Where can I find it @lucastbelem to customize what's included?

[2021-03-22 15:36] lucastbelem commented on #709
@deeinstereo title is in the easton.json file in Visual Code. As for removing videos, I think it can only be done in Dynamo directly (is that true, @JonEsparaz?) If so, then @deeinstereo just tell me which videos you want removed and I'll do it.

[2021-03-22 15:44] JonEsparaz commented on #709
As recently mentioned, there has always been a way to remove videos from custom playlists: https://github.com/themeetinghouse/web/issues/694#issuecomment-791013543

[2021-03-22 15:52] JonEsparaz commented on #709
I'll add a sort order control and fix the styling issue.

Of note, this is related to https://github.com/themeetinghouse/web/issues/670 as this problem is being caused by inappropriate use of absolute positioning.

[2021-03-22 16:10] lucastbelem commented on #709
Thanks Jon! I had forgotten about this!

[2021-03-22 16:29] deeinstereo opened #710 "Change copy on location module search bar"
Instead of "Search for a church by city" can we change it to "Select city"

![Screen Shot 2021-03-22 at 12 28 44 PM](https://user-images.githubusercontent.com/47831068/112024143-46482880-8b0a-11eb-9bcc-d1abc9c47da2.png)

[2021-03-22 17:15] JonEsparaz commented on #709
@lucastbelem why'd you move the component? Is this fix no longer needed?

[2021-03-22 17:16] lucastbelem commented on #709
@JonEsparaz David asked me to move it...maybe didn't realize you were getting on it right away. @deeinstereo good if we move it back?

[2021-03-22 17:20] JonEsparaz commented on #709
#711 will move it back below the location selector. If that's where you want it, no need to change anything.

[2021-03-22 17:58] JonEsparaz commented on #673
@GeorgeBellTMH is this something you are planning on investigating/fixing?

If not, PNGs should be replaced with JPGs throughout the website. Example of PNG failure on /locations:
![image](https://user-images.githubusercontent.com/48423418/112035916-6c73c580-8b16-11eb-91c6-25aeaf12e52c.png)

[2021-03-22 18:06] JonEsparaz commented on #587
@GeorgeBellTMH why do we need to remember where the videos came from?

As I see it, we just run the `ImportYoutube` class twice (once per channel) during ingest, then the videos are uniquely identified by the ID from YouTube (which is the same as the ID in DynamoDB) so all mutations will just work regardless of the channel of origin.

Seems like we just need to duplicate the resolvers or pass the

[2021-03-22 20:24] itbel opened #713 "Instagram data not loading for sites"
| Site  | ID | Working |
| ------------- | ------------- | ------------- |
| Alliston  | 17841433891090773 | Y |
| Sandbanks  | 17841407756454230   | N |
| Ancaster | 17841408879897536 | Y |
| Brampton | 17841411750520408 | N |
| Brantford | 17841428047284261 | N |
| Burlington | 17841408871557337 | Y |
| Hamilton-Downtown | 17841417565818186 | Y |
| Toronto-Downtown | 17841408838131893 | Y |
| To

[2021-03-22 20:39] lucastbelem commented on #695
@deeinstereo text changes seem to be done. 1 and 2 are clear, but number 3 is a bit foggy for me. Why would we add a good Friday date and time on Easter Sunday?

[2021-03-22 20:51] JonEsparaz commented on #713
Are your findings consistent with the similar issue (see https://github.com/themeetinghouse/mobile/issues/241) on mobile, @itbel?

[2021-03-22 20:56] itbel commented on #713
I am still in the process of testing this but so far yes. I accidentally posted the issue early 😅

[2021-03-22 21:47] itbel commented on #713
I have confirmed after updating the missing site ids in the mobile app that the problem sites are the same as on themeetinghouse.com

[2021-03-23 07:45] #710 closed

[2021-03-23 15:16] deeinstereo commented on #709
@lucastbelem yeah if it's fixed let's move it back! @JonEsparaz how are we on organizing it newest to oldest. Those old videos are killing me :P

[2021-03-23 15:20] lucastbelem commented on #709
@deeinstereo Jon fixed this already and made it possible for us to re-order them. @GeorgeBellTMH just has to merge it. Should be good to go tonight.

[2021-03-23 15:22] JonEsparaz commented on #709
The JSON will look like this, but as @lucastbelem said, waiting on the merge and deploy for this to work.

[code]

[2021-03-23 15:48] deeinstereo commented on #709
Thanks! sorry I'm late to the party!

[2021-03-23 19:31] lucastbelem commented on #695
@CarrissaReffell can you please send @itbel the Good Friday times and links?

[2021-03-23 20:29] CarrissaReffell commented on #695
@itbel Attached are the Good Friday links. We are currently missing links for three places. TODT and TOHP don't need links in their add-to-calendars for Good Friday but I will try to get you the Hamilton Mountain link asap.

Links: https://docs.google.com/spreadsheets/d/1jNGMx0jIGAseJr3WU7kKC_CCa0ByIBM03e3DAM4xl_4/edit#gid=0

[2021-03-24 08:11] #709 closed

[2021-03-24 08:22] GeorgeBellTMH commented on #587
Yah so:

- Passing the channelId
- mark all existing videos as coming from our channel via new channel field
- Move existing key in vtl into secret
- We also may need to handle different secrets for each channel (not sure until we try)
- Update any admin that re-pulls data to be smart about how to pull
- Upgrade other channels api limits
- Potentially a way to add playlists to the ignore list

[2021-03-24 08:24] GeorgeBellTMH commented on #673
Thank you for pointing this out…I was hoping to figure it out at some point and thought it was low priority, but now I remember we added more scaled images on other objects…so more pngs...

I will take a look at this before Sunday.

[2021-03-24 15:47] itbel commented on #695
With the current implementation, it is not possible to add multiple events with a single button click. Another button would be required.
Clicking on `Add to calendar` with the implementation in PR #715 will only add Sunday to the calendar.

[2021-03-26 02:35] GeorgeBellTMH opened #716 "Youth times/locations on parish pages"
I'm wondering if it might be helpful to add time/date/email info for each parish's youth program on the parish page?

Right now the only way to get this information is from the tmh youth external site, which is somewhat hard to get to from parish pages...and requires you to search again...

My suggestion is to add the information in a youth.json file and add it as a grey box below the kids and you

[2021-03-26 02:35] GeorgeBellTMH commented on #716
Cc @lucastbelem and @deeinstereo

[2021-03-26 18:30] deeinstereo commented on #716
@GeorgeBellTMH I like this! We have to revisit the youth experience on the website either way, but until we do that, this would be the best small step we could take.
BUT>> I know they are quite protective over youth info due to plan to protect, so maybe date + time, and then youth pastor info is all we need on there. Second thought >> should we add Youth Pastors to relevant staff teams? For exampl

[2021-03-26 23:02] GeorgeBellTMH commented on #716
Yup on their page they have the youth pastors phone/email, so that would be fine. Also there is insta/fb for some parishes...not sure if we want to link/show that as well...

At some point we should switch the default URL for tmhyouth/underground....

[2021-03-27 00:25] deeinstereo opened #717 "Add To Calendar Button in Easter Sunday Section on Easter Page"
On >> https://www.themeetinghouse.com/easter could we add a button in the grey module that has the picture (the Easter Sunday one) that allows people to add the date, time, and themeetinghouse.com/live to their calendars?

[2021-03-27 11:06] #695 closed

[2021-03-27 11:10] GeorgeBellTMH commented on #695
@lucastbelem @deeinstereo you may want to do some tests on this by setting your clock to multiple different dates/times and making sure it does what you guys want...

[2021-03-27 11:59] lucastbelem commented on #695
@GeorgeBellTMH thanks! @CarrissaReffell is doing some tests on this on Monday :)

[2021-03-27 12:25] GeorgeBellTMH commented on #716
https://www.themeetinghouse.com/oakvilleyouthtest

<img width="1501" alt="image" src="https://user-images.githubusercontent.com/47749730/112720627-e4a30800-8ed5-11eb-807b-46407b5f474b.png">

[2021-03-27 12:28] GeorgeBellTMH commented on #716
To add this to a parish page:

 {
        "type": "content",
        "style": "youth",
        "class": "locations",
        "filterField": "id",
        "filterValue": "oakville"
      },

and change the filterValue as appropriate...

Add the data in static/data/locations.json:

"youth": {
      "age": "Youth | Grades 6 – 12",
      "location": {
        "name": "The Meeting House Production Site

[2021-03-27 12:33] GeorgeBellTMH commented on #716
<img width="520" alt="image" src="https://user-images.githubusercontent.com/47749730/112720837-26807e00-8ed7-11eb-90b1-132ea551d91d.png">

Added covid info

[2021-03-27 18:57] JonEsparaz commented on #716
@GeorgeBellTMH I think it would be better to put the youth data in a separate file (e.g. youth.json) because you will be (unnecessarily) more than doubling the amount of data requested whenever `Dataloader.getLocations()` is used.

[2021-03-27 18:59] JonEsparaz commented on #716
Also, on the location pages, you are requesting all the data twice (once in the hero component, once in the youth content component), which is a little inefficient.

[2021-03-27 19:13] JonEsparaz commented on #716
@deeinstereo we use "COVID-19" around the website, right?

[2021-03-27 19:38] JonEsparaz opened #718 "Locations hero component: add to calendar and contact pastor"
The Add to Calendar button and Contact Pastor link are looking odd:
<img src=https://user-images.githubusercontent.com/48423418/112732692-dc68be00-8f11-11eb-8b06-1577e667d4c5.png width=300>

The dropdown items are supremely tiny:
<img src=https://user-images.githubusercontent.com/48423418/112732693-dc68be00-8f11-11eb-93b4-d4b6beebe129.png width=300>

This is probably a good opportunity to replace

[2021-03-29 16:25] deeinstereo commented on #716
@JonEsparaz Yup! COVID all caps, or COVID-19. But I think it's a little too much atm, most people assume that we're online due to covid so we don't need to specify. @GeorgeBellTMH yeah I'm not loving this design to be honest, also curious what this will look like on mobile, and I want to make sure we include the Youth team on this @lucastbelem can you take this on when the time is right?

[2021-03-29 19:31] lucastbelem opened #721 "Custom events for Good Friday - overlapping issue"
For Good Friday this week we need to create 20ish custom live events on the website, most of which will have the same start time (10am). However, the way custom live events are currently set up, we cannot create events that overlap. I'm not sure if this is because of the "startTime" or the "videoStartTime".

Ideally, we would be able to continue to set up custom events as they are, but allowing fo

[2021-03-30 01:18] #330 closed

[2021-03-30 01:18] #717 closed

[2021-03-30 01:18] #718 closed

[2021-03-30 01:23] GeorgeBellTMH commented on #716
K, I'm leaving this till we get design/feedback

@JonEsparaz once we get all the data I'll move things to a separate file and fix up your comments and implement more stringent checks...

[2021-03-30 05:10] JonEsparaz commented on #144
#167 covers this issue more broadly.

[2021-03-30 05:10] #144 closed

[2021-03-30 18:02] lucastbelem opened #724 "Add to calendar on Good Friday page adding wrong item"
If you click on "add to calendar" on any parish page, rather than the upcoming service being added to the calendar, the previous one is added. Could we pls fix that so the upcoming service is added to someone's calendar?

[2021-03-31 02:58] #721 closed

[2021-03-31 03:28] GeorgeBellTMH opened #725 "Location dropdown zIndex is incorrect"
Dropdown is sometimes hidden....

[2021-03-31 03:29] #725 closed

[2021-03-31 16:44] lucastbelem opened #728 "Change logic for some parishes for Good Friday"
Only for the following parishes, can we make the following change:

**Parishes:**
Burlington
East Toronto
Ancaster

**Between today and April 1 11:59pm:**

* [x] Change "add to calendar" on parish pages to "Save my spot" and make it go straight to the crowdcast links (you'll see them [here](https://docs.google.com/spreadsheets/d/1jNGMx0jIGAseJr3WU7kKC_CCa0ByIBM03e3DAM4xl_4/edit?usp=sharing)).

**O

[2021-03-31 17:18] lucastbelem commented on #728
@itbel one last potential edit. This is not essential so if it's too time consuming we can leave it.

If you go to themeetinghouse.com/easter and scroll down, you'll see a section called "Good Friday" which has a locations dropdown. Would it be possible to pointing the 3 parishes mentioned above to their crowdcast links as well rather than the parish page? I don't know if this is possible because

[2021-03-31 19:30] deeinstereo opened #730 "MAIN BUTTON MISSING ON HOME PAGE * URGENT*"
Hey, so the Why Jesus? CTA button just disappeared from our website. HELP?!?!?
https://www.themeetinghouse.com/

@JonEsparaz @GeorgeBellTMH @lucastbelem

[2021-03-31 19:36] JonEsparaz commented on #730
This was removed in https://github.com/themeetinghouse/web/pull/715:
[code]

[2021-03-31 19:46] lucastbelem commented on #730
@deeinstereo where was this before?

@itbel can you fix pls?

[2021-03-31 19:54] deeinstereo opened #731 "Wrong Font Weight + Box Styling"
I noticed on figma: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=220%3A6248
That the Locations box on mobile should have a lighter weight of font for the description, and that the locations drop down should line up on the left side with the title and the copy (see Figma for what it should look like vs attached of what it looks like now on the home page.

![Screen Shot 20

[2021-03-31 19:55] deeinstereo commented on #730
You mean the button? https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=220%3A6248

[2021-03-31 19:57] itbel commented on #730
I'm on it.

[2021-04-01 00:47] #724 closed

[2021-04-01 00:48] #728 closed

[2021-04-01 00:49] #730 closed

[2021-04-01 15:28] lucastbelem opened #734 "Apply "add to calendar" goes blank"
I've received reports from Apple users that click "apple" under add to calendar is giving them a blank screen rather than a calendar card.

@JonEsparaz tagging you cause you I think did a bunch of work on add to calendar. Please let @itbel if you don't have time to take care of it today.

Thanks :)

[2021-04-01 15:29] lucastbelem opened #735 "Add to calendar not adding Friday data to calendars"
@itbel as discussed.

[2021-04-01 15:35] lucastbelem opened #736 "Oakville Good Friday time not displaying"
@itbel can you take a look at the oakville.json file? We have a bunch of text in "text" fields that aren't appearing on the website.

We don't want them to appear, but I have another line of text that I want to add and I don't know if it'll appear or not.

[2021-04-01 15:38] JonEsparaz opened #737 "Add to calendar is hidden on Easter page"
<img src=https://user-images.githubusercontent.com/48423418/113318716-bf036d80-92de-11eb-9fb4-52d4dd094319.png width=300>

Likely introduced in 9532ddb211b1f6a4c53766d77f3d30d6ced223aa.

[2021-04-01 15:44] JonEsparaz commented on #737
I've confirmed that my fix for #725 does not cause this issue.

[2021-04-01 16:22] deeinstereo opened #739 "Download App Notes prompt new issue"
Jon told me to make it a new issue.

You know what to do ;)

[2021-04-01 16:32] JonEsparaz commented on #734
@lucastbelem fixed.

Note: the Apple link will work in iOS Safari, but not necessarily other mobile browsers (this is how the previous Add To Calendar component behaved too).

[2021-04-01 16:40] JonEsparaz commented on #739
_Originally posted by @deeinstereo in https://github.com/themeetinghouse/web/issues/704#issuecomment-811474900_

[2021-04-02 12:48] #736 closed

[2021-04-02 12:49] lucastbelem commented on #735
Fixed by #741 but didn't get merged in time, so I'm closing.

[2021-04-02 12:49] #735 closed

[2021-04-02 14:00] lucastbelem opened #743 "Double live event creation"
Sometimes when we create a live event, 2 of the same event are created. I'm guessing it's not when we create it, but we edit. I'm thinking that if I edit a live event, rather than editing in Dynamo, it just creates a new one.

This usually isn't a big deal, except today it was a little problem. We had a typo in the live event id. When we went to edit the id to remove the extra space, we couldn't d

[2021-04-02 14:24] GeorgeBellTMH opened #744 "Trim spaces from YouTube live event id"
Copy/paste issue sometimes shows up at the last minute....trim to protect...

[2021-04-02 14:34] lucastbelem commented on #743
closing for #744

[2021-04-02 15:23] JonEsparaz commented on #744
Trimming is probably a good idea anyways, but I think the bigger issue is not being able to edit the YouTube ID. What if the YouTube ID changes for some reason?

Perhaps the event ID should use uuid instead of the YouTube ID.

[2021-04-02 15:25] JonEsparaz commented on #743
This sounds like a separate problem than #744 (and seems like #679 persists). @lucastbelem am I misunderstanding something here?

I'll note that this problem never occurred before custom live events were implemented, so I suspect that's when the issue was introduced.

[2021-04-02 15:30] lucastbelem commented on #743
@JonEsparaz you got it right. I only closed this because as custom events are now allowed to overlap and we never have more than 1 live event at the same time, this isn't usually an issue. Unless of course, we have typos, missed spaces etc, which is why I thought #744 would address most of the time this could be a problem. However, ideally, I'd love for the double event thing to disappear.

[2021-04-02 15:31] JonEsparaz commented on #743
Do you have the database export from today's issue?

Also, are you fairly certain this issue occurs during editing (rather than creation)?

[2021-04-02 16:22] lucastbelem commented on #743
@JonEsparaz I can get the report...but I had to fix the problem right away so I don't know if it's helpful to you at all at this point?

I can't be certain the issue occurs at editing...that's my guess.

[2021-04-02 16:30] JonEsparaz commented on #743
Just send it over - could be helpful.

To confirm exactly what happened because I'm a little unclear:
- You created an event (on the admin page)
- You edited that event (in the DynamoDB AWS console)
- Then duplicates appeared?

[2021-04-08 14:36] deeinstereo opened #746 "🖥️ Add Facebook pixel to Website 🖥️"
This should be our top priority for the website right now.

Here's what I need done:

<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)

[2021-04-13 14:05] #734 closed

[2021-04-13 14:06] #739 closed

[2021-04-13 14:06] #744 closed

[2021-04-13 14:43] lucastbelem commented on #737
This issue still occurs, although with Easter behind us, it's low priority.

[2021-04-13 16:06] JonEsparaz commented on #737
@lucastbelem I believe the changes have been merged, but not deployed.

Please test on localhost, the issue is certainly resolved:

<img src=https://user-images.githubusercontent.com/48423418/114584400-a1c08e80-9c50-11eb-8e20-aea699c8d5ff.png width=300>

[2021-04-13 16:12] lucastbelem commented on #737
Ah! Ok thank you!

[2021-04-13 18:01] lucastbelem commented on #737
@CarrissaReffell

[2021-04-19 15:55] lucastbelem opened #748 "New parish on website"
We need to create a new parish for a new type of home church - global. Can we do the following:

* [x] Create a new parish called "Global".
* [x] Make it appear first in the find-homechurch dropdown
* [x] Pull global home churches from F1 (Roger needs to know which field is being used for this. "Campus" or "GroupType" so he can add the label to these home churches.
* [ ] Omit the new "Global" Pari

[2021-04-19 19:13] GeorgeBellTMH commented on #748
Yup, we can do that....I'm wondering though if we should have a Global/International parish page with some details about that and keep it in the dropdown...that way they can contact the pastor etc. (and I assume we will eventually have some more staff...)

[2021-04-19 19:29] lucastbelem commented on #748
@GeorgeBellTMH yep, that's definitely the plan, but until David is back, we'll need to keep that hidden cause we have no idea what the content would be or how to organize it.

[2021-04-20 00:28] GeorgeBellTMH commented on #748
Ok, so I looked on F1...I don't see this yet...but once it's created on F1 in the list of home churches it should show up the next day....

[2021-04-20 00:31] GeorgeBellTMH commented on #748
To answer Rogers question - we use both...

[2021-04-20 01:10] lucastbelem commented on #748
Thanks. Roger hasn't added the "global" field yet cause he didn't know
whether to add it under *campus" or "groupType". Are you saying either of
them works?

On Mon., Apr. 19, 2021, 8:32 p.m. George Bell, ***@***.***>
wrote:

[2021-04-20 03:43] GeorgeBellTMH commented on #748
We need both setup...

[2021-04-20 03:54] GeorgeBellTMH commented on #746
Pixel code is on the site now.

[2021-04-20 03:55] #746 closed

[2021-04-20 04:04] #737 closed

[2021-04-20 04:37] GeorgeBellTMH commented on #713
The following Facebook pages need to have their instagram connections upgraded to business...

<img width="1359" alt="image" src="https://user-images.githubusercontent.com/47749730/115338278-8681e180-a170-11eb-999e-deb238d996ea.png">

[2021-04-20 04:43] GeorgeBellTMH commented on #713
@vanderwalrus can you make these changes?

[2021-04-20 04:45] GeorgeBellTMH commented on #713
Also can we try to get sandbanks instagram included (as a partner) in the fb business (they may need to setup a business account for Facebook and instagram)....

[2021-04-20 14:52] lucastbelem commented on #748
Perfect. He's done both, so we'll check tomorrow :)

On Mon, Apr 19, 2021 at 11:44 PM George Bell ***@***.***>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient and may contain

[2021-04-20 20:04] vanderwalrus commented on #713
IG accounts are all upgraded except Downtown Hamilton - still waiting to hear the new password from them. I can reach out to Sandbank folks to get theirs too

[2021-04-21 17:42] lucastbelem commented on #748
@GeorgeBellTMH Roger added "global" to both fields, but they still don't appear on the website.

[2021-04-22 19:54] lucastbelem commented on #748
Sorry...he added it today.

[2021-04-22 19:56] lucastbelem commented on #690
@JonEsparaz is this issue completed?

[2021-04-22 20:09] JonEsparaz commented on #690
@lucastbelem not really.

---

These are partially done (I think):

@GeorgeBellTMH did these, but the commits aren't linked to this issue, so it's difficult for me to tell exactly what was accomplished (or if there's more to do).

---

I don't think George figured this out, but we're using WebP now, so this is a non-issue.

---

This is done.

---

This is not done, but I'm not sure if it would ac

[2021-04-25 14:58] lucastbelem commented on #470
"Think we could add this to our homechurch finder…and let homechurches pick if they have accessible homes, bathrooms etc."

[2021-04-25 19:20] JonEsparaz opened #750 "Notes admin performance optimization"
@vanderwalrus reported that clicking the Bible passages button for today's notes (4/25/2021) caused Chrome to crashed. There were >70 Bible passages in total.

I tested on my machine and the process took ~10 minutes and used ~6 GB of memory. There weren't any crashes on my machine, but for an average machine with 8 GB RAM, Chrome would likely crash because of the memory usage.

To-do (in order of

[2021-04-27 02:44] GeorgeBellTMH commented on #748
Ok....so I think to keep things simple I have added a global.json and taken out most of the "location specific" information....this saves me from having to do a bunch of custom code we later take out....please take a quick look - it uses the main Facebook events and the main Instagram....I've moved the home church finder up higher...a bunch of the items don't show up right now because they don't h

[2021-04-27 02:54] GeorgeBellTMH opened #751 "Easter/Good Friday removal"
Someone needs to do a search for easter/Good Friday and change all the content back to what it was....

[2021-04-27 02:56] GeorgeBellTMH commented on #751
Note to see the changes on a page you can right click the file and choose Open Timeline....then click back in time...

[2021-04-27 04:13] JonEsparaz commented on #751
In case it's helpful, here's all files that include "easter" or "good friday":

[code]

I got this via `grep -ril "good friday\|easter" public/static/content/*.json public/static/data/*.json`.

[2021-04-27 07:28] GeorgeBellTMH commented on #748
I've added code on the backend to pull the timezone into the F1 data....just need to update the frontend to use it.

[2021-04-27 19:39] GeorgeBellTMH commented on #167
Ok, so I'm thinking a bit more about this now....here's the plan:

1. Create a list of search tests where we think specific results should be at the top, or it should give us specific results within the first few returned...this should give us a % of searches that are successful....and we can define tests that must, should, or ideally work...and keep a log over time...
2. Track what is being searc

[2021-04-27 19:46] GeorgeBellTMH commented on #167
I've added tests/SearchTests.json as a starting point...

[2021-04-29 20:36] lucastbelem commented on #553
Duplicate of #632

[2021-04-29 20:36] #553 closed

[2021-05-08 00:08] GeorgeBellTMH commented on #691
The fade can be copied from the existing fade on the main hero....

[2021-05-08 00:10] GeorgeBellTMH commented on #389
The basic sitemap can be generated from the menu data, location/site data and db queries for videos/blogs...this should be generated once every 6 hours by a lambda function and written to s3.

[2021-05-08 00:12] GeorgeBellTMH commented on #389
For blog RSS see: #270

[2021-05-08 21:34] JonEsparaz commented on #693
FYI, on Windows, there's horizontal scrolling on pretty much the entire website, regardless of window width.

(Note the horizontal scroll bar at the bottom of the screenshots).

## Home
![image](https://user-images.githubusercontent.com/48423418/117554071-56b55380-b023-11eb-9d62-e576027202b9.png)

## Teaching
![image](https://user-images.githubusercontent.com/48423418/117554077-62087f00-b023-11eb-

[2021-05-08 21:36] JonEsparaz commented on #693
This was supposedly fixed (per discussion in https://github.com/themeetinghouse/web/issues/486), but seems like it wasn't.

[2021-05-08 21:39] GeorgeBellTMH commented on #693
Hmmm...interesting...any idea which component is causing it? I don't have access to windows...might try installing the Mac IE and see if I can replicate....

[2021-05-10 15:30] deeinstereo commented on #731
@lucastbelem would love an update on this one

[2021-05-10 16:10] lucastbelem commented on #751
I might've asked @Carrissa Reffell ***@***.***> to take
care of this, but maybe she didn't get to it yet. Carrissa, would you be
able to take care of this one today or is your day full already?

On Mon, May 10, 2021 at 11:23 AM David Siekanowicz ***@***.***>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ex

[2021-05-10 17:18] deeinstereo commented on #751
@CarrissaReffell @lucastbelem again, my day is not full yet, I'm happy to jump in on this and help the team!

[2021-05-10 19:51] deeinstereo commented on #751
Nice! Can someone push it?

[2021-05-10 20:09] CarrissaReffell commented on #751
Im not seeing it published either but I made the changes....

On Mon, May 10, 2021 at 4:00 PM Lucas Belem ***@***.***>
wrote:

[2021-05-10 20:10] lucastbelem commented on #751
I see them...clear cache?

On Mon, May 10, 2021 at 4:09 PM CarrissaReffell ***@***.***>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient and may contain confidential informati

[2021-05-14 15:12] lucastbelem commented on #612
Menu scroll should likely stop before the footer.

[2021-05-14 15:46] lucastbelem opened #755 "oneImageBlackRight on /chosen page doesn't appear"
There is a module on the /chosen page titled "Resources" that isn't appearing on the website. I can't figure out why. @GeorgeBellTMH this page needs to be live for Sunday. Can you pls take a look?

[2021-05-14 19:07] lucastbelem opened #756 "Notes UX"
We've got some real user feedback about the notes button on the website not being very visible at first pass, and people not knowing they can click on it, especially when there is a big send questions button right then and there.

[2021-05-16 03:08] GeorgeBellTMH commented on #755
I see it....

[2021-05-16 03:08] #755 closed

[2021-05-16 03:11] GeorgeBellTMH commented on #751
@CarrissaReffell I still see the following:

Easter/Good Friday on - Brampton, parry-sound

[2021-05-16 04:12] GeorgeBellTMH commented on #167
cc: @lucastbelem @deeinstereo

So search is now working with the following: blogs, videos, staff, compassion...

It is currently disabled, but you can turn it on by changing the following file:

src/components/menu/menu.css
--
replace:
display: none;
with:
//display: none;

[2021-05-16 04:16] GeorgeBellTMH commented on #167
I have also added customization...here's how it works...

In static/content/search are two files:
beginSearch.json - this is what appears when you click the magnify glass (you can customize it using the same json that works in the rest of the content files...I have left it for you guys to customize)

toronto.json - this will be shown if you type "toronto" in the search bar...right now it is just a

[2021-05-16 04:19] GeorgeBellTMH commented on #167
I still have some work to go:
- [ ] Fix video search results
- [ ] Improve styling of search results
- [ ] X moves around
- [ ] Email
- [ ] Compassion should go somewhere?
- [ ] Blogs should go somewhere
- [ ] Missing arrows
- [ ] Animate arrows
- [ ] Search closed captioning

[2021-05-16 04:24] GeorgeBellTMH commented on #167
- [ ] Search HomeChurches
- [ ] Search Parishes
- [ ] Search Content
- [ ] Search Notes
- [ ] Search Playlists
- [ ] Add context to videos (teaching, kids etc.)
- [ ] Search Series
- [ ] Logging/stats

[2021-05-17 15:43] deeinstereo opened #757 "😧 New Baby Hero Image for Curated Teaching 😧"
I was playing around on /teaching-curated and decided to replace BBQ's from the featured baby hero with other content to see if it gets more interaction.

It's now pulling said video's thumbnail, but that doesn't look very good as a baby hero.

How can i upload a customized baby hero image for this video/playlist in this format on this page?

https://www.themeetinghouse.com/teaching-curated

[2021-05-17 20:58] deeinstereo opened #758 "🔎 Search on the teaching page? 🔎"
I know @GeorgeBellTMH has been working on the main search function, but I was just combing  our CrazyEgg data and a lot of users are accessing the search function on our teaching page and getting frustrated with the results (lots of rage clicks and dead clicks).
![Screen Shot 2021-05-17 at 4 35 17 PM](https://user-images.githubusercontent.com/47831068/118555471-bea91f80-b730-11eb-99d3-1bd65debfce8

[2021-05-18 07:40] GeorgeBellTMH commented on #167
I have created a search result renderRouter for the beginSearch.json...I have added three items to it...

[2021-05-18 07:41] GeorgeBellTMH opened #759 "Fix Podcast title"
Podcast title was formatted incorrectly on desktop...added some padding.

[2021-05-18 07:41] #759 closed

[2021-05-20 08:43] GeorgeBellTMH commented on #758
I'm closing and adding this to the main search ticket

[2021-05-20 08:43] #758 closed

[2021-05-20 08:44] GeorgeBellTMH commented on #167
- [ ] improve sub-searches (videos, blogs, etc.)

[2021-05-27 08:51] #748 closed

[2021-05-27 08:52] GeorgeBellTMH opened #760 "Timezones for homechurch"
Data is being loaded, just need to update frontend

[2021-05-30 20:21] JonEsparaz commented on #167
I'd like to point out two issues I noticed:

1. Blogs need to be filtered. Try searching "test", you'll see Test Story, which is an unlisted blog.
2. A more important concern: accessibility. Everything is a `<div>`, which is entirely inaccessible and non-compliant with WCAG standards. Please use buttons and links (and perhaps hide the search feature until this is fixed). @lucastbelem tagging you b

[2021-05-31 10:24] GeorgeBellTMH commented on #167
@lucastbelem suggest we clear out test stuff we don't need...I'll filter the unlisted stuff as well, but that doesn't guarantee it won't show up in other ways...

I'll have everything using buttons etc for tomorrow...

[2021-05-31 11:43] GeorgeBellTMH commented on #167
- [ ] search items are buttons
- [ ] search preview items are buttons
- [ ] search field is marked with search role

[2021-05-31 11:44] GeorgeBellTMH commented on #167
- [ ] filter unlisted items

[2021-05-31 11:46] GeorgeBellTMH commented on #167
- [ ] use the most recently run query instead of the most recently returned query...

[2021-05-31 11:46] GeorgeBellTMH commented on #167
- [ ] paging

[2021-06-01 15:39] lucastbelem commented on #583
@GeorgeBellTMH can you please add Aidan to this repo so we can assign work to him? Please assign this task to Aidan.

[2021-06-01 15:40] lucastbelem commented on #582
@GeorgeBellTMH please assign to Aidan.

[2021-06-03 03:24] JonEsparaz commented on #167
![image](https://user-images.githubusercontent.com/48423418/120581953-a9531700-c3f9-11eb-80d2-8004dc140e12.png)

The search button's position looks a little off.

[2021-06-03 16:52] RAidanM opened #765 "Play Button not appearing on videos"
The white Play Button no longer appears over videos inside of all video containers across the site.

[2021-06-03 18:01] RAidanM opened #766 "Zooming in and out non-functioning"
For chrome on windows, zooming in and out of the website (ctrl+scroll wheel, not pinching) does not change font size, image size, or general positioning properly.

![25%zoom](https://user-images.githubusercontent.com/77292564/120691198-24591380-c474-11eb-9669-b87f7ddd6b98.png)
-------------------
![250%zoom](https://user-images.githubusercontent.com/77292564/120691203-258a4080-c474-11eb-9a99-2a8c4

[2021-06-04 16:18] RAidanM opened #767 "Jesus Collective Logo not showing up on Locations page"
/static/images/about-us-5.png
This is the logo that should be appearing.
Other images do work in place of it as long as they are .jpg. My assumption on why it doesn't work is because it is .png unlike every other image inside of /static/images/ which are .jpg

Is the image's file type wrong or has .png functionality broken?

[2021-06-04 17:17] JonEsparaz commented on #767
This is a known issue: #673

[2021-06-06 15:13] GeorgeBellTMH commented on #767
Let's convert it to a JPG for now....the png stuff is complicated by a bunch of stuff that I don't have time to fix right now...basically there is an issue with our forwarding code on (somewhere in the code on cloud front, s3, api gateway or lambda...)

[2021-06-08 14:01] #760 closed

[2021-06-11 13:44] RAidanM commented on #583
All image elements now have alt text

[2021-06-11 13:44] #583 closed

[2021-06-11 16:54] RAidanM commented on #581
All inputs seem to already have labels

[2021-06-11 16:55] #581 closed

[2021-06-14 13:29] #582 closed

[2021-06-16 19:07] deeinstereo opened #776 "Teaching Series Experience Highlights Overload"
Click on any series and a new window opens with the 1st video, scroll down you get highlights, scroll lower and you get episodes.

For series like Faithful One where there are 20+ highlights, it gets really messy when you have to scroll through rows and rows before you can see the teaching videos.

We should fix this so that you never have to scroll through more than one row, and then you can alwa

[2021-06-21 01:32] GeorgeBellTMH opened #781 "New safari versions are downloading jpg and webp images at same time..."
If browser supports webp, we should only download webp.

[2021-06-21 04:27] GeorgeBellTMH opened #783 "Donation/Login/Account Page Mega Ticket"
Prelim stuff:

* [x] Temporary Login Page
* [x] Temporary Signup Page
* [x] Temporary Account Main Landing Page
* [x] Database tables for User/Profile
* [x] Create Stripe Users
* [x] Update Stripe Users data and TMHUser DB
* [x] Link with F1

Flows

* [x] Create a one-time payment (no user)
* [x] Create a one-time payment (and create user)
* [x] Create a re-curring payment (and create user)
* [x]

[2021-06-21 04:47] GeorgeBellTMH commented on #783
@lucastbelem let us know when Jen is done on the design aspects...also is there a way for her to move them to smaller Figma? The one that is there now keeps crashing on me...just a "final approved" Figma project for this project would be great.

Also, not sure if we have a design for login/create a user yet...there are two ways to do it...a full on login page, or a component that we can add on oth

[2021-06-24 13:43] #767 closed

[2021-06-27 11:45] lucastbelem opened #785 "Livestreams won't update in admin"
A couple of pastors requested zoom link changes this morning. I went to /admin and "livestream" to make the update as usual. However, when I tried to save the livestream settings, nothing happened. My console just threw up a 401 error.

[2021-06-27 14:07] JonEsparaz commented on #785
I don't think this is a bug per se. Did you try logging out and logging back in.

Recall:

https://github.com/themeetinghouse/web/pull/703#issuecomment-812516595

https://github.com/themeetinghouse/web/pull/703#issuecomment-812536241

https://github.com/themeetinghouse/web/pull/703#issuecomment-812546524

[2021-06-27 14:09] JonEsparaz commented on #785
If we want a "solution", I suggest adding try-catch log to admin that throws a toast or modal when there's a 401 error informing the user they need to reauthenticate.

[2021-06-27 14:17] lucastbelem commented on #785
Ok makes sense. I didn't try logging out and back in...for some reason I
never think of that. My bad.

Yes to the toast idea (I love bread). But also, what can we do so that this
doesn't keep happening? I feel like every month or so something like this
comes up.

On Sun., Jun. 27, 2021, 10:09 a.m. Jon Esparaz, ***@***.***>
wrote:

[2021-06-27 16:00] JonEsparaz commented on #785
From what I can tell, the Cognito tokens expire after 7 days, but can persist in the browser's local storage even after expiration.

Problem: if 7+ days pass and you've been visiting the admin pages (but don't actually make an authenticated API request) during that time, the tokens will persist in local storage (so you won't see the sign-in screen), but won't actually refresh (because tokens are r

[2021-06-27 16:10] GeorgeBellTMH commented on #785
This should get fixed in the upcoming versions of the site as we redo/add authentication for donations on the main site.

I suspect we will add a pageConfig item that will add the auth pieces to specific pages in the background (eventually maybe even homepage) and a bunch of renderRouter components...so hopefully users get refreshed tokens more often.

We can also definitely look at changing the t

[2021-06-30 18:58] GeorgeBellTMH commented on #783
Added a few more pages of the auth flows...pushing db tables now....

[2021-07-05 21:12] GeorgeBellTMH commented on #783
➤ Lucas Belem commented:

I'm creating a separate ticket for the design stuff.

[2021-07-05 21:12] GeorgeBellTMH opened #786 "UI for new giving experience"
Design Stuff - Desktop/Mobile (@itbel)

* [ ] Giving Page
* [ ] Login page design
* [ ] Create user design
* [x] Customizable Menu for Account Portal Landing Page
* [ ] Page components for Account Portal Landing Page (My Total Giving, Recent Transactions, Profile, Payment Methods, Tax Receipts)

Design found here: https://www.figma.com/file/pm8jTuHb1eshVL2HkwRQS9/TMH-UI-Jen?node-id=1669%3A15384

[2021-07-06 17:59] GeorgeBellTMH commented on #785
Closing...

[2021-07-06 17:59] #785 closed

[2021-07-06 23:48] GeorgeBellTMH commented on #786
I've repointed the features/payments branch to a new test environment....https://d1bp8606u0j0nh.cloudfront.net

Just note that the db is essentially empty, so no videos etc...

cc @lucastbelem

[2021-07-15 16:48] lucastbelem commented on #670
@RAidanM

[2021-07-16 14:17] lucastbelem opened #794 "Events module is gone"
After merging of the events module, no events appear for any location on the website. @RAidanM could you pls take a look?

[2021-07-16 14:31] lucastbelem commented on #731
@RAidanM the dropdown box is not aligned with the text on the left. Could you please revisit?

[2021-07-16 19:12] GeorgeBellTMH commented on #794
<img width="1041" alt="Screen Shot 2021-07-16 at 12 11 40 PM" src="https://user-images.githubusercontent.com/47749730/125997425-c1f289b1-13b2-4dfe-a9bd-79cbc1986109.png">

@RAidanM can you hide the header if there are no events....

[2021-07-16 19:12] GeorgeBellTMH commented on #794
(that's toronto-downtown)

[2021-07-16 20:37] RAidanM opened #798 "Aidan's Master List of Issues"
Not in any particular order of priority:

**"Upcoming Event" Module**

* [x]  Some parishes are not propelling displaying events (e.g. waterloo)

**Alt Text**

* [x] Teaching Black box often use incorrect alt text
* [x] Alt text for all videos on the teaching page (including kids, youth, adult page videos) are not formatted the same way leading to inconsistencies across all alt text for thumbnails

[2021-07-17 02:02] #794 closed

[2021-07-17 02:09] GeorgeBellTMH opened #801 "Pull leaders from F1"
In preparation for the home church leader experience, pull the leaders from F1 and put users in the correct group.

[ ] - On login get the householdId and personId from F1 based on the verified email address
[ ] - Get list of groups in F1 that the user is associated with, and the membership type (leader or member)
[ ] - Setup groups as appropriate in cognito....

Static Groups:
 - leader
 - leader

[2021-07-17 02:16] lucastbelem commented on #801
Others worth considering - welcome/connect, tech, setup, music coordinators, lead pastors...there may use for having all of them there...but the priority is Home church leaders.

[2021-07-18 16:58] lucastbelem opened #803 "Livestream setting issue"
This morning, the livestream didn't appear on the website. I checked admin and sure enough it was NOT there. I checked with Carrissa and she did set it up. Somehow, between Wednesday and today, it disappeared.

I was able to set it up this morning. My guess is that it's that logout/log in issue. However, with that issue, the livestream doesn't save at all. In @CarrissaReffell's case, it looks like

[2021-07-18 20:06] JonEsparaz commented on #803
I was working on other stuff and saw this issue.

If I can provide two recommendations:
1. Create a cron Lambda, that on Friday morning, checks that the livestream is found in the database and email people with the result: all good ✅ or whoop whoop it's not there ⚠️.
2. Create a testing page `/livestream-test` that uses the _exact same_ GraphQL queries (move them to a shared file) as the actual li

[2021-07-18 20:18] JonEsparaz commented on #236
The remain two tasks are tracked in #351.

There are open PRs handle other features requested in this issue.

[2021-07-18 20:18] #236 closed

[2021-07-18 20:30] #384 closed

[2021-07-24 21:38] GeorgeBellTMH commented on #786
@itbel  -I added the stripe components for credit card/cvc and expiry, can you go in and restyle them...

- [ ] Style the creditcard/cvc/expiry using the stripe objects
- [ ] Make the disabled style of the add card button look disabled...

[2021-07-25 03:54] itbel commented on #786
Ok. Will do!

[2021-08-04 06:23] #351 closed

[2021-08-09 15:32] lucastbelem opened #811 "New variations of list component"
The list component currently functions by allowing us to create a list of items that are connect to a link that item can navigate to. Could we create a new component based on this, but instead of the entire item being clickable, multiple links exist within one item, below the text area? So there is still a title and description for the item, but then multiple links (and therefore the grey area its

[2021-08-09 15:33] lucastbelem commented on #811
Here a mock up of what I have in mind:

![03_Elders_v1](https://user-images.githubusercontent.com/48295718/128732839-171e3a65-49e6-4bca-8938-d62999c79be8.jpg)

[2021-08-09 15:35] lucastbelem opened #812 "Blog index"
@JonEsparaz  I know we have the ability to hide a post from the main index, but do we have the ability to have indexes based on blog series?

[2021-08-09 18:27] #812 closed

[2021-08-09 18:52] lucastbelem commented on #811
@JonEsparaz here is the update I promised you:

Can you make 2 variations of the list component?

1. List with links
- [ ] Grey hover state not needed (as the item isn't clickable)
- [ ] Links should be styled as in the MAD module (more space and animated arrows for each)
- [ ] If needed, move text elements up to line up with image so there is more room for hyperlinks

2. List with links (black ba

[2021-08-09 19:23] lucastbelem opened #813 "Share button on the Watch page appears to be broken"
When you click "share" and select "email" as the option, nothing happens. Here is a screenshot:

<img width="1438" alt="Screen Shot 2021-08-09 at 3 21 08 PM" src="https://user-images.githubusercontent.com/48295718/128762225-4f1f3f20-7071-4e9f-bcce-c0883808cf34.png">

[2021-08-10 14:38] lucastbelem commented on #811
Here is the mock up we talked about. Please note that if we have too many links, the section where the links sit should expand. The image beside it shouldn't, but there should be even space added between item 1 and 2 (i.e. between the entire infants & kids section and the other HC resources section).

The second variation is the same, but white on black.

![02_InfoDesk_v3](https://user-images.gith

[2021-08-11 04:21] #811 closed

[2021-08-11 17:44] lucastbelem commented on #693
@itbel not for now, but there is a recommendation here from Jon on what could solve this.

[2021-08-11 23:48] lucastbelem opened #815 "Secondary action link on hero box"
@JonEsparaz Do you know if we ever developed the secondary action in the attached image?
![Content Modules](https://user-images.githubusercontent.com/48295718/129117899-0fdee599-6382-4081-8dc2-99e3df9d241d.png)

[2021-08-11 23:51] lucastbelem commented on #815
I'm referring to the action in the black box right at the top, in the first hero.

[2021-08-11 23:54] JonEsparaz commented on #815
This hasn't been implemented in the React code.

[2021-08-12 00:00] lucastbelem commented on #815
Dang! Ok. I'll line it up for implementation.

[2021-08-12 21:21] lucastbelem commented on #815
@itbel please develop a way for us to be able to have a secondary link/button in a hero black box as per the Figma file attache.

[2021-08-13 04:20] lucastbelem opened #817 "Mirror Make a Difference"
There is a component on the TMH website called "MAD". I need a mirror version of this component (rather than text and bullet points on the left with an image on the right, I need a variation that has text and bullet points on the right with an image on the left. Here is an image of the module for reference. You can also find it in Figma.
<img width="1124" alt="Screen Shot 2021-08-12 at 11 11 20 PM

[2021-08-13 04:25] lucastbelem opened #818 "New variations of the Connect module"
The connect component found at the bottom of most pages. I need 2 variations:

1. No email field, change button to white fill, centre, make it possible for admins to choose what is said on the button and where it points.
2. No email field, keep button black, 2 buttons, centre aligned, make it possible for admins to choose what is said on the button and where it points.

Mock up for first variation

[2021-08-17 17:38] #815 closed

[2021-08-17 17:38] #817 closed

[2021-08-17 19:09] #818 closed

[2021-08-25 01:52] lucastbelem opened #826 "White background blog component spacing"
I added the component to this page: themeetinghouse.com/fall2021test. It works perfectly. However, the spacing before and after seems a bit large. Can we reduce the space at least after the component?

[2021-08-27 04:02] GeorgeBellTMH opened #831 "List Users groups in profile section of Portal"
To help with debugging it would be great to show the users groups in tag form above the logout button...

Groups: [Admin] [Elder] [Staff] etc.

We can hide [Participant]

[2021-08-30 02:22] GeorgeBellTMH commented on #801
This is done. Group names match what is in F1

[2021-08-30 02:22] #801 closed

[2021-08-30 21:09] lucastbelem opened #835 "Blog banner not appearing"
I uploaded a blog banner as required (correct spec and format) but it's not appearing in the blog. Any ideas why?

Here is an example: https://www.themeetinghouse.com/posts/oakville-in-person-gatherings

[2021-08-30 21:10] lucastbelem opened #836 "Popular teaching and highlights broken?"
If you go themeetinghouse.com/teaching you'll see that these 2 playlists seem off. There are only 3 videos in popular teaching and none in highlights. @GeorgeBellTMH could this be related to the maintenance you did this weekend?

[2021-08-30 21:46] GeorgeBellTMH commented on #836
This is due to the code not pulling the number of views from YouTube...currently this happens when you import the video (and the number of views is going to be below the threshold)...we need to move the logic into a scheduled lambda and run it a few times a week.

[2021-08-30 21:46] GeorgeBellTMH commented on #836
For now you can just change the duration and views so that something is visible...

[2021-08-30 21:57] GeorgeBellTMH commented on #835
I don't see it in the static/photos/blogs folder...

[2021-08-30 21:57] GeorgeBellTMH commented on #835
I think we may have upload functionality, but not sure if it's been tested or validated to work...

[2021-08-30 22:04] GeorgeBellTMH commented on #122
Can we close? I think we will need another system given the live stream is now at the top...

[2021-08-30 22:15] GeorgeBellTMH commented on #693
Done.

[2021-08-30 22:15] #693 closed

[2021-08-30 22:47] GeorgeBellTMH commented on #765
Fixed

[2021-08-30 22:47] #765 closed

[2021-08-30 22:49] #751 closed

[2021-08-30 22:59] GeorgeBellTMH commented on #743
Has this ever happened again, or can we close?

[2021-08-31 00:16] lucastbelem commented on #122
Yeah, closing.

[2021-08-31 00:16] #122 closed

[2021-08-31 20:03] lucastbelem commented on #835
@itbel can you take a look pls?

[2021-08-31 20:03] #826 closed

[2021-08-31 22:38] JonEsparaz commented on #835
A few notes as there seems to be some confusion.

This was implemented (and tested) in https://github.com/themeetinghouse/web/pull/804. The post "Oakville in-person gatherings", found here: https://www.themeetinghouse.com/oakville, uses an image uploaded via the admin page.

@lucastbelem the blog banner image does not get magically injected into the blog post body. You need to upload the image sep

[2021-09-01 13:02] lucastbelem commented on #615
@itbel can you pls take a look?

[2021-09-01 17:50] GeorgeBellTMH commented on #835
Thanks @JonEsparaz, I didn't realize it was done...cool!

@lucastbelem I am closing unless you have further problems...

[2021-09-01 17:50] #835 closed

[2021-09-03 18:27] lucastbelem commented on #632
This hasn't been a problem in a long while, so I'm gonna consider it solved for now.

[2021-09-03 18:29] lucastbelem opened #840 "Videos from youtube outside of a playlist"
Can we make it possible to pull videos from youtube into our website without them having to be in a playlist? Not every video belongs with a playlist, so in order to bring some videos in, sometimes I have to add them to a playlist that has nothing to do with the video to get the video imported. For a few moments, the video appears in an unrelated playlist. This is also a problem because some video

[2021-09-05 12:42] lucastbelem opened #841 "Series that span multiple years"
Currently, series that span multiple years appear in the first year for that series in the archive. Can we change this to have the series display in the latest year for the series? For example, Jesus People spans from 2015 to 2021, but it appears in 2015, instead of 2021. Can we change it so that it appears in 2021? That way, whenever we have a new episode for a series, it gets moved up in the arc

[2021-09-05 13:51] lucastbelem opened #842 "Graphic won't upload to visual code"
Any ideas why? When I drop it in the correct folder, it tells me it'll replace the old graphic with the same (which is exactly what I want to do). But then it creates 2 changes instead of 1. And one of the changes I cannot stage, but it doesn't tell me why. The file name is the exact same.

[2021-09-06 03:21] GeorgeBellTMH opened #844 "Weird naming of parishes in Sunday Registration"
![IMG_007F8D329D1E-1](https://user-images.githubusercontent.com/47749730/132156108-4a8cfd78-0c44-4e85-a596-151760dd6cfa.jpeg)

[2021-09-06 03:23] GeorgeBellTMH opened #845 "X is out of place on mobile (iPhone X)"
![IMG_007F8D329D1E-1](https://user-images.githubusercontent.com/47749730/132156282-845117a2-1894-4660-91e1-95628d056663.jpeg)

[2021-09-06 03:28] GeorgeBellTMH opened #846 "Suggestion for Sunday Registration"
* [ ] make Sunday Registration as a menu item under Fall 2021...this will make it available from the menu when you expand it...
* [ ] On the Fall 2021 we have See our plan as a link...I think we should also add Sunday Registration as well, maybe as a button...

[2021-09-06 03:30] GeorgeBellTMH commented on #844
Also not sure what NC means...

[2021-09-07 17:17] GeorgeBellTMH commented on #842
maybe it is capitals or something messing it up?

[2021-09-07 17:19] GeorgeBellTMH commented on #840
something like an inline video? or the ability to make the left/right white/black box images videos?

[2021-09-07 18:00] lucastbelem commented on #840
Sorry, I wasn't clear. No difference to the end user...just the way videos are pulled from youtube.

[2021-09-07 20:50] lucastbelem opened #848 "Video urls"
Hey @GeorgeBellTMH how come if I go to themeetinghouse.com/fall2021 page and click "watch video" I get a url that is specific to that video, but if I go to themeetinghouse.com/training and click on one of the videos, I get a url for the page rather than the video?

[2021-09-07 20:57] lucastbelem opened #849 "Sunday registration time logic and text"
@itbel can you please change the logic for registration opens at 5pm? And the copy too?

Sorry, leadership is changed their minds.

[2021-09-07 21:13] GeorgeBellTMH commented on #848
It is saying in the logs that you don't have a series associated with that video...

[2021-09-07 21:14] GeorgeBellTMH commented on #848
video urls are videos/[seriesid]/[youtubeid] ...so without a seriesId it has no idea what the url should be...

[2021-09-07 21:15] lucastbelem commented on #848
But I don't have a series for the video on the Fall 2021 page either.

On Tue, Sep 7, 2021 at 5:14 PM George Bell ***@***.***> wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient

[2021-09-07 21:17] georgevicbell commented on #848
It says https://www.themeetinghouse.com/videos/Regather/0xRFgRdwWlM

So Regather is the series…

Also you are linking directly to it from that page, instead of the links being auto-generated on the list...

G

On Sep 7, 2021, at 2:15 PM, Lucas Belem ***@***.******@***.***>> wrote:

But I don't have a series for the video on the Fall 2021 page either.

On Tue, Sep 7, 2021 at 5:14 PM George Bell ***

[2021-09-07 21:40] GeorgeBellTMH opened #850 "Homechurch improvements"
Waiting for confirmation of how we should do this, but for now I have added the following to the DB assuming that we will go that route...

HomeChurchInfo table
- to edit you must be in the group Admin or HomechurchEditor group
OR
- your userId(email) must be added to the list of elders for that homechurch

Currently there are no homechurches setup...but the progmatic process will be:
1. Get the l

[2021-09-08 17:57] #849 closed

[2021-09-08 18:32] GeorgeBellTMH opened #852 "Nothing showing up on blog page"
Blog page is returning only the first blog item...should have a list...

[2021-09-08 18:44] GeorgeBellTMH commented on #852
Fixed...

[2021-09-08 18:44] #852 closed

[2021-09-08 21:46] lucastbelem commented on #850
This looks great. A couple of comments:

- Elders should not be able to edit their own home churches yet, so only Admins and HomeChurchEditor can edit the group.
- I'm assuming the fields generate the pills (i.e. petFree:String - Yes means that a pill that says "pet free" appears).
- I updated some of the defaults in the original comment from @GeorgeBellTMH.

This is really great. I got Roger's bl

[2021-09-08 22:11] lucastbelem commented on #844
Yeah....believe it or not....that's on purpose. :(

On Sun, Sep 5, 2021 at 11:30 PM George Bell ***@***.***>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient and may contain c

[2021-09-08 22:11] lucastbelem commented on #845
@itbel

[2021-09-09 21:23] lucastbelem opened #856 "Series date order"
At the moment, series appear in the archives under the year based on their start date of that series (this applies only to series that repeat annually, like Jesus People).

Can we change this so that the series is displayed based on the end date?

By doing this, if I change Jesus people to:
Starting: 2015-08-01
Ending: 2021-09-05

Then Jesus People would appear in the carousel as our latest series

[2021-09-10 21:57] lucastbelem commented on #836
@GeorgeBellTMH sorry dude...I didn't follow what you said.

This is the first time we've had this issue. Did something change?

[2021-09-10 22:22] lucastbelem commented on #842
@GeorgeBellTMH the file I'm using has the exact same name...it replaces when I drop it but then when I go to commit the change in source control, it creates 2 changes...one that I can't click on or stage.

Help?
![Screen Shot 2021-09-10 at 6 21 09 PM](https://user-images.githubusercontent.com/48295718/132923725-054246d3-fa5c-4666-879e-e2ae1dd29c2c.png)

[2021-09-11 01:23] GeorgeBellTMH commented on #836
Basically when you import the view information the number is gonna be pretty close to zero…I think we need to make a lambda that runs each night and gets updated numbers.

Sent from my iPhone

[2021-09-11 01:23] GeorgeBellTMH commented on #842
You should still be able to click +…

Sent from my iPhone

[2021-09-11 11:44] lucastbelem commented on #842
I know, but I can't. Can I send you the file to try and upload on your end?

On Fri., Sep. 10, 2021, 9:23 p.m. George Bell, ***@***.***>
wrote:

[2021-09-11 18:46] GeorgeBellTMH commented on #842
Sure

[2021-09-12 11:23] lucastbelem opened #858 "Images loading too slowly"
<img width="1430" alt="Screen Shot 2021-09-12 at 7 22 51 AM" src="https://user-images.githubusercontent.com/48295718/132985628-9d89c741-81fb-4594-9765-5f37b46658cb.png">

[2021-09-12 11:29] lucastbelem commented on #842
@GeorgeBellTMH
![adult-sunday-Jesus People](https://user-images.githubusercontent.com/48295718/132985780-78d486ac-c420-479b-aca1-2d49b6dd77c6.jpg)

[2021-09-14 19:25] lucastbelem commented on #842
@GeorgeBellTMH this is the issue I was talking about. This Jesus People graphic won't upload. Also, the new Welcome Home series should have the new graphic, but it displays the old graphic in the carousel...once I click to see the entire series archive, it display the correct series with the correct graphic.

[2021-09-15 04:38] #842 closed

[2021-09-15 04:38] GeorgeBellTMH commented on #842
Should be working now...

[2021-09-15 04:39] GeorgeBellTMH commented on #858
?

[2021-09-15 13:08] #858 closed

[2021-09-17 20:11] GeorgeBellTMH opened #859 "Leaders day webpage"
**Creating spaces that work for the whole family**
**Creating Community In An Online World**
**Caring for others while caring for yourself**
**What are Fresh Expressions of Church?**
**Idea sharing lobby: Coordinators connect**
**Walking Through Divisive Days As a Leader**
**Simple Ways To Become More Invested In Your Neighbourhood**

[2021-09-17 22:51] GeorgeBellTMH commented on #859
Huh? How did I create this?

[2021-09-17 23:15] lucastbelem commented on #859
It was me...whenever I create something through wrike it says you created
it haha

On Fri., Sep. 17, 2021, 6:51 p.m. George Bell, ***@***.***>
wrote:

[2021-09-26 16:52] JonEsparaz opened #861 "UI bug in "Notes are better in the app" component"
I noted this in the breaking commit a couple months ago: https://github.com/themeetinghouse/web/commit/8874f74b371e53797b909215bdee5cc07e8d2c63#r53662073

See screenshot:
<img src=https://user-images.githubusercontent.com/48423418/134816774-e4fc074a-a01f-451a-9670-e7c406b17e1c.png width=300>

The close button's styles are broken.

[2021-09-26 16:56] JonEsparaz opened #862 "Unit tests are not running in CI"
Happening since https://github.com/themeetinghouse/web/commit/bb1cdf1d556e043ffc142eade4ee4834fe82f6bf.

It's important that the unit tests are run on PRs and on push to prevent unexpected regressions.

[2021-09-27 02:19] GeorgeBellTMH commented on #783
Closing this ticket and starting to track bugs/improvements in separate tickets...

[2021-09-27 02:19] #783 closed

[2021-09-27 02:20] GeorgeBellTMH commented on #786
Closing this ticket and starting to create separate tickets for improvements/fixes.

[2021-09-27 02:20] #786 closed

[2021-09-27 02:30] GeorgeBellTMH opened #863 "Giving improvements"
George

* [x] My Total Giving not calculated (temporarily hidden)
* [x] Profile image not working (temporarily hidden)
* [ ] Home->Payment Methods - default payment method needs to be loaded from customer info....
* [x] Home->Recent Transactions needs to be sorted by date
* [ ] Give->Recurring->1/15 doesn't work yet, requires some extra code for subscriptions
* [x] Ability to see all subscriptions

[2021-09-28 02:01] #862 closed

[2021-09-28 17:18] lucastbelem commented on #863
- [ ] Recurring button doesn't do anything.

[2021-10-01 21:21] lucastbelem opened #866 "Cannot create livestream event"
Lauren tried to create the livestreams for this weekend and was unable to. It won't save. It won't appear. She tried logging out and back in and no luck.

Could somebody pls take a look before Sunday?

[2021-10-03 01:06] lucastbelem commented on #866
@GeorgeBellTMH whatever you did, fixed the church link, but didn't make the After Party appear. Here is the id: Live-65a55e39-bb75-4fb9-8f5c-5c3b7388638a. It's in Dynamo, but isn't appearing on the website. I changed my clock to test and no luck.

[2021-10-04 04:43] GeorgeBellTMH commented on #866
Basically it looks like an issue with too many items in the DB...I just deleted the old items...should be good for another 2 years...

[2021-10-04 04:44] #866 closed

[2021-10-06 19:51] lucastbelem opened #867 "Blogs appear out of order"
@JonEsparaz if you go themeetinghouse.com/fall2021 you'll notice that blogs are appearing out of order (assuming the correct order should be based on publish date). Do you know why that might be?

[2021-10-07 02:44] lucastbelem commented on #867
Haha that makes sense. Thanks man!

On Wed., Oct. 6, 2021, 8:12 p.m. Jon Esparaz, ***@***.***>
wrote:

[2021-10-07 22:18] GeorgeBellTMH opened #869 "Annual report - Develop new components"

[2021-10-10 11:46] lucastbelem opened #870 "Spinner is not functioning correctly"
This occurs anywhere this spinner is implemented. I've seen it at least in the location of the attached screenshot and the new give dashboard
<img width="1034" alt="Screen Shot 2021-10-10 at 7 45 44 AM" src="https://user-images.githubusercontent.com/48295718/136694178-b2bf3f7e-ef9d-4eb9-bbc8-cdbc7ffd3495.png">
.

[2021-10-10 12:21] lucastbelem opened #871 "Image not appearing in App"
I uploaded new graphics in commit cf7bb03, but the image is not appearing in the app for the notes image.

[2021-10-10 20:16] #867 closed, assigned to nobody

[2021-10-12 15:16] #871 closed

[2021-10-14 14:55] laurengermain opened #872 "Download buttons not working in JC beta"
![Screen Shot 2021-10-14 at 10 53 02 AM](https://user-images.githubusercontent.com/89869101/137343094-935799d3-4537-4285-ad6c-880ad239273e.png)

[2021-10-14 17:20] #872 closed

[2021-10-14 21:13] lucastbelem opened #873 "Blogs duplicated and loading incorrectly"
Blogs on the home page are:

- Not displaying the latest blog;
- Displaying duplicate blogs;
- Cycling through the blogs right on the page.

[2021-10-25 16:01] nadamico opened #882 "Typo on COVID Registration page"
The fourth bullet point should be split in two so it should read:

- You (or anyone you live with) have not received a COVID alert exposure notification on your mobile in the last 14 days.
- You have no been out of Canada in the last 14 days.
![Screenshot](https://user-images.githubusercontent.com/58789466/138730063-7d69f0da-c9e7-45b1-98dd-889d4a421dc9.jpg)

[2021-10-25 16:25] lucastbelem opened #883 "/signin seems to not be accessible in the building"
I asked Aaron to create an account at /signin, but the page never loaded for him while on the TMH network. Any reason why?

@branden-eyk @GeorgeBellTMH

[2021-10-26 18:59] lucastbelem opened #884 "Owen Sound is no longer a Parish"
How do we go about removing Owen Sound's presence on the website and the app? No parish page on either application, for example.

[2021-10-27 15:57] laurengermain opened #885 "Staff photo looking squished"
Christian Nikodemus's photo is squished on the staff page. I've replaced it with a new photo but it's not appearing.

![Screen Shot 2021-10-27 at 11 54 30 AM](https://user-images.githubusercontent.com/89869101/139102199-38dbceac-c27e-4210-b3ac-d7abf4e46f7a.png)
![Screen Shot 2021-10-27 at 11 55 00 AM](https://user-images.githubusercontent.com/89869101/139102221-a321e01a-9f55-4f5f-a712-4ef1ed54b78c

[2021-10-30 05:52] GeorgeBellTMH commented on #885
I've reset the photos, please take a look...

[2021-10-30 05:52] #885 closed

[2021-11-01 16:02] lucastbelem opened #886 "HC admin sorting"
Can we alphabetize the list of home churches that appear on admin by home church name?

[2021-11-05 21:42] itbel commented on #886
Yes. On it

[2021-11-08 19:38] #886 closed

[2021-11-08 19:42] GeorgeBellTMH commented on #884
Do you want me to do this?

[2021-11-08 19:45] lucastbelem commented on #884
Yes pls!

On Mon, Nov 8, 2021 at 2:42 PM George Bell ***@***.***> wrote:

--

*Lucas Belem*

Communications Project Manager
*Vacation Alert – I will be off Nov 14th – 21st*

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient and may con

[2021-11-09 01:29] GeorgeBellTMH commented on #884
This is done...@lucasbelem please ensure no homechurches in F1 are still linked to it...

[2021-11-09 01:29] #884 closed

[2021-11-10 16:00] lucastbelem opened #888 "isYoungAdult Pill"
@itbel The Young Adult pill appears on both app and web as "inYoungAdult". Can you change that to just "Young Adult"?

[2021-11-15 06:45] GeorgeBellTMH opened #889 "Kids/Youth issues/opportunities ;-)"
* [ ] Midweek information (time/date/location) for each site should be on the site pages
* [ ] How to talk about our kids and youth curriculum on the website

[2021-11-15 06:46] GeorgeBellTMH commented on #889
#716 was one we worked on a while ago...but never finished...

[2021-11-16 19:56] GeorgeBellTMH opened #890 "Add TMH downtown Spotify localteaching"
Find somewhere on the TMH downtown Toronto site to add local teaching

https://open.spotify.com/episode/5hJXyfBl8ml6KUSLsIIlMf?si=GU8f_OBjS4uNTM3JVTNAYw&nd=1&utm_medium=organic&_branch_referrer=H4sIAAAAAAAAA72NUU%2BDMBzEP015hAw2ZCbEgJPJJmwTcOyJYGlH2R%2FatKDipxdM%2FAom93C5y%2B%2Bu7nuh7g1DCd4zOuqlEDqw7mY8CMmrAfcuF6TTkLmkA0AxSHDrGUGWh8xg0lzrfzTm7RQRwRSvyORW9S4fqQ9OC%2FY%2BS15UGEJEkRUohqzNNnNocfCbZDnE

[2021-11-18 05:17] GeorgeBellTMH commented on #890
I've added this to the Downtown Toronto page at the bottom...local teaching with a link to Spotify.

@lucastbelem let me know if this works...just figured since they are doing this for 3 weeks it was worth putting on the page...(it's also on their instagram etc.)

[2021-11-18 05:18] #890 closed

[2021-11-18 05:19] GeorgeBellTMH opened #891 "Add other local teaching to site pages..."
Replicate based on downtown-toronto

[2021-11-18 05:20] GeorgeBellTMH commented on #890
#891 to do all the rest...

[2021-11-18 05:36] GeorgeBellTMH commented on #889
I've created a map/time/date list for midweek youth stuff...

tmh.com/find-midweek-youth

Someone will need to update static/data/youth.json

Let me know if there are any cases where we need to modify it to work better...

[2021-11-18 05:39] GeorgeBellTMH commented on #888
This is working on web...

[2021-11-18 05:39] #888 closed

[2021-11-18 05:43] #882 closed

[2021-11-18 05:43] GeorgeBellTMH commented on #882
Copy is different now...

[2021-11-18 05:48] GeorgeBellTMH commented on #861
Fixed

[2021-11-18 05:48] #861 closed

[2021-11-18 05:49] GeorgeBellTMH commented on #859
Closing

[2021-11-18 05:49] #859 closed

[2021-11-18 05:49] GeorgeBellTMH commented on #869
Am closing since I don't think we need this anymore/not sure what it is...

[2021-11-18 05:49] #869 closed

[2021-11-18 05:50] #844 closed

[2021-11-18 05:51] GeorgeBellTMH commented on #846
Closing this...

[2021-11-18 05:51] #846 closed

[2021-11-18 05:52] GeorgeBellTMH commented on #743
Closing

[2021-11-18 05:52] #743 closed

[2021-11-18 05:53] GeorgeBellTMH commented on #716
Moved youth data to a separate file and created a map component...(still need someone in the know to populate the youth.json...

[2021-11-18 05:55] #731 closed

[2021-11-18 05:57] GeorgeBellTMH commented on #210
Closing this as a lot of it is done, or not needed anymore...@lucastbelem, if there is anything in here that still needs to be done please create separate tickets and prioritize.

[2021-11-18 05:57] #210 closed

[2021-11-18 06:13] GeorgeBellTMH commented on #685
Good news! This is now possible...the format is:

content: [
....,
{
        "type": "timer",
        "after": "2021-09-09",
        "contentNow": [],
        "contentFuture": []
,...
]

[2021-11-18 06:14] GeorgeBellTMH commented on #685
Basically any of the components that are in contentNow will show up until "after" is hit...at which point contentFuture will show up...

you can have any, or all of the content on a page in the timer...

[2021-11-18 06:16] GeorgeBellTMH commented on #685
cc: @nadamico @laurengermain @CarrissaReffell may make some of your tasks a bit less time dependent...

[2021-11-18 06:19] GeorgeBellTMH commented on #685
Note: you can test this by changing your clock on your local machine...ideally we remove these after they have switched over unless they will be reused...

[2021-11-18 06:19] #685 closed

[2021-11-18 06:30] GeorgeBellTMH commented on #360
Closing this, not sure it's necessary

[2021-11-18 06:30] #360 closed

[2021-11-18 06:33] GeorgeBellTMH opened #892 "Optionally pull events from Eventbrite"
So the idea would be to let each site choose to either use eventbrite or Facebook for their event data...

[2021-11-18 06:33] GeorgeBellTMH commented on #123
Closing in favour of #892

[2021-11-18 06:33] #123 closed

[2021-11-18 06:34] #127 closed

[2021-11-18 06:35] #353 closed

[2021-11-18 06:36] GeorgeBellTMH commented on #470
Closing this as most of it is done...@lucastbelem please create new tickets if any missing...

[2021-11-18 06:36] #470 closed

[2021-11-18 06:38] GeorgeBellTMH commented on #614
Closing this as I think a lot of it is done already....

[2021-11-18 06:38] #614 closed

[2021-11-18 06:49] GeorgeBellTMH commented on #616
Appears to be fixed.

[2021-11-18 06:49] #616 closed

[2021-11-18 06:53] GeorgeBellTMH commented on #716
Closing and tracking in #889

[2021-11-18 06:53] #716 closed

[2021-11-18 06:55] GeorgeBellTMH commented on #591
How are we doing on this @lucastbelem ?

[2021-11-18 06:56] GeorgeBellTMH commented on #471
Closing until we have more details...

[2021-11-18 06:56] #471 closed

[2021-11-18 07:00] GeorgeBellTMH commented on #667
Closing this, as most of it is done under the payments piece...

[2021-11-18 07:00] #667 closed

[2021-11-18 07:05] GeorgeBellTMH commented on #892
- [ ] Create a separate eventbrite account for TMH (instead of JC)
- [ ] Create separate orgs within account for each parish
- [ ] Give permission to pastors/admins to edit
- [ ] Hook up with website
- [ ] Create events!

[2021-11-22 15:12] lucastbelem commented on #591
@laurengermain could you see if this is done?

What this refers to is the speaker/teacher carousel in the app. If it's not done, we need to source images for those missing pictures.

[2021-11-22 21:05] lucastbelem opened #893 "make Sunday Registration as a menu item under Fall 2021...this will make it available from the menu when you expand it..."

[2021-11-22 23:50] GeorgeBellTMH commented on #893
Fall 2021 no longer exists...it is Christmas now...

[2021-11-22 23:51] GeorgeBellTMH commented on #893
Note - this makes it very hard to sign up...

[2021-11-22 23:52] GeorgeBellTMH commented on #893
I can put it under locations?

[2021-11-23 21:12] GeorgeBellTMH commented on #893
Sunday Registration added under locations in menu....

[2021-11-23 21:12] #893 closed

[2021-11-23 21:52] GeorgeBellTMH commented on #873
Fixed...please verify...

[2021-11-23 21:52] #873 closed

[2021-11-23 21:53] GeorgeBellTMH commented on #756
What do we want to do about this?

[2021-11-24 14:50] lucastbelem commented on #873
All good.

[2021-11-28 14:30] lucastbelem opened #895 "Home Church attributes aren't all showing"
I.e. Briarwood Home Church has been given the "requires vaccination" attribute, but it does not appear on the website.

[2021-11-29 15:10] itbel commented on #895
![image](https://user-images.githubusercontent.com/42515854/143892614-579bab0a-3e04-4246-8c8a-cb1cc519b1a5.png)
Is this the same one?

[2021-11-30 16:15] lucastbelem commented on #895
Weird...it's up now.

On Mon, Nov 29, 2021 at 10:10 AM Igor Belem ***@***.***>
wrote:

--

*Lucas Belem*

Communications Project Manager
*Vacation Alert – I will be off Nov 29th*

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient and m

[2021-12-01 18:17] laurengermain opened #896 "App sending reminders at wrong time"
The TMH app has been sending reminders at 8:55am to say that church starts in 5 min. I assume it has something to do with the time change.

[2021-12-02 15:05] itbel commented on #895
Closing this since it's working now..

[2021-12-02 15:05] #895 closed

[2021-12-03 19:28] laurengermain opened #897 "Overseer photos not updating"
I've added new photos of the first 5 overseers but they aren't updating. The older versions are still appearing.

- Maggie John
- Yohan Mahimwala
- Carole Ann Stephen
- Cody Buchenauer
- Bruce Miller

[2021-12-03 19:33] lucastbelem commented on #897
@laurengermain thanks for the heads up. @GeorgeBellTMH  will need to clear cache.

[2021-12-04 15:06] lucastbelem opened #898 "Jamie Van Manen Picture cache issue"
@GeorgeBellTMH we made a mistake and named the picture with someone else's name. Now I've uploaded the correct picture, but the website thinks it's already online...it's one of those where I can't change the file name because it's the name of an overseers. Can you pls look into this and update the picture for Jamie?

Thanks.

[2021-12-06 01:09] GeorgeBellTMH commented on #898
Can you take a look...I cleared it, but the image still looks wonky...

[2021-12-06 01:09] GeorgeBellTMH commented on #897
Please check

[2021-12-06 01:09] #897 closed

[2021-12-06 01:19] GeorgeBellTMH commented on #898
Please note, I have added a new feature...in staff.json, coordinators.json and overseers.json you can add "ImageVersion":"2" to the json object...and it will append that to the filename:

So instead of George_Bell_app.jpg  it will look for George_Bell_app_2.jpg

This should resolve caching issues...

[2021-12-06 01:19] #898 closed

[2021-12-06 01:19] GeorgeBellTMH commented on #897
Please note, I have added a new feature...in staff.json, coordinators.json and overseers.json you can add "ImageVersion":"2" to the json object...and it will append that to the filename:

So instead of George_Bell_app.jpg  it will look for George_Bell_app_2.jpg

This should resolve caching issues...

[2021-12-08 15:14] #591 closed

[2021-12-08 15:20] laurengermain commented on #897
Hey George, I tried using the new naming convention to update one of the overseer photos and it doesn't seem to be working. It's for Jamie van Manen (his current image is squished).

[2021-12-08 21:51] lucastbelem commented on #897
Hey George,

What json object? For Jason van Manen, should we add "imageVersion":"2" to
this name in the data json?

On Wed, Dec 8, 2021 at 10:20 AM laurengermain ***@***.***>
wrote:

--

*Lucas Belem*

Communications Project Manager
*Vacation Alert – I will be off December 25 - January 2*

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

[2021-12-08 21:54] georgevicbell commented on #897
{
"FirstName": "Jamie",
"LastName": "van Manen",
"Position": "Overseer",
"sites": ["overseer”],
“ImageVersion”:”2”,

}

On Dec 8, 2021, at 4:52 PM, Lucas Belem ***@***.******@***.***>> wrote:

Jason

[2021-12-08 22:31] lucastbelem opened #899 "Screenshot (Dec. 8, 2021 5:30:13 p.m.)"
Weird crop on homepage on mobile.

[2021-12-08 22:37] GeorgeBellTMH commented on #899
screen shot?

[2021-12-09 16:21] laurengermain commented on #897
I tried using this on the data json but received an error message.

*Lauren Germain*

Communications & Curriculum Administrator

*Work Hours: Tues-Fri 9am-5pm*
The Meeting House

2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000 | f: 905.287.7099

www.themeetinghouse.com

On Wed, Dec 8, 2021 at 4:54 PM George Bell ***@***.***> wrote:

[2021-12-10 19:17] lucastbelem commented on #897
@GeorgeBellTMH can you pls double check?

[2021-12-10 19:18] lucastbelem commented on #899
![Screenshot_20211208-173013.png](https://user-images.githubusercontent.com/48295718/145629611-e808f6df-3418-4d73-aed6-f4d93b3aa353.png)

[2021-12-14 18:57] lucastbelem commented on #685
@laurengermain

[2021-12-16 15:57] laurengermain opened #900 "Ottawa service time needs to be pm, not am"
On the locations page, all the service times default to 'am' but the Ottawa service time is at 3:00pm. The page previously said "15:00am" so I tried changing it by putting in "3:00pm" but obviously that didn't work!
![Screen Shot 2021-12-16 at 10 54 33 AM](https://user-images.githubusercontent.com/89869101/146405029-e13d01d3-dc96-4a8f-8cee-b9b98f884fce.png)

[2021-12-22 15:59] lucastbelem opened #901 "UI issue on black image right component"
This can be found on homepage. The entirety of the text and link cannot be seen.

This can be found on homepage. The entirety of the text and link cannot be seen.
in Safari on MacBook Air, the “register” link does NOT show up:
<img width="570" alt="Screen Shot 2021-12-21 at 11 01 35 AM" src="https://user-images.githubusercontent.com/48295718/147120390-67134035-023a-4c20-afbb-a544c4bc5f07.png">

If

[2021-12-22 16:05] GeorgeBellTMH commented on #901
I think it's basically the description is too long...the text resizing is not exact, so it needs a bit of a buffer.

[2021-12-22 16:06] GeorgeBellTMH commented on #901
If you get the title into only one line that should fix it as well...

[2021-12-22 16:09] lucastbelem commented on #901
@laurengermain could you pls take a look, fix and test?

[2021-12-22 19:05] laurengermain commented on #901
@lucastbelem this is on the tmhu homepage, right? It looks fine to me in Chrome and Safari.
![Screen Shot 2021-12-22 at 2 05 16 PM](https://user-images.githubusercontent.com/89869101/147142670-48166412-554c-4f55-bb18-fa64637b2f3d.png)

[2021-12-22 20:14] lucastbelem opened #902 "Change "add to calendar" to "register""
In every parish page, in the hero image, there is a black box with basic location and time info for that parish. There are also 2 actions/buttons please can engage with: "Add to Calendar" and "Contact the Pastor".

Could you please replace the "Add to Calendar" with "Early Registration" or if that's too long, just "Register"? And point that button to "themeetinghouse.com/registration"?

Lastly, th

[2021-12-23 21:23] lucastbelem commented on #901
Lauren, if you adjust your screen size (make it smaller) can you still all
of the content? If you can't we should adjust the copy.

On Wed, Dec 22, 2021 at 2:06 PM laurengermain ***@***.***>
wrote:

--

*Lucas Belem*

Communications Project Manager
*Vacation Alert – I will be off December 25 - January 9*

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f:

[2021-12-23 21:40] lucastbelem commented on #902
@GeorgeBellTMH could we pls have this done by Jan 9?

[2022-01-17 22:07] lucastbelem opened #904 "Contact leader email subject"
When someone clicks "contact leader" in a home church in the HC finder, the email subject displays "homechurch". Can we please change this to "Home Church"?

[2022-01-18 17:24] lucastbelem opened #905 "Remove hidden items from search results"
Can we pls do this? Results appear for things that we've already hidden.

[2022-01-18 18:33] GeorgeBellTMH commented on #905
Do you mean videos? We might need to make an "include in search" checkbox for each video...

[2022-01-18 18:39] lucastbelem commented on #632
@laurengermain

[2022-01-18 21:47] lucastbelem opened #906 "Home Church finder displaying incorrect data"
The image below shows a Home Church that meets on Tuesday (as per the description) but the pill appears as Wednesday.

![image](https://user-images.githubusercontent.com/48295718/150023990-265000ad-dd82-4bee-a0f9-999934307615.png)

[2022-01-18 21:55] laurengermain commented on #632
Here's the spreadsheet we can use to keep track of these issues, based on Jon's suggestions...

[https://docs.google.com/spreadsheets/d/1WMDLTv0-fCk3Y_S_Bjrk95ozPidfnd-liJrCS1T5vKY/edit#gid=0]

[2022-01-20 13:37] lucastbelem commented on #906
@itbel could you pls see if this is an easy fix today?

[2022-01-20 17:04] itbel commented on #906
Recurrence data appears to be missing for the following home churches:
1. Taylor Home Church
2. Sapling Family Friendly Home Church
3. Downtown Hamilton Online Home Church
4. Grimsby Home Church
5. After Church Home Church -- launching Feb 6
6. Nightstar Home Church
7. Parent Connect Online Home Church

![image](https://user-images.githubusercontent.com/42515854/150386561-8dad4fb3-dd6b-4922-bba8-1

[2022-01-20 17:24] lucastbelem commented on #906
@itbel so what you're saying is that our data team needs to enter that data so the system populates the correct date?

[2022-01-20 17:32] itbel commented on #906
I believe so.

[2022-01-31 00:55] GeorgeBellTMH commented on #906
Is this ok?

[2022-01-31 00:58] GeorgeBellTMH commented on #904
This should be fixed.

[2022-01-31 00:58] #904 closed

[2022-01-31 00:59] GeorgeBellTMH commented on #902
Do we still need this?

[2022-01-31 00:59] GeorgeBellTMH commented on #901
Can we close?

[2022-01-31 00:59] GeorgeBellTMH commented on #899
Closing

[2022-01-31 00:59] #899 closed

[2022-01-31 01:01] GeorgeBellTMH opened #909 "History@5.2.0 package not working with login/account pages..."
Need to figure out what is wrong to get things working before we upgrade

[2022-01-31 01:03] GeorgeBellTMH opened #910 "Testing upgrades"
@lucastbelem I did a bunch of version updates and did a fast scan to check if any problems...let me know if anything else comes up this week...

[2022-01-31 14:37] lucastbelem commented on #902
Yes pls.

"Add to Calendar" on parishes pages should change to "register" and go to /registration".

[2022-01-31 14:43] lucastbelem commented on #904
@laurengermain could you pls test and let Jordan know?

[2022-02-02 16:29] laurengermain opened #916 "Videos not importing into admin"
Hey @GeorgeBellTMH this is a high priority now as this issue is happening for me (and Dan) every week.

I add the videos to the "Now Playing: Kids and Youth Teaching" YouTube playlist. Then in admin I hit the "Add All New" button and refresh the page. When I go back to the Import Video tab, the videos do not appear. Eventually, they import but it takes 1 day and overnight until they do.

This is h

[2022-02-02 16:48] lucastbelem commented on #916
@JonEsparaz if you're available and interested, this is high priority for us right now and there are some current cases in the spreadsheet. Totally get it if you don't have time :)

[2022-02-02 17:25] GeorgeBellTMH commented on #916
I’m going to add more playlists to the ignore list…I think we might be hitting the api limits again….should speed things up as well…

Sent from my iPhone

[2022-02-02 19:04] JonEsparaz commented on #916
@lucastbelem unfortunately I'm don't have the capacity 😔

[2022-02-02 19:47] laurengermain commented on #904
@lucastbelem there's no email subject that I can see after clicking "contact leaders"...

![Screen Shot 2022-02-02 at 2 45 11 PM](https://user-images.githubusercontent.com/89869101/152225996-f29bb4a6-ca73-4d30-ac60-254bc8af7f2b.png)

[2022-02-03 02:16] GeorgeBellTMH commented on #916
I've updated the playlist ignore list...should be much faster now...hopefully that will resolve the issues...I will test tomorrow when the limits reset themselves...

[2022-02-03 04:20] GeorgeBellTMH commented on #902
Done

[2022-02-03 04:20] #902 closed

[2022-02-03 04:20] #901 closed

[2022-02-04 02:40] lucastbelem commented on #916
@JonEsparaz no worries. Thanks for getting back to me :)

[2022-02-04 02:40] lucastbelem commented on #916
@laurengermain could you pls test? Did the videos import?

[2022-02-04 02:42] lucastbelem commented on #910
@laurengermain could you pls go through the TMH website on mobile and web and see if you can find any problems? Buttons that don't click, images that cut off strangely, anything that doesn't load or takes too long, etc?

[2022-02-04 17:24] laurengermain commented on #916
@lucastbelem the videos imported yesterday. However, I tried importing the youth video and it hasn't come into admin today.

https://www.youtube.com/watch?v=EkG1-fTxrRQ&list=PLB5r2P47beqKcw--wi3iCdP-i_Ksnx_9-&index=5

[2022-02-04 18:15] lucastbelem commented on #916
@GeorgeBellTMH can you pls investigate?

[2022-02-05 19:17] GeorgeBellTMH commented on #916
Ok...so it's because it's a premiere...so it's not technically live yet...

[2022-02-05 19:18] GeorgeBellTMH commented on #916
The website was built before premiere's existed...so it doesn't know about them...we'd have to figure out how to deal with them and then figure out how they show up on the web and app...

For now, just import it after the premiere has passed...

[2022-02-05 19:21] GeorgeBellTMH commented on #916
(or change it to not a premiere)

[2022-02-05 19:22] GeorgeBellTMH commented on #916
@lucastbelem let me know how you want to prioritize this...maybe there is some time for a bunch of video importing improvements?

[2022-02-05 19:39] GeorgeBellTMH commented on #916
Ok...update...that video is under The Meeting House Youth: https://www.youtube.com/channel/UCPvZFkiTYVEbKAsoIXid9jg which is a separate channel from The Meeting House: https://www.youtube.com/c/themeetinghousechurch

[2022-02-05 19:46] GeorgeBellTMH commented on #916
We need to bring that youth channel under our brand account...https://support.google.com/youtube/answer/3056283?hl=en

[2022-02-05 19:47] GeorgeBellTMH commented on #916
(we need to do the second section Move your channel to another Brand Account associated with the same Google Account)

[2022-02-05 19:53] GeorgeBellTMH commented on #916
If you want we can do this on zoom on Monday...

[2022-02-06 01:03] lucastbelem commented on #916
@GeorgeBellTMH ok yeah let's figure this out this week...the weird thing is that it's been a premiere for a few weeks, but this is the first time that it hasn't worked. And my understanding is that it's always in the youth channel.

[2022-02-06 14:32] lucastbelem commented on #916
@GeorgeBellTMH I uploaded the video to the TMH youtube channel and still no luck. :(

[2022-02-06 19:16] GeorgeBellTMH commented on #910
I am doing another round of this today...on Monday/Tuesday we will need to test...

[2022-02-06 19:19] GeorgeBellTMH commented on #910
Running list of things to test:
- [ ] Admin Functionality (specifically user related)
- [ ] Image generation is working
- [ ] Playlists, Blogs, Video Import, Moving a Video to playlist
- [ ] Mobile app, playlists, videos playing, blogs, notes
- [ ] Notes
- [ ] Sunday morning experience (set clock to Sunday and test)

[2022-02-07 13:43] lucastbelem commented on #910
@GeorgeBellTMH something is seriously broken...most of the images on the website became the "angels and demons" playlist image. Can you pls revert this asap?

[2022-02-07 13:48] lucastbelem commented on #910
<img width="1424" alt="Screen Shot 2022-02-07 at 8 47 10 AM" src="https://user-images.githubusercontent.com/48295718/152800126-f7d8ea0d-ef19-48c4-9888-ef5f779e57bd.png">
<img width="1436" alt="Screen Shot 2022-02-07 at 8 46 43 AM" src="https://user-images.githubusercontent.com/48295718/152800130-c1ff6807-0228-4fd9-82d0-7522ee2115e9.png">
<img width="1436" alt="Screen Shot 2022-02-07 at 8 46 49 AM"

[2022-02-07 13:53] lucastbelem opened #917 "Source control seems faulty"
<img width="697" alt="Screen Shot 2022-02-07 at 8 53 22 AM" src="https://user-images.githubusercontent.com/48295718/152801072-02aa4599-6f7e-4f1d-b6f6-197b8900fc2d.png">

[2022-02-07 13:54] lucastbelem commented on #909
@GeorgeBellTMH did you figure this out before you upgraded?

[2022-02-07 17:22] georgevicbell commented on #910
Taking a look at this now…looks like something wrong with the image caching…was working after the upgrade but seems to not be now…

Sent from my iPhone

[2022-02-07 19:39] lucastbelem commented on #910
@GeorgeBellTMH thanks man. Let me know when you've got something. I got a couple people asking.

[2022-02-07 20:13] georgevicbell commented on #910
Ok…it’s fixed…temporarily….

So I think what happened is that they changed the caching for our image system…before it was caching based on the parameters, now it is not…I have turned off the cache…and will play around with it tonite to try to get it back on…

I don’t think this had anything to do with the amplify updates…

G

On Feb 7, 2022, at 11:40 AM, Lucas Belem ***@***.******@***.***>> wrote:

[2022-02-07 20:17] GeorgeBellTMH commented on #917
You might need to reopen the project...

[2022-02-07 20:18] #917 closed

[2022-02-07 20:18] GeorgeBellTMH commented on #909
No...I haven't changed this one yet...

[2022-02-08 21:17] lucastbelem opened #918 "Change copy on give page"
"2020 Tax Receipt" should be "2021 Tax Receipt".

[2022-02-08 21:26] GeorgeBellTMH commented on #918
fixed...

[2022-02-08 21:26] #918 closed

[2022-02-08 21:28] lucastbelem commented on #916
Just flagging that this issue is still live. We need to solve this before Thursday so everything is up for Sunday.

[2022-02-10 03:27] GeorgeBellTMH commented on #916
Ok take a look...I think it's working now...

[2022-02-10 16:04] lucastbelem commented on #916
@GeorgeBellTMH this is somewhat resolved. The videos imported, but other things broke...we can edit metadata, can't see anything in a category (i.e. adult teaching), and the latest teaching component is gone from the teaching page.

[2022-02-10 18:15] GeorgeBellTMH commented on #916
Fix is publishing now...

[2022-02-11 13:43] lucastbelem opened #919 "White on black playlist style"
I need a new playlist style that is reversed from the existing one. Right now, there are parts of the playlist that are black text on a white background - see example at themeetinghouse.com/teaching.

I need a playlist that has white text over a black background. See themeetinghouse.com/live to see a playlist in the current style which doesn't really work as is. This is what is prompting this requ

[2022-02-11 23:04] laurengermain opened #920 "Videos not importing into admin"
Hey @GeorgeBellTMH the following videos for this Sunday are not importing into admin:

Early Years week 2: https://www.youtube.com/watch?v=27uqU4jZ10k&list=PLB5r2P47beqKcw--wi3iCdP-i_Ksnx_9-&index=6
Kids week 2: https://www.youtube.com/watch?v=x_ZfELnDT2E&list=PLB5r2P47beqKcw--wi3iCdP-i_Ksnx_9-&index=7
Youth premier Feb 13: https://www.youtube.com/watch?v=wA6IFN21udA&list=PLB5r2P47beqKcw--wi3iCdP-

[2022-02-12 19:32] georgevicbell commented on #920
Which playlists are they in?

They will only import if they are in playlists on The Meeting House channel.

George

On Feb 11, 2022, at 3:04 PM, laurengermain ***@***.******@***.***>> wrote:

Hey @GeorgeBellTMH<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FGeorgeBellTMH&data=04%7C01%7C%7Cf5758cabd8e1416d9f0608d9edb2e637%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C6

[2022-02-12 19:36] GeorgeBellTMH commented on #920
Ahh…ok…I found the playlist…it was being ignored…PLB5r2P47beqKcw--wi3iCdP-i_Ksnx_9-

I am publishing now...

[2022-02-14 19:22] lucastbelem commented on #916
Duplicate of #920

[2022-02-14 19:22] #916 closed

[2022-02-14 19:23] lucastbelem commented on #900
@itbel can you see what's going and fix it? But also pls let me know so we can do it ourselves?

[2022-02-14 19:41] lucastbelem commented on #896
@laurengermain this should be fixed. Could you pls report next week?

[2022-02-14 19:44] lucastbelem commented on #845
@itbel can you see if this got fixed?

[2022-02-14 19:45] #848 closed

[2022-02-14 19:46] lucastbelem commented on #632
Closing this for now as it should be fixed and we've opened another at #920

[2022-02-14 19:46] #632 closed

[2022-02-14 19:47] lucastbelem commented on #615
@itbel

[2022-02-14 19:57] lucastbelem commented on #856
Closing this for #841

[2022-02-14 19:57] #856 closed

[2022-02-14 19:58] lucastbelem commented on #781
@GeorgeBellTMH is this still an issue?

[2022-02-16 14:29] laurengermain opened #924 "Compassion partner photo not appearing"
On the Uptown Toronto page I added a photo for Matthew House but it isn't appearing.
https://www.themeetinghouse.com/toronto-uptown
![Screen Shot 2022-02-16 at 9 28 33 AM](https://user-images.githubusercontent.com/89869101/154285427-bcbe12ab-6914-4e86-bafe-785c6f50cf41.png)

[2022-02-16 15:42] laurengermain commented on #924
Never mind, figured this one out! :)

[2022-02-16 15:42] #924 closed

[2022-02-16 19:20] laurengermain opened #925 "Blog photos not appearing for social posts"
The website isn't pulling images from blogs when we try to post them on socials.

Example from blog post: https://www.themeetinghouse.com/posts/god-loves-culture
This image is missing in the Facebook preview.
![Facebook Preview](https://user-images.githubusercontent.com/89869101/154339636-05b74ebe-96b2-498f-953f-63242f46a68d.png)

[2022-02-16 19:20] laurengermain commented on #925
@nadamico tagging you in this one to follow:)

[2022-02-16 20:21] laurengermain opened #926 "Youth video not importing"
Hey @GeorgeBellTMH the youth video for this coming Sunday isn't importing into admin.

I first added the premier link to the kids & youth playlist but since that didn't work, I uploaded the video directly to tmh youtube channel. I've added it to 2 playlists (kids & youth) and "Jr High Virtual Sundays" but it hasn't imported yet.

February 20 Video: https://youtu.be/4m6ubsRaiiY
Playlist: https://ww

[2022-02-16 20:23] laurengermain commented on #926
Here is the premier link in case we can get that one working instead: https://youtu.be/PlUycdKNIuM

[2022-02-17 15:00] lucastbelem commented on #926
Lauren, could you pls try one more thing? Could you make it a video instead
of a premiere and see if that works?

On Wed, Feb 16, 2022 at 3:24 PM laurengermain ***@***.***>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

themeetinghouse.com <http://www.themeetinghouse.com/>

*This

[2022-02-17 15:04] laurengermain commented on #926
@lucastbelem the one I uploaded to the channel is a regular video:)

[2022-02-17 17:07] laurengermain opened #927 "After Party carousel missing thumbnails"
I re-added the After Party carousel to the teaching-curated page last week and the youtube thumbnails are not appearing from previous weeks.
https://www.themeetinghouse.com/teaching-curated
![After Party](https://user-images.githubusercontent.com/89869101/154533310-11268715-a2ff-42a8-9fc4-24cdcd0a6452.png)

[2022-02-17 22:08] lucastbelem commented on #926
@laurengermain sorry I missed that in your original email.

@GeorgeBellTMH can we pls make sure this is fixed by tomorrow?

[2022-02-17 22:14] lucastbelem commented on #926
@GeorgeBellTMH Did you do something? Suddenly, it's there...

[2022-02-18 06:29] GeorgeBellTMH commented on #926
Nope…didn’t do a thing…

[2022-02-18 06:37] georgevicbell commented on #927
Are those videos private on YouTube? Or have they been deleted and re-added?

G

On Feb 17, 2022, at 9:07 AM, laurengermain ***@***.******@***.***>> wrote:

I re-added the After Party carousel to the teaching-curated page last week and the youtube thumbnails are not appearing from previous weeks.
https://www.themeetinghouse.com/teaching-curated<https://na01.safelinks.protection.outlook.com/?url=ht

[2022-02-18 14:32] lucastbelem commented on #927
@laurengermain could you pls check if the after party is private? I think we did move it to private...I don't think we want it public, so maybe you can just make it public, pull the videos in, then unlist it again.

[2022-02-22 21:35] laurengermain commented on #896
I actually don't receive any reminders from tmh app -- how can I test this?
This issue was flagged by someone that attends tmh.

[2022-02-22 21:58] lucastbelem commented on #896
@laurengermain you would need to turn on push notifications in your phone settings for the tmh app.

[2022-02-22 22:15] laurengermain commented on #896
@lucastbelem mmmh, I do have notifications for the app turned on.

[2022-02-23 21:59] GeorgeBellTMH opened #928 "Swap "register" button with "add to calendar" button on parish pages"

[2022-02-24 17:48] itbel commented on #928
this change can be made by editing json files i.e.
`public/static/content/ancaster.json`
![image](https://user-images.githubusercontent.com/42515854/155579167-41c9a6ee-8b7f-4737-b51c-1ccd177591bd.png)

[2022-03-01 20:27] #919 closed

[2022-03-11 17:58] laurengermain opened #929 "Kids videos aren't importing for this Sunday"
The kids videos for this Sunday aren't importing into admin. Neither is the livestream video from March 6. Links below.

Early Years Pray: https://www.youtube.com/watch?v=_JN1keVQb5Q&list=PLB5r2P47beqKcw--wi3iCdP-i_Ksnx_9-&index=5
Kids Mark Because Jesus: https://www.youtube.com/watch?v=jUu-w3QVo2g&list=PLB5r2P47beqKcw--wi3iCdP-i_Ksnx_9-&index=6
Church livestream: https://www.youtube.com/watch?v=_

[2022-03-11 20:48] GeorgeBellTMH commented on #929
The church livestream video needs to be a part of a playlist before it will import...

[2022-03-11 20:55] GeorgeBellTMH commented on #929
They are all there now...I just ran it and it worked...

[2022-03-11 20:56] #929 closed

[2022-03-11 20:57] GeorgeBellTMH commented on #927
This is fixed...other problems, but this is fixed.

[2022-03-11 20:57] #927 closed

[2022-03-11 20:58] GeorgeBellTMH opened #930 "Videos in hidden playlist should generate a 404, and not show up in carasols..."

[2022-03-11 20:58] #910 closed

[2022-03-11 20:58] #920 closed

[2022-03-11 20:59] #926 closed

[2022-03-20 23:19] #930 closed

[2022-03-22 18:22] lucastbelem commented on #900
@itbel this is done right?

[2022-03-22 18:23] lucastbelem commented on #841
Cancelling as our archives have been obliterated.

[2022-03-22 18:23] #841 closed

[2022-03-22 18:29] lucastbelem opened #937 "Instagram module missing grey background"
Current vs Figma: (I think this is part of the menu work you're doing)
<img width="745" alt="Screen Shot 2022-03-22 at 2 28 29 PM" src="https://user-images.githubusercontent.com/48295718/159550617-c1e102f9-247d-4b6e-8d30-6f6cf92d4a43.png">
<img width="1436" alt="Screen Shot 2022-03-22 at 2 28 06 PM" src="https://user-images.githubusercontent.com/48295718/159550627-cca815a2-f76e-4c45-b0e0-0f4d474f3

[2022-03-22 18:30] lucastbelem opened #938 "Spacing for event list on locations page is too tight"
<img width="1432" alt="Screen Shot 2022-03-22 at 2 30 01 PM" src="https://user-images.githubusercontent.com/48295718/159550915-5d7acab2-794e-48fd-828c-9de00cfa12e0.png">

[2022-03-22 18:33] lucastbelem opened #939 "Event page instead of facebook"
Currently, when a user clicks on any event in a event list in a location page, the user is taken to the facebook page for that event. Figma requires an event page to exist right on the website. Can you please design the page and connect it to the right facebook fields so that all of the data can display right in the website?

Figma:
https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?n

[2022-03-22 18:38] lucastbelem commented on #612
@itbel this is the issue you're solving.

[2022-03-22 18:42] lucastbelem opened #940 "RightImage Grey component"
Does this component already exist? I can't find it anywhere on the website. If it doesn't can you please build it?
Can you make the arrow optional?
Can you please also add the arrow (optionally) to the existing grey component titled "oneImage"? The arrow should animate as the arrows elsewhere do, moving in the direction they are pointing. Also, clicking on the arrow should scroll down to the next

[2022-03-25 19:56] lucastbelem opened #943 "Add to calendar and Connect on live page when not live"
Can we talk about adding these 2 buttons to the live page when we're not live?

Thanks.

[2022-03-26 11:46] lucastbelem opened #945 "Mobile - a couple of components are off"
On the /prayer page, the mad module is not display the picture. And the end of the module has way too much white space.

![Screenshot_20220326-074520.png](https://user-images.githubusercontent.com/48295718/160237953-d13e0ef8-46b0-42b9-a079-bc6d31cfd7d2.png)

![Screenshot_20220326-074523.png](https://user-images.githubusercontent.com/48295718/160237955-3d9465c4-b7f7-4eb3-83a0-6d2b8e89ddc5.png)

[2022-03-28 14:22] lucastbelem opened #947 "Find a home church info"
It seems like any recent updates to Home Church information is not displaying on the website.

[2022-03-28 14:26] itbel commented on #943
Ok

[2022-03-28 17:59] itbel commented on #947
This appears to be working.

[2022-03-28 18:11] lucastbelem opened #950 "New button"
Can you please create a yellow button with white text for components?
<img width="1011" alt="Screen Shot 2022-03-28 at 2 09 15 PM" src="https://user-images.githubusercontent.com/48295718/160460391-47f2329f-2edb-4af8-8988-0c5700332549.png">

[2022-03-28 18:13] lucastbelem opened #951 "New variation of the oneImage component"
With a yellow background instead of grey.
<img width="646" alt="Screen Shot 2022-03-28 at 2 09 26 PM" src="https://user-images.githubusercontent.com/48295718/160460708-f01d6d20-ccb6-4921-9220-e70c03e24e46.png">

[2022-03-28 18:24] lucastbelem opened #952 "text2, text3, and text4 fields aren't appearing"
On /youthretreat.
<img width="1430" alt="Screen Shot 2022-03-28 at 2 19 22 PM" src="https://user-images.githubusercontent.com/48295718/160462306-9ecd7b90-38a8-446c-ad72-b45c5f4e76db.png">

[2022-03-28 20:27] #900 closed

[2022-03-28 20:27] #938 closed

[2022-03-28 20:28] #943 closed

[2022-03-30 16:33] itbel commented on #947
I think something is wrong with `tmhF1HomeChurch` lambda.

[2022-04-01 17:55] lucastbelem opened #960 "Arrow in new grey component"
Arrow down optionally in new grey component. Clicking on arrow scrolls to the next component on the page.

[2022-04-06 18:46] itbel commented on #960
Refer to #963  for latest implementation.

[2022-04-07 20:44] #928 closed

[2022-04-08 14:34] laurengermain opened #964 "Cannot update staff photo with newer version"
@GeorgeBellTMH can you clear the cache so this photo will appear? I am trying to update Chris Murphy's staff photo with a newer version today.

I tried using "2" at the end of one photo's file name, but that doesn't seem to be working (i.e., Jamie van Manen's photo is named, "Jamie_van Manen_app_2" but his photo is not appearing in the overseers section. I know you said this might fix the cache is

[2022-04-12 18:06] laurengermain commented on #964
@GeorgeBellTMH @lucastbelem

[2022-04-12 18:07] GeorgeBellTMH commented on #964
I have some stuff I will publish tonite, will get this done then.

[2022-04-13 16:04] itbel opened #966 "Carousel with links"
Ability to create custom carousels with pictures and links
![image](https://user-images.githubusercontent.com/42515854/163222625-991fbf6f-880c-44e2-9576-c348ae18ff65.png)

[2022-04-14 15:18] lucastbelem opened #967 "Find and bring back code for live unite page from May 2020"
We made a live page in May 2020 for the live unite event. Can you look for it in the code and bring it back? We need to do it again? Maybe we can just re-create it via a new livestream event. The problem is that we don't want it to show as a live event in the TMH website and they are under the impression that we branded it as JC last time. Can you pls find this?

[2022-04-19 16:21] #950 closed

[2022-04-19 16:21] #951 closed

[2022-04-19 16:21] #952 closed

[2022-04-19 16:22] #615 closed

[2022-04-19 16:22] #945 closed

[2022-04-19 16:23] #966 closed

[2022-04-19 19:07] #960 closed

[2022-04-19 19:07] #612 closed

[2022-04-19 19:07] #937 closed

[2022-04-19 19:08] #940 closed

[2022-04-22 14:59] itbel commented on #845
This should be fixed in #941
Appears to be working correctly now.

[2022-04-22 14:59] #845 closed

[2022-04-22 15:47] laurengermain opened #977 "Videos not importing into admin"
Hey @GeorgeBellTMH I cannot get the Kids & Youth videos to import for this coming Sunday. Can you help me out?

I was able to get the Sunday teaching livestream into the website from Apr 17 but the rest of the Sunday teaching videos are not importing either. All videos have been added to the "Now Playing: Kids and Youth Teaching" youtube playlist. See links below. The kids & youth videos are the p

[2022-04-22 18:30] georgevicbell commented on #977
Yup, will take a look at it later today.

Sent from my iPhone

[2022-04-25 23:05] GeorgeBellTMH commented on #967
Please send me the content for this.

[2022-04-26 14:58] lucastbelem opened #978 "Admin not loading"
Some issues have been found:

* [x] Cannot log in to admin side of tmh website
![](https://user-images.githubusercontent.com/48295718/165329821-c6fad152-8593-4d5b-b221-37a9bf17c2f4.png)
* [ ] Could not generate pdf from teaching notes
* [ ] Livestream bar did not appear on the website

[2022-04-26 16:09] GeorgeBellTMH commented on #947
This should be resolved...

[2022-04-26 16:09] #947 closed

[2022-04-26 16:13] GeorgeBellTMH commented on #978
Can you verify this is still happening? I can't replicate...

[2022-04-26 16:57] lucastbelem commented on #947
@GeorgeBellTMH is the fix published for testing?

[2022-04-26 16:59] GeorgeBellTMH commented on #947
yup

[2022-04-26 23:03] laurengermain commented on #978
@lucastbelem I've been able to sign in without issue today, so might be on your end?

[2022-04-27 00:32] lucastbelem commented on #978
@laurengermain thanks! I did a password reset and things seem ok now.

[2022-04-27 00:32] #978 closed

[2022-04-27 14:44] laurengermain commented on #977
Hey @GeorgeBellTMH where did we land with these vids? Are they not importing because we're having issues with the website? Looks like they still aren't in admin.

[2022-04-27 20:49] GarnetMason opened #979 "Logo is not linking to the homepage"
the logo at the top left doesn't link back to the homepage on any page other than the homepage itself and the give link.

[2022-04-28 19:53] #979 closed

[2022-04-28 19:54] #967 closed

[2022-04-28 19:55] GeorgeBellTMH commented on #896
I think the notification only works for iPhone...

[2022-04-28 19:58] #883 closed

[2022-05-03 15:29] lucastbelem opened #982 "Error generating pdf"
Notes won't create pdf when "make pdf" button is clicked.

[2022-05-03 18:42] lucastbelem opened #983 "Home church finder error"
Archived home church appearing in finder search.

I.e. Youth parent home church in Hamilton Mountain
![image001](https://user-images.githubusercontent.com/48295718/166521039-04c7269b-62c1-4dc3-8c77-ce5e9fefae21.png)

[2022-05-03 19:24] lucastbelem opened #984 "Latest teaching series not appearing on website"
I checked Dynamo for any user errors and checked admin as well. Nothing wrong as far as I can see...and yet, "Peace Be With You" doesn't appear in the teaching series carousel.
<img width="1437" alt="Screen Shot 2022-05-03 at 4 22 45 PM" src="https://user-images.githubusercontent.com/48295718/166545547-9da8ebb6-fd33-4f38-9d22-1b269f8ec6eb.png">

[2022-05-03 19:29] lucastbelem opened #985 "Where do we add urls for audio/video/notes directly in dynamo?"

[2022-05-04 16:49] lucastbelem commented on #983
@GeorgeBellTMH and this?

[2022-05-04 19:13] lucastbelem opened #986 "Live page banner not appearing on the website"
Yellow live banner not appearing on the website!

[2022-05-05 18:34] lucastbelem commented on #906
@GeorgeBellTMH @itbel this seems fixed now.

[2022-05-05 18:34] #906 closed

[2022-05-05 18:38] lucastbelem opened #989 "Home church times in finder are showing time zone oddly"
See the screenshot below. Instead of "EDT" or "EST" or "ET", the time zone location appears (i.e. -03).
<img width="1440" alt="Screen Shot 2022-05-05 at 3 35 16 PM" src="https://user-images.githubusercontent.com/48295718/166997844-5de79259-99e7-4b7e-9fcf-8f96e4fe475e.png">

[2022-05-05 19:06] lucastbelem opened #990 "New admin"
Guys, I'd love us to talk through what we can do to improve admin data management.

I'd like to include:

* [ ] Series descriptions
* [ ] Graphic/image uploads
* [ ] A new infrastructure for playlists and series that allows any video to be a part of any number of playlists/categories
* [ ] Allow staff add/edit/delete from admin
* [ ] Video importing regardless of playlists

[2022-05-05 19:12] lucastbelem commented on #939
Once @GeorgeBellTMH makes the query we can complete the feature.

[2022-05-05 19:12] lucastbelem commented on #691
@itbel you worked on this right? Just didn't finish?

[2022-05-05 19:13] #964 closed

[2022-05-05 19:14] #840 closed

[2022-05-05 19:14] lucastbelem commented on #836
Irrelevant now.

[2022-05-05 19:14] #836 closed

[2022-05-05 19:16] lucastbelem commented on #986
@GeorgeBellTMH this is a serious issue as the livestream is not appearing on the website.

[2022-05-05 19:16] lucastbelem commented on #986
We need to fix it before Sunday.

[2022-05-05 19:16] itbel commented on #691
I think so. I'll have a look.

[2022-05-05 19:16] GeorgeBellTMH commented on #986
Will take a look...

[2022-05-05 19:17] lucastbelem commented on #798
@itbel can you pls go through this list and work on the quick wins?

[2022-05-05 19:19] lucastbelem commented on #986
@GeorgeBellTMH could it be the log out/log in issue? While you look into it, @laurengermain could you please log out and then log back in before creating the livestream for this week? Can you also change your clock to make sure it worked?

[2022-05-05 19:20] lucastbelem commented on #776
Closing for now as without content this becomes irrelevant...temporarily.

[2022-05-05 19:20] #776 closed

[2022-05-05 19:22] lucastbelem commented on #757
@itbel is this a bug in how the website processes the image? Or do we need to upload a new thumbnail? Or @GeorgeBellTMH should we just add those videos to a series within that category and create a baby hero image for that series (which will result in the website pulling the image as it does for teaching series)?

[2022-05-05 19:23] lucastbelem commented on #750
@itbel please investigate?

[2022-05-05 19:25] lucastbelem commented on #690
@itbel this one may take a bit of time to get up to speed with. Can you add it to your list please?

[2022-05-05 19:26] lucastbelem commented on #985
@GeorgeBellTMH after #986 this one is top priority as well...we haven't been able to post notes to the website in 2 weeks. People have been asking, so we gotta make sure this is sorted before Monday midday when we post the video.

[2022-05-05 19:28] lucastbelem commented on #673
@GeorgeBellTMH was this addressed?

[2022-05-05 20:07] lucastbelem commented on #654
This series has been removed, so this is irrelevant now.

[2022-05-05 20:07] #654 closed

[2022-05-06 13:49] laurengermain commented on #986
@lucastbelem @GeorgeBellTMH I just tested it by changing my clock and it is not appearing on the website.

[2022-05-08 10:58] GeorgeBellTMH commented on #986
Ok it's showing up now...this is a problem with the changes we did for making the page have dynamic Color'd menus I think...I've got it showing up on desktop...

Mobile needs some work...

[2022-05-08 11:00] GeorgeBellTMH commented on #986
I reverted #981 for now...was having problems with it...

[2022-05-08 11:01] GeorgeBellTMH commented on #990
Yes...all this is good ideas...

1,4 are easy...2 is doable but will mean things won't work locally very well...3/5 are doable...

[2022-05-08 12:14] GeorgeBellTMH commented on #982
PDF is working now

[2022-05-09 12:52] itbel commented on #989
Is this issue still occurring? @lucastbelem

[2022-05-10 18:49] #691 closed

[2022-05-10 20:36] #984 closed

[2022-05-11 14:29] lucastbelem opened #994 "Search on teaching page appears broken"
@itbel can you please take a look and if it's broken can you either fix or hide, whichever will be quicker at this point? If we opt to hide, let's keep this issue open.

[2022-05-11 14:29] lucastbelem commented on #994
For reference:
<img width="1439" alt="Screen Shot 2022-05-11 at 11 25 54 AM" src="https://user-images.githubusercontent.com/48295718/167874477-7cd93bc2-fe39-400e-949e-d3d3367fc28d.png">

[2022-05-11 16:51] lucastbelem opened #996 "Yellow buttons don't seem to be working"
themeetinghouse.com/nextgenpeace. First button is set to yellow.

[2022-05-11 17:31] itbel commented on #996
yellow buttons were previously implemented for content pieces only. I just added yellow variation to hero in #997 so you should be able to now. It should be `buttonColor` instead of `buttoncolor`

[2022-05-11 17:37] itbel commented on #989
Can this be closed? @lucastbelem

[2022-05-11 19:04] #994 closed

[2022-05-11 19:04] #996 closed

[2022-05-11 22:35] itbel opened #999 "External urls using FadeScaledImage do not load"
![image](https://user-images.githubusercontent.com/42515854/167958596-6e4d9f12-c7e1-40c4-b32c-9d5238c60bde.png)

[2022-05-11 22:39] georgevicbell commented on #999
Is this on local host or on the site itself?

Sent from my iPhone

On May 11, 2022, at 6:36 PM, Igor Belem ***@***.***> wrote:

﻿

[image]<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fuser-images.githubusercontent.com%2F42515854%2F167958596-6e4d9f12-c7e1-40c4-b32c-9d5238c60bde.png&data=05%7C01%7C%7C4cb0114dbdd84a5c861508da339ea189%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C6

[2022-05-11 22:44] itbel commented on #999
occuring in prod

[2022-05-12 18:02] lucastbelem commented on #989
@itbel still occuring. Also appears to be occurring in the live banner dropdown.
<img width="1418" alt="Screen Shot 2022-05-15 at 9 50 56 AM" src="https://user-images.githubusercontent.com/48295718/168139686-791387e3-b650-4db5-9ca3-ef9e3d42df5e.png">

[2022-05-16 18:54] #999 closed

[2022-05-17 18:42] lucastbelem opened #1000 "Home church data not updating properly"
There are groups listed on the website that don’t exist, and newer ones that were listed a couple of weeks ago have disappeared.

I.e.

- In East Toronto, the After Church Home Church has been closed for months.
- In Brantford, same story for the Online Home Church and Downtown Home Church.
- Under Global, the Barrie Home Church appears, but the button says Oakville!
- Under East Hamilton, the You

[2022-05-18 13:37] lucastbelem commented on #1000
@itbel any news on this?

[2022-05-18 13:58] lucastbelem commented on #1000
@GeorgeBellTMH can you pls address this today/tonight?

[2022-05-18 14:37] #985 closed

[2022-05-18 14:37] lucastbelem commented on #983
Closing for #1000

[2022-05-18 14:37] #983 closed

[2022-05-18 17:06] itbel commented on #989
Appears to be an issue with moment timezone package, and only affects specific time zones.

https://github.com/moment/moment-timezone/issues/780#issuecomment-550491645

[2022-05-18 17:07] lucastbelem commented on #656
Closing this for now as the archive is gone..

[2022-05-18 17:11] lucastbelem commented on #587
Adding videos from other channels to our channel's playlists imports them to the website.

[2022-05-18 17:11] #587 closed

[2022-05-18 17:55] lucastbelem commented on #556
Old videos are gone, so closing this.

[2022-05-18 17:55] #556 closed

[2022-05-18 17:56] #472 closed

[2022-05-18 17:57] #439 closed

[2022-05-18 18:34] #132 closed

[2022-05-19 00:20] #1000 closed

[2022-05-19 20:13] lucastbelem opened #1002 "Calendar API for parish page schedule updates"
Parishes are meeting at very different times these days. We need something that allows us to show their schedule better. Garnet had a great idea. In the area highlighted in the screenshot below, we'd like to have data that updates automatically each week to display that parish's next meeting. For example, it should say "Sunday May 16 at 10am.".

The second part of this is where the data is coming

[2022-05-21 02:30] GeorgeBellTMH opened #1003 "Menu/logo doesn't appear"
Sometimes when in safari, the menu/logo/footer do not appear...

[2022-05-24 14:51] GeorgeBellTMH commented on #1003
This was a local issue.

[2022-05-24 14:51] #1003 closed

[2022-05-24 14:52] GeorgeBellTMH opened #1004 "Homechurch list view not remembering filters"
- choose Toronto - east
- choose list view (instead of map view)
- list contains all homechurches (should just be Toronto - east)

[2022-05-24 15:26] lucastbelem opened #1005 "UI issue on home page"
Spacing too tight.
<img width="1436" alt="Screen Shot 2022-05-24 at 12 23 21 PM" src="https://user-images.githubusercontent.com/48295718/170073348-1fc137af-bd79-4fca-aba7-f84e54869cfd.png">

[2022-05-24 19:42] itbel commented on #1002
I suggest we create some new types and add the ability to change them via the admin screens. @GeorgeBellTMH

[code]

[2022-05-24 20:16] lucastbelem commented on #1002
@itbel I wonder if this fits in with our admin interface improvements project. One of the things I'd like to be able to do is create/set parishes from admin and determine all details related to it there too (i.e. date, time, location, etc).

[2022-05-25 11:22] itbel commented on #1002
Yes this would fall under that. It would move some JSON data into admin interface.

[2022-05-26 13:57] lucastbelem commented on #1002
Interim solution:

- Make parish meeting frequencies configurable allowing admins to set:
- [ ] How often a parish meets (i.e. interval of days)
- [ ] On which date of the week (i.e. Sundays)
- [ ] What time a parish meets (i.e. 10am)

Display the text on black box on parish pages as follows:

Example 1
- Line 1: Sunday May 29 @ 10:00am
- Line 2: Every other week

Example 2
- Line 1: Sunday May 29

[2022-05-26 14:39] itbel commented on #1002
What about the holiday case?

[2022-05-26 14:52] lucastbelem commented on #1002
I don't think we have a solid way to account for that because I don't if when there is a holiday they cancel or reschedule. So I can just use the irregular rhythm for that.

[2022-05-26 15:16] GeorgeBellTMH commented on #1002
Optionally...we could just use Facebook...

[2022-05-26 15:18] GeorgeBellTMH commented on #1002
We already have the event pulling feature...so we would just need a way to identify Sunday services in a way that we can filter them from events...maybe any event named "Weekly Teaching" or "Sunday Service"...

[2022-05-26 15:18] GeorgeBellTMH commented on #1002
I think we can just set them all up from the business interface...really quick...nice interface...can be farmed out to whoever...bonus is that Facebook now has all our meeting times...

[2022-05-26 16:43] lucastbelem commented on #1002
My other concern with facebook is that we've had some significant issues pulling event data from them. Some hiccups with missing pieces and, once or twice, events missing altogether. If we use facebook, I'm concerned that we'd increase the volume of things that potentially break. Maybe we can use facebook instead of the longer term calendar or TMH admin interface, once we figure facebook API so it

[2022-05-26 17:17] lucastbelem opened #1006 "CLI version"
@GeorgeBellTMH please send @itbel your CLI version.

[2022-05-26 19:17] GeorgeBellTMH commented on #1002
I'd just add that whatever we do needs to work on the app under two situations

1) user has selected a site - should show on homepage the next meeting time (or two/three of them potentially)

2) user has no site selected - there should likely be a component that shows which sites are meeting "soon" ie in the next week or so.

[2022-05-27 01:05] lucastbelem commented on #982
@GeorgeBellTMH the "print pdf" button is gone again from notes. Can you pls take a look? We've had a couple of older users reach out and point it out.

[2022-05-27 03:31] GeorgeBellTMH commented on #1006
@itbel 7.6.25

[2022-05-27 03:31] #1006 closed

[2022-05-31 18:00] #757 closed

[2022-06-14 14:32] laurengermain opened #1011 "New series graphics not appearing"
Hey @GeorgeBellTMH I replaced the existing series graphics for Afraid of the Dark (baby hero & portrait) because the branding has been updated to more 'family-friendly' versions... The new versions aren't appearing on the teaching page so I'm assuming you need to clear the cache? Can you do that as soon as possible? Thanks! @lucastbelem

[2022-06-15 12:21] #1011 closed

[2022-06-15 19:52] #939 closed

[2022-06-21 17:31] lucastbelem opened #1014 "Why didn't this video import?"
id= d98K5do1yVo

All other videos for the week imported when I clicked "add all new". Except for this one. Why?

[2022-06-21 17:34] lucastbelem opened #1015 "Icon change"
At some point in the last few publishes, the icon for "watch" in the teaching page changed from what you see in the first image to what you see in the second image. The first image is what is expected in Figma.
<img width="715" alt="Screen Shot 2022-06-21 at 2 31 31 PM" src="https://user-images.githubusercontent.com/48295718/174862214-32527163-abbb-44e1-a500-98c1b330261b.png">

<img width="1176" a

[2022-06-21 19:04] georgevicbell commented on #1015
This is to fix the YouTube issues int he doc you sent me…

They didn’t like our icon…

I figured it was easier to change it than to explain it to them...

[2022-06-21 19:04] #1015 closed

[2022-06-21 19:05] georgevicbell opened #1016 "Fix discord invite link"
Make it non-expiring...

[2022-06-21 19:05] georgevicbell commented on #1016
Fixed.

[2022-06-21 19:05] #1016 closed

[2022-06-22 20:23] lucastbelem commented on #1015
Ah. Gotcha.

[2022-06-23 13:49] itbel commented on #270
blog RSS feed was implemented in #1012. Generated and uploaded daily to s3. [https://www.themeetinghouse.com/static/sitemap2.xml](https://www.themeetinghouse.com/static/sitemap2.xml)

[2022-06-23 15:10] lucastbelem opened #1020 "The Meeting House same-sex marriage"
This pdf was removed from its location in Git - https://www.themeetinghouse.com/static/pdfs/Policies-and-Statements/TMH_Same%20Sex%20Marriage.pdf.

However, if you search for this on google or go to this url, the pdf still comes up. We need to delete it permanently. Help?

[2022-06-24 16:23] itbel opened #1022 "MAD styling slightly off"
![image](https://user-images.githubusercontent.com/42515854/175576797-6accc90a-9119-4c66-8162-d2be334c1341.png)
![image](https://user-images.githubusercontent.com/42515854/175576867-10d4a098-d194-4acb-8aa8-1f446f6ea273.png)

[2022-06-24 19:15] GeorgeBellTMH opened #1023 "Regional changes"
As we move to regional setup, here are some things we can be doing:

- regional page design
- regional shortcuts (Toronto.themeetinghouse.com)
- merging events into a Toronto event list
- ability to see all Toronto homechurches
- merging social media (insta, Facebook, etc)
- merging staff list - all Toronto staff
- improvements to online church - including an online having its own page, staff list

[2022-06-24 19:23] #1005 closed

[2022-06-24 19:23] #1004 closed

[2022-06-28 17:17] itbel commented on #989
as discussed with @lucastbelem this issue is no longer a priority.

[2022-06-28 17:17] #989 closed

[2022-06-29 18:19] itbel commented on #270
added redirect blog rss lives in https://themeetinghouse.com/blog/feed

[2022-06-29 18:19] #270 closed

[2022-06-30 15:34] laurengermain opened #1025 "One Story upcoming series link not working"
@GeorgeBellTMH @lucastbelem I've updated the series cards on the platform so that the series for July and August are now listed as current and upcoming series... Everything is working aside from the Jr High Midweek (The Look of Love) url.

I copy it directly from the Midweek series page but whenever I paste it into the new card or go to the link, it redirects to the Jr High Weekend page. We had th

[2022-06-30 16:32] lucastbelem commented on #1025
@GeorgeBellTMH Something is going on here George. We've always copied urls from the series page to do this, but actually, any resource I click displays the same url.

@laurengermain I'm trying to find the workaround we did last time. Will let you know as soon as I figure it out.