[2019-02-21 17:25] GeorgeBellTMH opened #1 "Version 1 Launch"

[2019-02-25 21:49] GeorgeBellTMH opened #2 "Create beta.themeetinghouse.com infrastructure and DNS"

[2019-02-25 21:50] GeorgeBellTMH opened #3 "Create box mock-ups and options"

[2019-02-25 21:51] GeorgeBellTMH opened #4 "Create user login"

[2019-02-25 21:51] GeorgeBellTMH opened #5 "Create admin site"

[2019-02-25 21:52] GeorgeBellTMH opened #6 "Connect to Jesus Collective"

[2019-02-26 00:47] GeorgeBellTMH commented on #2
Temporary web server is up and running on amazon elastic ip: 3.209.71.20. Branden to add DNS.

[2019-02-26 01:21] GeorgeBellTMH opened #7 "Youtube Scraper"
Pull all TMH Youtube content into a db

[2019-02-26 01:22] GeorgeBellTMH opened #8 "Sidecar metadata for all youtube videos"
Create sidecar files for all youtube videos and store in amazon

[2019-02-26 01:23] GeorgeBellTMH opened #9 "Run videos through Amazon Rekognition"
Try to get as much metadata as possible automatically

[2019-02-26 01:25] GeorgeBellTMH opened #10 "Create Amazon Deployment Scripts"

[2019-02-26 15:28] GeorgeBellTMH opened #11 "Add SSL/TLS to beta.themeetinghouse.com via Amazon"
Branden will need to add the cert to amazon.

[2019-02-26 18:53] branden-eyk commented on #2
An A record pointing beta.themeetinghouse.com has been created. One externally at our hosting provider (DreamHost) and one on our internal DNS server.

[2019-02-28 04:26] #2 closed

[2019-02-28 04:31] GeorgeBellTMH commented on #7
This is working now, need to run it on all 2000 videos...

[2019-02-28 04:32] GeorgeBellTMH commented on #8
Amazon infrastructure setup - created a dynamoDB and an editor/viewer is being developed.

[2019-03-02 18:15] GeorgeBellTMH opened #12 "UI - create project"

[2019-03-02 18:15] GeorgeBellTMH opened #13 "UI - connect Cognition"

[2019-03-15 14:01] branden-eyk commented on #11
Took awhile thanks to Digicert deciding we need to be validated again, but a duplicate of our wildcard certificate for themeetinghouse.com has been imported into Amazon AWS's certificate manager.

[2019-03-19 16:05] GeorgeBellTMH opened #14 "Add google analytics to code base and setup events"

[2019-03-19 17:20] #10 closed

[2019-03-19 17:21] GeorgeBellTMH commented on #5
Admin site is created

[2019-03-19 17:21] #5 closed

[2019-07-24 19:23] #12 closed

[2019-08-02 04:49] #11 closed

[2019-09-15 18:26] #3 closed

[2019-09-15 18:26] #4 closed

[2019-09-15 18:26] #6 closed

[2019-09-15 18:26] #7 closed

[2019-09-15 18:26] #8 closed

[2019-10-28 20:43] #14 closed

[2019-11-10 05:42] #1 closed

[2019-11-10 05:43] #9 closed

[2019-11-10 05:43] #13 closed

[2020-01-13 19:36] GeorgeBellTMH opened #121 "Blog"
We need to create The Meeting House blog. Go here for the blog design and specs: https://www.figma.com/file/BXPAUnmoz9SDF17nhUUWwJ/TMH-UI---GitHub-Sharing?node-id=796%3A11260

[2020-01-13 19:38] GeorgeBellTMH opened #122 "Marquee Alert System for Snowdays - V2"
We need to create a marquee alert system for weather related service cancellations. Go here for the approved design: https://www.figma.com/file/BXPAUnmoz9SDF17nhUUWwJ/TMH-UI---GitHub-Sharing?node-id=220%3A6248

Please note the marquee alert has an alert dialogue that needs to appear when someone clicks on "click here" on the alert across the top of the site.

[2020-01-13 19:45] GeorgeBellTMH commented on #122
- Need to add a yellow modal window (black and white already exist)
- Need to add a yellow header that only displays on homepage and location (ie. Oakville, Hamilton) pages
- Use existing configuration in json files "weatherAlert":false

[2020-01-13 19:50] GeorgeBellTMH commented on #121
- should pull data from amazon dynamodb (schema is stored under amplify/backend/api/themeetinghouse/schema.graphql)
- only users in group [blog] should be able to post
- should integrate with search
- should be embedded in multiple pages/locations throughout site
- note this is a large feature with lots of moving parts - please coordinate work with George (ie to get amazon database tables created

[2020-01-13 19:56] GeorgeBellTMH opened #123 "Event Summary Page"
We need to create an events summary page so that when someone clicks on the event on the location page (themeetinghouse.com/oakville) they are taken to this summary page, which will have more detail on the event, as well as give the user the ability to share the event, add to calendar, get directions to the event, and register to the event (if applicable).

You can find the approved design for thi

[2020-01-13 20:01] GeorgeBellTMH opened #124 "Custom Playlist (Two Series/Category)"
Currently, we can only add a video to one playlist. We need the ability to add videos to multiple playlists.

[2020-01-14 20:09] lucastbelem commented on #123
Hey Andrew,

Thanks for connecting. It seems to work on my end, but it does require you to create a Figma account. Is the Figma login page not what you see? That's strange.

[2020-01-14 20:11] lucastbelem commented on #123
Let me see if I can share the link with you in a different way.

[2020-01-15 05:40] andrew-mcintosh commented on #123
Hi Lucas,

I do have a Figma account and I'm logged in. So not sure about that.

But this is what I'm seeing.
![Screen Shot 2020-01-15 at 12 34 00 AM](https://user-images.githubusercontent.com/20049923/72407901-1abff600-372f-11ea-9b76-0df670bb2008.png)
What is the permission on the file? As it is saying I don't have permission to access the file.

I'm seeing the 404 on the Blog Figma link.

Cheers

[2020-01-15 14:17] lucastbelem commented on #123
Hey Andrew,

Thanks for helping us sort this out. I'm gonna try sharing the link with you directly from within Figma to see if that solves the permission issue. Let me know if it's still a problem.

Thank you!

[2020-01-15 21:07] deeinstereo commented on #123
Hey @andrew-mcintosh it was a permission issue! Sorry! I copied over the file so that you can now view it. This will work:  https://www.figma.com/file/BXPAUnmoz9SDF17nhUUWwJ/TMH-UI---GitHub-Sharing?node-id=681%3A8206

Let me know if you have any questions!

[2020-01-20 21:52] GeorgeBellTMH opened #125 "Mobile UI for Go Campaign Page Fix"
When the Go Campaign page is scaled down to mobile the content that is near the bottom of the page, under the 2020 Regional Events section, doesn't work well. The header becomes super small and the gap between the bottom of the last photo with Bruxy and the community sitting down and the top of "Going beyond ourselves is too wide. I attached some screen shots to help show the difference.
![](https

[2020-01-20 21:53] deeinstereo commented on #125
Just go to http://www.themeetinghouse.com/go to see for yourself and compare between desktop and mobile.

[2020-01-20 21:58] GeorgeBellTMH opened #126 "Our Team Module - Local Church Pages and staff pages."
The first module under the hero on every Meeting House local church page is "Our Team". Currently we have an MVP version running, but want to update this section to look the same as in the final UI design for desktop, mobile, and tablet.
See the local sites design here: https://www.figma.com/file/BXPAUnmoz9SDF17nhUUWwJ/TMH-UI-GitHub-Sharing?node-id=571%3A655
See the staff page design here: https:/

[2020-01-20 22:05] GeorgeBellTMH opened #127 "Events Feed Module - Local Church Pages"
The events feed on every single local church page should follow the final UI design on Figma, with unique layouts for desktop, tablet, and mobile. The events should also be organized from nearest to further in the future. Clicking on each event should open the Event Summary Page for said event. UI design here: https://www.figma.com/file/BXPAUnmoz9SDF17nhUUWwJ/TMH-UI-GitHub-Sharing?node-id=571%3A65

[2020-01-20 22:30] GeorgeBellTMH opened #128 "Get Connected Box "Type" - Local Church Pages"
The bottom of every local church page features a section that has a full width hero image, with a white box that has black copy that gives the user a chance to sign up for the local newsletter. This "type" or feature has not be created yet.
See full UI design for desktop, tablet, and mobile here: https://www.figma.com/file/BXPAUnmoz9SDF17nhUUWwJ/TMH-UI-GitHub-Sharing?node-id=571%3A655

[2020-01-20 22:58] GeorgeBellTMH opened #129 "Teaching Playlist Loading Wrong Mobile UI - URGENT"
When you land on http://www.themeetinghouse.com/teaching on mobile there is a blank space that appears directly to the left of the teaching series at the bottom that forces you to scroll before you see more content.
This needs to be fixed. See attached image. ![](https://storage.www.wrike.com/filemeta/thumb100/F125939360.A623666)

┆Attachments: <a href="https://storage.www.wrike.com/attachments/12

[2020-01-20 23:03] GeorgeBellTMH opened #130 "Spiritually Curious Video Layout - Spiritually Curious Page"
Here's the link to figma UI: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=1828%3A15243

Directly under the Starting Questions header we should be able to see the six videos we have available (on the Figma UI design they are represented by white boxes).
Currently it's just a playlist the user can scroll through. There should also be a show more button that loads six addit

[2020-01-20 23:03] GeorgeBellTMH opened #131 "Hamburger Menu Mobile Colour Fix"
![](https://storage.www.wrike.com/filemeta/thumb100/F125939933.A623666) When mobile user clicks on the hamburger menu it changes colour to blue. It should instead change to black with the three lines being a light grey.

┆Attachments: <a href="https://storage.www.wrike.com/attachments/125939933?accountId=623666">IMG_0863.PNG</a>

[2020-01-20 23:08] GeorgeBellTMH opened #132 "Download Audio + Download Video Buttons on Teaching"
Under teaching, when the user clicks WATCH, the video player launches and they have the opportunity to download the audio, or download the audio of the teaching. Currently clicking either button launches the file, but the user has to right click save as to actually download. It would be great if the content would automatically start to download the second the user click either button.

Bonus point

[2020-01-21 15:27] GeorgeBellTMH opened #133 "Scroll button on teaching playlist not working"
If you go to [themeetinghouse.com/teaching](https://www.themeetinghouse.com/teaching) and scroll all the way to the bottom, you'll see that in the teaching carousel the arrow to move forward and view past teaching isn't working.

[2020-01-24 14:49] GeorgeBellTMH commented on #132
Tracking can be implemented by using the amplify pinpoint service. Search the code for pinpoint to find examples.

[2020-01-24 14:56] GeorgeBellTMH commented on #123
Duplicate of #127

[2020-01-24 15:08] GeorgeBellTMH commented on #129
I believe this is a data issue with one of the series not having any videos associated with it. Will check.

[2020-01-24 20:15] deeinstereo commented on #123
@GeorgeBellTMH but is it? This one deals with the actual event when clicked on, the other issue is the way the events are listed on the church's page on the website.

[2020-01-26 17:36] JonEsparaz commented on #131
I don’t have the permissions to reopen #136, but I personally think that no colour change (as in this pull request) is better than changing to black. Please advise.

[2020-01-26 22:47] JonEsparaz commented on #133
This issue does not persist on my local host. Perhaps a server-side issue?

[2020-01-27 01:21] JonEsparaz opened #139 "Enable right click > copy email address for "Contact the Pastor" button"
On local site pages, the "Contact the Pastor" button is unusable if the user does not have the native mail application setup on their OS.

Examples:
- On Windows, clicking the button opens the Outlook desktop application (which most users don't setup)
- On iOS, I use the Gmail app, but clicking the button prompts me to re-download the native mail app
- On Manjaro Linux, the button does nothing

Al

[2020-01-28 01:41] JonEsparaz commented on #132
Unfortunately, the files are hosted in a different path, so we can't use the `download` attribute from HTML5. Is it possible to have the files hosted in the same path instead of on [media.themeetinghouse.com](url)? (There's other ways triggering the download, but it gets a little messy IMO).

[2020-01-28 04:28] GeorgeBellTMH commented on #132
Let me take a look at this, it should be possible with CloudFront. I will test it out on our beta site and get back to you.

[2020-01-28 04:41] #125 closed

[2020-01-28 04:51] JonEsparaz opened #140 "Double horizontal scrollbar on Firefox"
Two horizontal scrollbars appear on the Teaching, Spiritually and Community pages. This issue only shows on Firefox (Windows, 72.0.2) in my testing.

![double_scrollbar_firefox](https://user-images.githubusercontent.com/48423418/73236102-2ebc1c80-415f-11ea-94c4-7db97b99dc0b.PNG)

[2020-01-28 04:55] JonEsparaz commented on #133
Also happens on [themeetinghouse.com/teaching-kids-youth](url), but not curiously not on [https://www.themeetinghouse.com/teaching-curated](url). I will compare code and see if I can catch something.

[2020-01-31 16:32] #131 closed

[2020-02-01 14:06] deeinstereo commented on #140
@JonEsparaz great catch! Thanks for adding the issue!

[2020-02-02 15:43] JonEsparaz opened #143 "Search bar cut off on mobile"
Tested on iOS. Search bar is cut off on the top.

![A32D4545-5DB0-4573-AAE3-E853B4E94D6E](https://user-images.githubusercontent.com/48423418/73610751-ce870980-45a8-11ea-809f-8facb75ad83c.jpeg)

[2020-02-02 15:58] JonEsparaz opened #144 "Search results hidden on mobile"
Go to [themeetinghouse.com/search](https://www.themeetinghouse.com/search) on mobile.

When you search something, the results are hidden behind the keyboard.

[2020-02-04 05:26] JonEsparaz commented on #144
@deeinstereo kinda brand related. Would you consider hiding the "Find a home church" and "Videos" images on mobile (at least in vertical mode, I'm not too sure about horizontal) to allow search results to appear above the user's keyboard?

[2020-02-05 13:56] deeinstereo commented on #144
@JonEsparaz yup! Still need to clean up the search section on both mobile and desktop. Lemme think about how we can resolve this issue for mobile.

[2020-02-05 14:00] deeinstereo commented on #139
@JonEsparaz this makes sense, wanna give it a shot? @GeorgeBellTMH thoughts?

[2020-02-08 19:15] andrew-mcintosh commented on #133
Has this issue been fixed? I can't recreate it. 'All Teaching Series' slider works for me, on both FireFox and Chrome browsers.

[2020-02-08 21:32] JonEsparaz commented on #139
I'll try it out and make a PR when I get the chance.

[2020-02-12 16:18] #129 closed

[2020-02-14 16:28] deeinstereo commented on #133
@andrew-mcintosh @JonEsparaz yup! works now! Yay for fixing!

[2020-02-14 16:29] #133 closed

[2020-02-18 19:06] deeinstereo commented on #132
@GeorgeBellTMH any updates or thoughts on this?

[2020-02-18 19:07] deeinstereo commented on #123
hey @andrew-mcintosh just wanted to check in on this. Is this something you're still tinkering with or working on?

[2020-02-18 19:09] deeinstereo opened #147 "New Hamburger Manu Icon + Responsive Design"
We got the menu to not turn blue when the user clicks (win) but it would be great to have something that indicates when you've clicked on it. I found this awesome solution on another website and would love to know if we can do this: http://www.mikiyakobayashi.com/projects

The hamburger menu changes to an X when engaged. It's awesome!

Thoughts?

[2020-02-18 20:02] nikklassen commented on #128
I'll take a crack at this one

[2020-02-26 20:57] JonEsparaz commented on #147
Making some final tweaks. PR coming soon!

![check_this_out_siekanowciz](https://user-images.githubusercontent.com/48423418/75386989-9b3a5080-58b0-11ea-8f56-f4c2d0edfe1e.gif)

[2020-02-26 21:36] JonEsparaz commented on #147
@deeinstereo as a nice side-effect, we now have full control over the hamburger menu's styling (see [here](https://github.com/cameronbourke/react-hamburger-menu) for what we can change).

Let me know if you want to change colour, animation timing, etc.

[2020-02-27 04:29] JonEsparaz commented on #130
I'll chip away at this over the next couple weeks.

[2020-02-27 04:31] JonEsparaz commented on #127
I'll chip away at this over the next few weeks.

[2020-02-28 20:02] deeinstereo commented on #147
@JonEsparaz this is perfect! Jon! THANK YOU! I feel like it's Christmas morning! @GeorgeBellTMH @georgevicbell can we merge this PR? Please!

[2020-02-29 05:06] #128 closed

[2020-02-29 05:22] #140 closed

[2020-02-29 05:22] #143 closed

[2020-02-29 05:22] #147 closed

[2020-03-03 18:37] lucastbelem opened #150 "Website not loading on Internet explorer."

[2020-03-05 12:49] nikklassen commented on #150
The error is `Object does not contain method "includes"`. Given that internet explorer is end of life and brower usage is ~1.5%, I don't think this is worth fixing.

[2020-03-08 05:50] JonEsparaz opened #151 "Font colour of "Add to Calendar" on local site pages"
![broken_tmh](https://user-images.githubusercontent.com/48423418/76157413-9d818380-60d6-11ea-9caa-bc48df3d6a2a.gif)

Font colour got changed to black, which makes "Add to Calendar" invisible until the user hovers.

The calendar and contact buttons are also misaligned, but that's a separate issue.

[2020-03-18 20:09] JonEsparaz commented on #130
I'm going to take a crack at this instead of #127 since COVID-19 means there aren't events to display.

[2020-03-19 17:22] JonEsparaz commented on #127
@GeorgeBellTMH while working on the UI for this, I noticed that there's an issue with the query for the videos. The Spiritually Curious videos are displayed in the follow order by episode number: 6,3,4,1,5,2 (I assume it should be ascending).

I was digging around `src/graphql-custom/customQueries.ts` and `src/components/RenderRouter/DataLoader.ts`, but couldn't identify the issue. Any ideas?

[2020-03-19 22:17] JonEsparaz commented on #130
@GeorgeBellTMH while working on the UI for this, I noticed that there's an issue with the query for the videos. The Spiritually Curious videos are displayed in the follow order by episode number: 6,3,4,1,5,2 (I assume it should be ascending).

I was digging around `src/graphql-custom/customQueries.ts` and `src/components/RenderRouter/DataLoader.ts`, but couldn't identify the issue. Any ideas?

[2020-03-19 23:23] georgevicbell commented on #130
It’s likely because it is sorted by the episode date instead of by episode number...

Options:

1.the easiest way to fix it is likely to just not show the episode number for questions
2. renumber the episodes
3. change their dates to lineup with the existing episode numbers

Sent from my iPhone

On Mar 19, 2020, at 6:17 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

@GeorgeBellTMH<https://g

[2020-03-23 05:49] #151 closed

[2020-04-05 04:17] #130 closed

[2020-04-05 04:22] #139 closed

[2020-04-16 16:38] #150 closed

[2020-04-16 16:38] lucastbelem commented on #150
Closing as recommended.

[2020-04-27 20:26] lucastbelem commented on #132
@GeorgeBellTMH any updates on this?

[2020-04-27 20:31] lucastbelem opened #159 "In module link styling"
We need to update the style/design of all of the links in modules. Here is an example of what it currently looks like (i.e. "Find Community").
<img width="1120" alt="Screen Shot 2020-04-27 at 4 29 38 PM" src="https://user-images.githubusercontent.com/48295718/80417781-5167e980-88a4-11ea-9417-7ff997944c4f.png">

Here is what it should look like: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/T

[2020-04-27 20:33] lucastbelem opened #160 "Arrow icons for clarity"
The design calls for arrows to be displayed at the end of each of these clickable tiles as shown here: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=385%3A8591

Look to the Teaching area of this page.

[2020-04-27 20:45] lucastbelem opened #161 "Watch page update"
We need to update the experience provided on our watch page (when someone is watching a video). Go to themeetinghouse.com/teaching and click "watch" on the teaching to see the current experience. Here is what it should look like: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=289%3A25

- Duration should be displayed
- Ability to share to social media
- Design of "Notes", "

[2020-04-28 13:13] lucastbelem opened #162 "Connect form glitch"
There is an issue with where the form is being populated over the graphics.
<img width="281" alt="Screen Shot 2020-04-28 at 9 04 40 AM" src="https://user-images.githubusercontent.com/48295718/80491346-95a0cb80-8930-11ea-8444-b60d4f8dea29.png">

[2020-04-28 18:28] GeorgeBellTMH opened #163 "Instagram Pull"

[2020-04-28 18:28] GeorgeBellTMH opened #164 "Order of events is inverted on local site pages"

[2020-04-28 18:42] lucastbelem opened #165 "Social media share website preview"

[2020-04-28 18:46] lucastbelem opened #166 "Teaching Page Design - V2"
Design of our teaching page needs to be updated to reflect the design in Figma found here: https://www.figma.com/file/BXPAUnmoz9SDF17nhUUWwJ/TMH-UI-GitHub-Sharing?node-id=376%3A8670

[2020-04-28 20:45] GeorgeBellTMH commented on #165
Suggest using the public/static/content/*.json to add optional metadata:[] similar to pageConfig:{} settings that inject the proper meta-data...https://developers.facebook.com/docs/sharing/webmasters/

Special work is likely needed for public/static/content/live.json and public/static/content/video-player.json to pull the data dynamically...likely also blogs.

[2020-04-28 20:56] GeorgeBellTMH commented on #121
Suggested steps:
1. Create dynamodb schema for Blogs
1a. @auth should allow anyone in [blog] group to create /edit/delete
1b. @search should be enabled so it gets put into elastic search
2. Create a new route /blog/[articleId] and pull from Amplify/dynamoDB
2a. Likely need to create a new renderRouter component and static page to display blogs (this whole section is very much like the video player

[2020-04-29 12:51] lucastbelem opened #167 "Search functionality improvement"
* [ ] UI/UX improvements (recall #144)
* [ ] Improve Elasticsearch results (see [TeachingSearch.tsx](https://github.com/themeetinghouse/web/blob/master/src/components/RenderRouter/TeachingSearch.tsx) for a good starting point)

[2020-04-30 16:19] JonEsparaz opened #170 "Replace PNG icons with SVGs"
There's a mix of PNG and SVG icons throughout the site, and the PNGs look quite blurry compared to the SVGs. Icons can be exported from Figma: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=54%3A16

[2020-04-30 18:01] JonEsparaz commented on #166
- [ ] "Most recent" menu styling (top of page)
- [ ] Latest video runtime (top of page)
- [ ] Watch video button styling
- [ ] Search bar
- [ ] Trending searches
- [ ] "Popular" horizontal scroll list
- [ ] "Suggestions" horizontal scroll list
- [ ] Banner-style promo cards

[2020-04-30 18:20] GeorgeBellTMH commented on #167
Some improvement ideas:
- Video - search description and closed captioning
- People - search for people by name
- Events - search events by name/description
- Content - search for content
- Blogs - search for content/name

[2020-04-30 18:26] GeorgeBellTMH commented on #166
For suggestions, we may be able to use: https://docs.amplify.aws/lib/analytics/personalize/q/platform/js

[2020-05-01 02:57] JonEsparaz commented on #166
@GeorgeBellTMH can you check if the Video type actually has anything in the length field?

[2020-05-01 05:12] GeorgeBellTMH commented on #166
Do you mean duration? I think it should be in the YouTube info (YoutubePlaylistItemDetails.duration)...if not we may need to pull it from the YouTube api...I think my intention was to convert the YouTube duration and store it in Video.length if that was necessary...

[2020-05-01 06:09] JonEsparaz commented on #166
I tried pulling from duration originally. As far as I can tell, both YoutubePlaylistItemDetails.duration and Video.length are null. I think we indeed need to pull from the YouTube API if we want to display video duration.

[2020-05-01 06:33] GeorgeBellTMH commented on #166
I'll see if I can pull it tomorrow...

[2020-05-03 20:12] #160 closed

[2020-05-04 00:59] #162 closed

[2020-05-04 03:15] JonEsparaz commented on #165
We are having some unanticipated issues with this. Explanation from George:

[2020-05-04 13:51] lucastbelem commented on #170
Hey Jon,

I got the files exported. What do I do with them? Including them here in case you need them.
[TMH Website.zip](https://github.com/themeetinghouse/web/files/4575024/TMH.Website.zip)

[2020-05-04 13:58] lucastbelem commented on #163
Design as per: https://www.figma.com/file/BXPAUnmoz9SDF17nhUUWwJ/TMH-UI-GitHub-Sharing?node-id=681%3A8285

[2020-05-04 14:02] JonEsparaz commented on #161
I'll try and get to this today.

[2020-05-04 14:02] lucastbelem commented on #164
themeetinghouse.com/oakville, go to events section.

[2020-05-04 14:02] #164 closed

[2020-05-04 14:04] JonEsparaz commented on #170
They should probably be added to `/public/static/svg`.

[2020-05-04 14:17] JonEsparaz commented on #161
@lucastbelem a couple questions:
- What social media platforms should the share button have?
- What content is supposed to be in highlight reels? Is it just other videos from the series?

[2020-05-04 14:28] JonEsparaz opened #181 "Find Sunday Morning Buttons"
https://www.themeetinghouse.com/find-sunday-morning

Buttons are stacking vertically. Add to calendar button dropdown formatting is broken too.

Issue does not manifest on: https://www.themeetinghouse.com/find-homechurch

[2020-05-04 14:33] lucastbelem commented on #161
@JonEsparaz Cool!

- Twitter, Instagram, Facebook. @deeinstereo anything else?
- The highlights reel is supposed to be our teaser videos. You know the 2-3 minutes we would post throughout the week after the teaching was live in Oakville so that other sites could see what was coming up? That's it. Currently, the videos aren't labelled as "highlights" in the admin side...but we'll need to get that s

[2020-05-04 14:34] lucastbelem commented on #161
Maybe email too?

[2020-05-04 14:35] lucastbelem commented on #170
Just added, not replaced?

On Mon, May 4, 2020 at 10:05 AM Jon Esparaz <notifications@github.com>
wrote:

--

*Lucas Belem*

Communications Project Coordinator and Administrator

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient and ma

[2020-05-04 14:43] JonEsparaz commented on #170
Yeah just add them for now. The PNGs are in a different folder: `/public/static`, and not every icon has a PNG version, so we can't really replace them 1-to-1.

Also, we have to manually replace the PNGs with SVGs in the code, so it's good to keep the PNGs just in case we miss a couple.

[2020-05-04 14:45] lucastbelem opened #182 "Connect form improvements"
themeetinghouse.com/connect UI needs improvements to match our final approved design - https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=1099%3A10776

[2020-05-04 14:48] lucastbelem commented on #170
Cool. Just pushed that.

[2020-05-04 15:29] JonEsparaz commented on #161
Sounds good. Not too sure if Instagram is possible since we're sharing links, but I'll look into it.

[2020-05-04 16:33] lucastbelem opened #183 "Tax Receipt button and other updates to giving page"
We're receiving a lot of questions about where people can find their tax receipt and it became apparent that we don't have a link to this anywhere on the website. We need to add a button or link to the themeetinghouse.com/give page. Probably not in the same hierarchy as the "Give Now" button. Could we bump the "Need help" down in line with "Give to Extended Family" and where the "Need help" curren

[2020-05-04 17:12] JonEsparaz commented on #182
@GeorgeBellTMH what's the best approach here? The iframe is pretty difficult to work with...

[2020-05-04 18:07] JonEsparaz commented on #161
@deeinstereo the share button package I'm using allows us to add optional content. Let me know if you want any of the following:

**Email**
- subject
- body

**Facebook**
- quote
- hashtag

**Twitter**
- title (this changes the title of the shared page on the card)
- via (like via YouTube when you share from YouTube)
- hashtags
- related (we can suggest accounts to follow: e.g. Bruxy, TMH, Jesus C

[2020-05-04 18:32] JonEsparaz commented on #161
@lucastbelem should the podcast links point to the specific episode? What is the functionality of the "subscribe" button - does it also point to Apple Podcasts?

[2020-05-04 19:41] JonEsparaz commented on #183
I'm on it.

[2020-05-04 19:46] lucastbelem commented on #183
Ok.

Let me share David's thoughts on this because I think they're different
than the instructions I provided.

On Mon, May 4, 2020 at 3:41 PM Jon Esparaz <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project Coordinator and Administrator

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*Thi

[2020-05-04 19:50] lucastbelem commented on #183
**Tax Receipt**
Need to add a "Tax Receipt" button that takes people to https://meetinghouse.infellowship.com/UserLogin.
@GeorgeBellTMH or @deeinstereo please add the sentence to include. @deeinstereo, does the positioning I suggested work?

**Header on Mobile**
Love that it fits into one line, but the gap between the logo and the header text is too big *see attached* ![IMG_3DC6A057D93A-1](https:/

[2020-05-04 20:22] JonEsparaz commented on #183
Well, here's what I got so far.

Reduced header:
![localhost_3006_give(iPhone 6_7_8)](https://user-images.githubusercontent.com/48423418/81009748-33116900-8e23-11ea-8d8b-0388967a7203.png)

Smaller buttons (+tax link):
![localhost_3006_give(iPhone 6_7_8) (1)](https://user-images.githubusercontent.com/48423418/81009747-33116900-8e23-11ea-8e8e-a1af06b7d06f.png)

Tax link
![desktop_give](https://user-

[2020-05-05 02:37] JonEsparaz opened #186 "White header on some windows"
To recreate: On mobile, go to https://www.themeetinghouse.com/, then click the yellow COVID-19 Update button.

Screenshot:
<img src="https://user-images.githubusercontent.com/48423418/81030296-57d30400-8e56-11ea-9d53-162bf9cd0804.png" height="400">

The issue will not manifest if you go directly to https://www.themeetinghouse.com/covid19.

I have determined that this bug was created by #171 (my ba

[2020-05-05 08:05] GeorgeBellTMH commented on #186
I think we probably need to figure out why it's happening...there is a black and a white version of the header...one has white logo and text, the other has black...so it's likely we're just having a white background with white foreground...

[2020-05-05 08:07] GeorgeBellTMH commented on #182
Formstack also has an embed...when we were making it I had some trouble with the embed and jquery - so just to get it working I switched to iframe, but I think probably jQuery issue is now resolved...so we could try going back to the embed?

[2020-05-05 14:47] lucastbelem opened #187 "White header bar on mobile"
When I visit certain pages like the COVID-19 update emergency page and click to watch a teaching video, a white header appears on the top of the page on mobile covering up both the logo and the X or hamburger menu. It makes it impossible to go back to the homepage. Can you look into this?

[2020-05-05 15:41] JonEsparaz commented on #187
Looking into this. Duplicate of #186.

[2020-05-05 15:41] #187 closed

[2020-05-05 17:04] JonEsparaz commented on #186
Last commit without issue: [https://github.com/themeetinghouse/web/pull/171/commits/d9f278b2afa6271e697fb4e9109f6bb5ade82418](https://github.com/themeetinghouse/web/pull/171/commits/d9f278b2afa6271e697fb4e9109f6bb5ade82418)

[2020-05-05 21:30] lucastbelem opened #188 "Kidmax Live start time bypass cashed images"
The issue here is that the way the timers are set up now, we can add a "live" link and a "pre service roll link". The live link doesn't go into effect until 10am. We need that to change to 9:45am.

[2020-05-06 02:53] JonEsparaz opened #191 "Menu Plus Button Improvements"
To fix:
- Background turns grey on click
- Size on mobile
- Background in statically grey and + is white on some pages:
![image](https://user-images.githubusercontent.com/48423418/81134434-b9f93b00-8f22-11ea-856b-d6946ee9f972.png)

Additional (from David's email): The only edit I have is for them to appear right away on the home page. Right now you have to go one click deep before you notice them,

[2020-05-07 17:18] JonEsparaz opened #194 "Black vs Onyx Black"
Some elements that are currently `#000000` should actually be `#1A1A1A` (this value is already stored in `src/custom.scss` as `$onyxblacktext`).

This should follow the design on [Figma](https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website).

Specific details to follow...

[2020-05-07 18:02] deeinstereo commented on #191
@JonEsparaz hmm, not a fan of that grey box, is there a way to get rid of it all together? If we followed the same system as what we have on hamburger menu where the plus becomes an x that would be my first pick. Either way, that grey box just looks bad, i'd prefer to get rid of it.

Also, it's currently static grey on home church search and doesn't look very good (desktop).

[2020-05-07 18:06] JonEsparaz commented on #191
Yup definitely will get rid of the grey box issue. I was hoping for some clarification on: “The only edit I have is for them to appear right away on the home page. Right now you have to go one click deep before you notice them, so please make sure they are accessible on desktop homepage.”

[2020-05-07 18:17] deeinstereo commented on #183
@JonEsparaz thanks! Great work here!

- change Meeting House Account to TMH Account (it will fit in one line that way)
- Change Get your tax receipt to "2019 Tax Receipt" and change "InFellowship Account" to Login & Download

[2020-05-07 18:55] deeinstereo commented on #161
@JonEsparaz yeah no go on Instagram, good catch.

Email
- Subject: Can this change based on the title of the video? If not, then how about Check out this video from The Meeting House
-Body: I wanted to share this video with you.
_Thoughts? I'm not 100% sure what's best here so I lean on what you think might work_

Facebook
- Can the quote be related to the title of the video?
-no hashtag, @The Mee

[2020-05-07 19:07] lucastbelem opened #196 "Livestream playlist on teaching"
- On mobile the title cuts into the baby hero image for the series, this needs to be fixed.
![Livestream Playlist](https://user-images.githubusercontent.com/48295718/81334626-5717b900-9074-11ea-9515-f2cc5a26aaef.jpeg)
- I would also bump the Livestream playlist down below All Teaching Series
- Livestream one word for consistency when used as noun, hyphenated when used as a verb. Eg. We will be liv

[2020-05-07 19:09] lucastbelem opened #197 "Videos on certain playlists not playing"
If you go themeetinghouse.com/teaching, there is a playlist called "Sunday livestreams". None of the videos play.

Similarly, if you go to "https://www.themeetinghouse.com/teaching-curated" and scroll down to the playlist called "Kidmax Live", you'll see that those videos don't play either.

[2020-05-07 19:12] lucastbelem opened #198 "Black Background Needs to Be Extended on teaching page on mobile"
As per the design on figma, the black background that has the episode name and description needs to be extended below to be underneath the top half of the baby hero image.

[2020-05-07 19:13] lucastbelem opened #199 "Watch button text on mobile too small"
Text is too small, needs to be bumped up at least 4-6pts, also the play button disappears (notes button needs adjustment as well).

[2020-05-07 19:18] lucastbelem commented on #186
The same white bar is seen in the watch window as described here: When you select a teaching video to watch, there’s now a white bar that appears across the top. Is that solved in this PR as well?

[2020-05-07 19:19] JonEsparaz commented on #186
Yup.

[2020-05-07 19:23] lucastbelem opened #200 "Arrow animation"
If we can animate them to nudge right when the user scrolls over the box items and it highlights grey that would be the best!

[2020-05-07 19:26] JonEsparaz commented on #161
@deeinstereo here's what I implemented:

Email
- Subject: Check out <video title as on YouTube> from The Meeting House (I pulled from YouTube so that the series title and episode number is included)
-Body: I wanted to share this video with you: <link>

Facebook
- Quote: <video title as on YouTube> from The Meeting House (same reason for pulling from YouTube)
-@ FB account isn't possible unfortunat

[2020-05-07 21:41] JonEsparaz commented on #197
Some diagnostic:

Console throws:

[code]

Interestingly, if you first play another video (e.g. from All Teaching Videos), close that video, then play something from the Livestreams playlist, the same errors are thrown, but you can see a valid `{VideoPlayer: {...}}` object in the console.

[2020-05-08 01:21] GeorgeBellTMH commented on #197
All videos must have a series associated with them.

[2020-05-08 01:22] GeorgeBellTMH commented on #197
I have added series to all videos that I could find that needed them.

[2020-05-08 01:22] #197 closed

[2020-05-08 01:30] #188 closed

[2020-05-08 03:21] JonEsparaz commented on #124
So not to break our existing infrastructure, could we add a new type, AdditionalCategories that is pretty much the same as Series, and create a many-to-many connect between AdditionalCategories and Videos? @georgevicbell thoughts?

[2020-05-08 19:50] JonEsparaz commented on #161
During the Tuesday meeting, Georege suggested a menu that expands with links to other popular podcatchers, so I think we'll go with that.

[2020-05-08 23:09] JonEsparaz commented on #161
Some initial work on the podcasts module:

![image](https://user-images.githubusercontent.com/48423418/81456128-4abc5a80-915f-11ea-9b52-966f738d363e.png)

Should be finished on Monday. @deeinstereo let me know if the descriptions are good (one I took from Figma and the other I took from a snippet from [https://www.themeetinghouse.com/teaching-podcasts](https://www.themeetinghouse.com/teaching-podc

[2020-05-09 21:01] GeorgeBellTMH opened #203 "E#. Should not show if episode number is not set (everywhere)"

[2020-05-09 21:07] #196 closed

[2020-05-09 21:07] #198 closed

[2020-05-09 21:07] #199 closed

[2020-05-09 21:10] #183 closed

[2020-05-09 21:14] #181 closed

[2020-05-09 21:16] #191 closed

[2020-05-09 21:18] #186 closed

[2020-05-09 23:02] JonEsparaz opened #204 "Header bug persists on live site, but not localhost"
#186 was supposed to be solved by #189, but the issue seems to persist on the live site, but not localhost. @GeorgeBellTMH thoughts on this? I'm at a loss at this point.

[2020-05-09 23:03] GeorgeBellTMH commented on #204
Clear your cache?

[2020-05-09 23:13] JonEsparaz commented on #204
Just tried that. Issue still persists 🙁

[2020-05-09 23:14] GeorgeBellTMH commented on #204
On a specific page? It's working fine for me on Covid page...

[2020-05-09 23:18] JonEsparaz commented on #204
https://www.themeetinghouse.com/covid19 only if I access via the yellow button on the homepage.

Also when I play videos.

Same as before pretty much, but I can definitely see other changes I made in that PR.

Safari on iOS 13.4.1

[2020-05-09 23:23] GeorgeBellTMH commented on #204
It’s only there when you click from the homepage…when you refresh it is fine…

Likely some state variable is not getting set when navigating, but is when coming from the url…

G

From: Jon Esparaz <notifications@github.com>
Reply-To: themeetinghouse/web <reply@reply.github.com>
Date: Saturday, May 9, 2020 at 7:18 PM
To: themeetinghouse/web <web@noreply.github.com>
Cc: George Bell <george.bell@them

[2020-05-09 23:34] GeorgeBellTMH commented on #204
this line seems suspect in home menu.tsx...<div className={"navbar-custom " + this.state.logoColor} id="navbar"> ...there is no class navbar-custom.blac...

[2020-05-09 23:41] GeorgeBellTMH commented on #204
So just as an additional bit of info, it uses the modal styles only if going to it from another page...if you just go to the url directly it loads it as a page...so I think the modal style sheet is overriding the header color...

[2020-05-10 01:46] #203 closed

[2020-05-10 01:47] #204 closed

[2020-05-10 02:39] sentry-io[bot] opened #207 "TypeError: this.state.data.Youtube is undefined"
Sentry Issue: [THE-MEETING-HOUSE-9](https://sentry.io/organizations/the-meeting-house/issues/1656842608/?referrer=github_integration)

[code]

[2020-05-10 03:32] #207 closed

[2020-05-10 17:01] lucastbelem opened #210 "Admin Improvements"
The following are requests for improvements to the admin interface of the TMH website.

* [x] Series names should be alphabetized
* [ ]  "Sunday short cuts" needs to be renamed to "Teasers"
* [ ] "Teasers" needs to be renamed to "Trailers"
* [ ] We need the ability to track analytics on "Download Video" and "Download Audio"
* [ ] We need an event creation interface so users can create events witho

[2020-05-10 17:20] lucastbelem opened #211 "Order of staff on staff page and site pages"
Currently, staff/volunteers appear by first populating the Lead pastor of a site and then everyone else, in alphabetical order. This is pulling from the staff.json file and then from the coordinators.json file for volunteers. We have 2 extended family churches whose pastors don't appear on our staff.json file because they are partners, not staff. What this means however, is that when it comes to t

[2020-05-10 17:21] lucastbelem commented on #211
They are:

Sandbanks - Brent Babcock and Don Walcott.
Alliston - Michael Kotsopoulos.

[2020-05-10 17:23] lucastbelem opened #212 "Redirect page"
Currently, when the website is taking someone to a redirect link or file, it first goes to our 404 "page not found" page for a few moments. We need this page to be different than our "page not found" page.

[2020-05-10 18:58] deeinstereo commented on #161
@JonEsparaz looks good, just make sure the right description is matched to the right podcast. Based on that Screen shot the meeting house after party podcast descriptions seems off. We also make sure that the descriptions are updated on Spotify and Apple Podcasts so you can look there to triple check.

If you want suggestions for popular podcatchers, after Apple our most popular are:
Spotify
PodBe

[2020-05-10 20:34] JonEsparaz commented on #161
@deeinstereo sounds good. I’ll get the description from Apple podcasts and use their lockup. I’ll make sure to read the docs from the other podcatchers too

[2020-05-12 02:04] JonEsparaz commented on #211
We can just move them so that they are the first to appear for their site in the JSON file.

[2020-05-12 04:20] JonEsparaz opened #214 "Replace Horizontal Scroll List with Grid Layout (Watch Page)"
See: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=289%3A25

In addition to the switch to a grid layout, horizontal lines need to be added above headers too.

[2020-05-12 04:27] JonEsparaz opened #215 "Highlight Reels (Watch Page)"
Highlights are currently stored as `adult-sunday-shortcut`, but they are all stored under a single series, which makes adding them to the watch page infeasible. Ideally, highlights should be associated with their respective teaching series.

Additionally, many highlights seem like they are missing and/or uncategorized.

[2020-05-12 04:27] JonEsparaz opened #216 "Pull Video Duration from YouTube API"

[2020-05-12 04:29] JonEsparaz commented on #161
I'm going to close this issue and open new issues for the remaining sub-issues since they are a little bit more involved and this issue is getting a bit messy (see #214, #215 and #216).

[2020-05-12 04:29] #161 closed

[2020-05-12 14:14] lucastbelem opened #217 "Remove Regional/Oakville toggle from Teaching page"
While we're in this livestream reality, we want to remove this toggle from the page as we're all on the same schedule.

[2020-05-12 22:14] JonEsparaz opened #220 "Remove non-functional horizontal scroll bars on teaching page"
As far as I can tell, these...

![image](https://user-images.githubusercontent.com/48423418/81750780-2670be80-947c-11ea-90e6-ecb7a34a1263.png)

...are non-functional and kill the design.

@deeinstereo, can I remove them?

[2020-05-13 17:05] deeinstereo commented on #220
@JonEsparaz yeah that's odd, remove! Thanks!
PS>> all your buttons are looking so great! Job well done man!

[2020-05-14 00:48] JonEsparaz commented on #121
I'm working on the text editor. Right now I have it configured to allow the following inline styling:
- bold
- italics
- underline
- insert link
- header

This pretty much allows what you to make a post like the example on Figma.

@deeinstereo do you think this is good? Or do we need more/less features?

[2020-05-14 02:32] georgevicbell commented on #121
Can it add photos and video? Can it change font size? I think those are likely needed as well. Probably emojis as well...

Sent from my iPhone

On May 13, 2020, at 8:49 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

I'm working on the text editor. Right now I have it configured to allow the following inline styling:

  *   bold
  *   italics
  *   underline
  *   insert link
  *   header

T

[2020-05-14 05:23] JonEsparaz commented on #121
Added those features to the config. Emojis are of course included 👌

[2020-05-14 14:29] deeinstereo commented on #121
@JonEsparaz yes emojis! To @georgevicbell's point, yes on picture embed but for adding videos we would only ever embed YouTube videos if that. I hate those website generated video players blah. But for now hosting video is not a priority.

[2020-05-14 21:32] JonEsparaz commented on #121
@lucastbelem how are baby hero images currently handled for videos? Would the same system work for blogs?

[2020-05-14 21:35] JonEsparaz commented on #121
Here's a small update...

Text input area:
![image](https://user-images.githubusercontent.com/48423418/81988142-f571c480-9608-11ea-8196-aa28785af41f.png)

Rendered preview of blog at the bottom of the page (I'm trying to make this a separate window, but that might be a "nice-to-have" until everything else is done):
![image](https://user-images.githubusercontent.com/48423418/81988316-3ec21400-9609-

[2020-05-14 22:18] JonEsparaz commented on #121
@GeorgeBellTMH images have to be inserted via URL at the moment. I think local upload is possible, but not preferable. Is there a way a user could upload to media.themeetinghouse.com and get a URL to insert their image?

[2020-05-14 23:01] GeorgeBellTMH commented on #121
I have an example in GitHub.com/jesus-collective/mobile where they can be uploaded via Amplify Storage to S3...this is the ideal as we can use the amplify authentication we already have in the admin module to ensure only people in the bloggers group can upload images...it also gets us the re-rendering to multiple sizes depending on screen size for free.

[2020-05-14 23:04] GeorgeBellTMH commented on #121
I've added you to the admin group on tmhprod - so you should be able to login to the tmh.com/admin now....I also added you to the new bloggers group...

[2020-05-14 23:07] GeorgeBellTMH commented on #121
If you make a PR with your schema changes I can push it...and I'll setup the storage so it's writable only by that group and readable by public...

[2020-05-14 23:17] JonEsparaz commented on #121
Sounds good - thanks George. I'll try and get that PR up tomorrow.

[2020-05-14 23:21] deeinstereo commented on #121
Thanks @JonEsparaz! This is looking great! We'll definitely need to find a way to insert pictures, looking forward to the solution! One other thing I noticed: how do we want to handle tagging and SEO type stuff? We should be able to add or indicate the tags and topics of each blog, and it would be a missed opportunity if we couldn't add keywords as we're adding blogs.

Also:
- Can we make sure tha

[2020-05-14 23:24] GeorgeBellTMH commented on #121
So the way it works...you can use Storage.put and Storage.get in Amplify - there is a new lambda trigger that gets run on Amazon after you do a storage put...so you can validate the file uploaded is an image, move it around, size it, run facial recognition on it...whatever you want to do...I think it's fine if we put things in the public or protected folder (there is also a private folder, which y

[2020-05-14 23:29] GeorgeBellTMH commented on #121
Right now it doesn't route through Cloudfront(CDN)...once we get some images in there we can experiment with setting up the permissions and routing...

[2020-05-14 23:35] JonEsparaz commented on #121
@deeinstereo

For tags (and associating blogs with video series, blog series, etc) I'll add some input fields similar to the video import tool.

They can't select font, but it will render always in Graphik Web regardless.

For notes, I think we can finish up the blog, check if there's any issues, then port everything over. It will be pretty much the same, expect under a new route /notes/id instead

[2020-05-14 23:37] #200 closed

[2020-05-14 23:37] #217 closed

[2020-05-14 23:40] #211 closed

[2020-05-14 23:40] #220 closed

[2020-05-14 23:42] #214 closed

[2020-05-15 20:57] JonEsparaz commented on #121
Just tested this out - works great!

[2020-05-16 01:57] JonEsparaz opened #227 "Curated Playlists Baby Hero Image"
Black bars from the YouTube thumbnail don't look great. Is there an actual baby hero image for BBQs?

![image](https://user-images.githubusercontent.com/48423418/82107583-f2550200-96f6-11ea-9222-ebc82a08fb96.png)

[2020-05-16 04:23] JonEsparaz opened #228 "ContentItem Styling on Mobile"
Text is center aligned and there's a large gap at the bottom (greyTwoText).

<img src=https://user-images.githubusercontent.com/48423418/82110299-33571180-970b-11ea-958e-80a5afe8d24b.png width=40%>

Edit:  This image is positioned incorrectly (too low, renders on top of the footer links).

<img src=https://user-images.githubusercontent.com/48423418/82155307-00636980-9842-11ea-8901-d2241af58177.png

[2020-05-17 18:20] JonEsparaz commented on #121
@GeorgeBellTMH I think we need to edit some parameters in the S3 bucket to make the download links non-expiring. How about I set all blog images to save in a public folder /bloguploads and we can just edit the parameters for that folder?

[2020-05-17 22:21] GeorgeBellTMH commented on #121
/bloguploads is now public…

From: Jon Esparaz <notifications@github.com>
Reply-To: themeetinghouse/web <reply@reply.github.com>
Date: Sunday, May 17, 2020 at 2:20 PM
To: themeetinghouse/web <web@noreply.github.com>
Cc: George Bell <george.bell@themeetinghouse.com>, Mention <mention@noreply.github.com>
Subject: Re: [themeetinghouse/web] Blog (#121)

@GeorgeBellTMH<https://github.com/GeorgeBellTMH>

[2020-05-17 22:32] JonEsparaz commented on #124
As I just found out in #223, the above won't work. Thinking of other solutions...

[2020-05-20 17:14] deeinstereo commented on #227
@JonEsparaz good catch. Ask and you shall receive! Can we just leave this one semi-permanently instead of switching with each new video? Also do you know what to do to make this work or does @lucastbelem need to upload it somewhere?
![BBQ_BabyHero](https://user-images.githubusercontent.com/47831068/82476256-c2618200-9a9b-11ea-81a7-aaf3040397a7.jpg)

[2020-05-20 17:16] deeinstereo opened #232 "Fixing Disappearing Buttons on Give Page"
Chatted with @JonEsparaz about this. When you click one of the other ways to give the GIVE NOW button disappears.

1. Make sure give now button never disappears.
2. Create something to indicate which of the two other ways to give options people have clicked on.
3. Make it so that when they click on it again the pop out box disappears instead of remaining persistent.

[2020-05-20 17:37] JonEsparaz commented on #227
Thanks - looks great. Lucas has to put it in a specific folder.

[2020-05-20 22:22] JonEsparaz opened #234 "Convert/Reuse Blogs infrastructure for Notes"
Steps:

* [x] Create new schema
* [x] Determine how notes should be associated with a teaching before the video exists
* [x] Modify admin page
* [x] Modify frontend
* [x] Setup router for /notes/teaching-id

[2020-05-20 22:24] JonEsparaz opened #235 "Public Blog Launch"
* [x] Add blog to navigation menu
* [x] Add blog to homepage

[2020-05-20 22:28] JonEsparaz opened #236 "Enhanced Blog Features"
Once the blogs ecosystem has matured a little, we should:

* [x] Through blog series we are able to create blog modules in certain pages that only pull particular blog entries related to that blog series. However, all blogs end up in the main blog index. Is it possible to mark a blog entry to NOT appear in the main index? The reason for this request is that we want to repurpose the blog functional

[2020-05-21 00:27] JonEsparaz commented on #232
@deeinstereo here's what I got.

Give now button is static. On desktop, selected option becomes bold. On mobile, selected option gets underlined. Clicking on the selected option closes the popup.

Desktop:
![desktop_give_page](https://user-images.githubusercontent.com/48423418/82510222-112d0d00-9ad8-11ea-94de-dd74c2f8bde6.gif)

Mobile:
![mobile](https://user-images.githubusercontent.com/48423418/8

[2020-05-21 03:13] JonEsparaz commented on #227
Actually, we need a edit a tiny bit of code... PR coming (I will upload the image too).

[2020-05-21 03:18] JonEsparaz commented on #227
@deeinstereo so the image is stored in [`/public/static/photos/series/baby-hero`](https://github.com/themeetinghouse/web/tree/master/public/static/photos/series/baby-hero) along with all the other baby hero images, and each is associated with a series (in this case BBQs) by it's file name matching the pattern `videoType-seriesTitle.jpg` (in this case `bbq-Bruxy's Bag of Questions.jpg`).

[2020-05-21 17:28] deeinstereo commented on #227
@JonEsparaz Awesome! Can we push this? Do @lucastbelem or I need to do anything?

[2020-05-21 17:29] deeinstereo commented on #232
@JonEsparaz this is perfect! Thank you! Let's push push push if we're good to go!

[2020-05-21 17:31] JonEsparaz commented on #227
@deeinstereo George just has to merge my PR

[2020-05-21 21:35] JonEsparaz commented on #121
@deeinstereo I'd like to add default images in case a blog post is missing images. We need three images: something for the banner images that show up on the homepage, baby-hero and square. Let me know what direction you want to take this.

[2020-05-22 03:01] JonEsparaz commented on #234
@deeinstereo I'm going to get started on this soon.

A couple questions:
- Is the idea to have notes look exactly the same as blogs on the frontend or are you thinking of having something different?
- Currently, the notes URL is added manually for each teaching, yeah?

[2020-05-22 03:42] #232 closed

[2020-05-22 03:43] #227 closed

[2020-05-22 20:26] JonEsparaz commented on #234
@deeinstereo another thought. Is the intention to still have a PDF version of the notes available? If so, will this be generate away from the website or do you want some way to export a PDF of the web-based notes?

[2020-05-27 21:03] deeinstereo commented on #234
Hey @JonEsparaz sorry for the delayed response. Here's our thinking so far:

- Im 100% fine with notes looking exactly like blogs. Why not? Do you have any modifications you would make? Once we get the new PDF template from Jen we can modify accordingly. But for now this is the best place to start.
- Yes, there are two URLS. One is for the most recent note http://media.themeetinghouse.com/podcast/

[2020-05-27 21:15] JonEsparaz commented on #234
Hey @deeinstereo, yup this is helpful.

In terms of modifications, I was wondering about this banner image:
![image](https://user-images.githubusercontent.com/48423418/83072220-5e5f3080-a03c-11ea-95ed-2831ed1fe164.png)

Would you still want an image like this to appear above the title on the web-based notes?

[2020-05-28 05:44] #121 closed

[2020-05-28 05:46] #159 closed

[2020-05-28 15:56] deeinstereo commented on #234
@JonEsparaz I'm not sure. We could try it there, or we could make it a hero image, or lose it all together. A part of me wants to cut it out so we get right to the notes.

[2020-05-28 15:58] deeinstereo commented on #121
@JonEsparaz hey! we'll make sure it's never missing an image. No image no blog! (Y)

[2020-05-28 16:12] georgevicbell commented on #121
Instead of an image per blog, it might be doable to have one per “topic” - ie kids, teaching, compassion, leadership, current events, etc.

Either a photo, or maybe an icon/stylized thing.

Sent from my iPhone

On May 28, 2020, at 11:58 AM, David Siekanowicz <notifications@github.com> wrote:

﻿

@JonEsparaz<https://github.com/JonEsparaz> hey! we'll make sure it's never missing an image. No image n

[2020-05-28 17:13] JonEsparaz commented on #234
Let's just leave it for now, and we can make changes if necessary. You can put an image in the text area anyways, so there's already some limited functionality for this.

[2020-05-29 23:11] JonEsparaz commented on #127
@deeinstereo is this a mistake in the design?

![image](https://user-images.githubusercontent.com/48423418/83312370-12e58780-a1e0-11ea-8d90-e6322456cc2f.png)

[2020-06-01 11:46] #170 closed

[2020-06-01 11:49] #212 closed

[2020-06-02 18:09] JonEsparaz opened #251 "Improve Router Logic"
Since these `isXXX` variables are all mutually exclusive you may want to switch to a pattern like [this blog](https://spicefactory.co/blog/2019/03/26/how-to-avoid-the-boolean-trap-when-designing-react-components/)

_Originally posted by @nikklassen in https://github.com/themeetinghouse/web/pull/239_

This `isXXX` mentioned above are `isBlog`, `isNotes` and `isVideo` in `HomePage.tsx` and `App.tsx`

[2020-06-02 20:32] lucastbelem opened #252 "Notes pdf on Watch page"
When I click on "Notes" on the Watch page, the pdf loads fine, but it should open on a new browser tab.

[2020-06-02 20:34] lucastbelem commented on #215
@JonEsparaz do you need all videos assigned before you make this a thing? I have someone who has been assigning videos to the shortcut playlist but they're not done...I just wanted to confirm whether we need to have it all done before this can become a thing or if we can make it happen and the highlights reel only appears for series that have them.

[2020-06-02 20:43] JonEsparaz commented on #215
There will be logic to check if a series has a valid highlight reel, so it doesn't have to be all done.

[2020-06-02 20:58] lucastbelem commented on #215
Ok, cool. If that's the case, this is probably ready to added (once you get back to TMH stuff).

[2020-06-02 21:34] deeinstereo commented on #127
@JonEsparaz lol, yes it is. Good catch!

[2020-06-04 07:38] #235 closed

[2020-06-04 17:35] JonEsparaz opened #254 "Don't use view width for font-size adjustments"
It's probably best not to scale a vertical element (the height of the font) with a horizontal measure. But I'm not sure, CSS is my weakest area. I think the best practices are to use `%` or `em`/`rem` for relative height adjustments,

_Originally posted by @nikklassen in https://github.com/themeetinghouse/web/pull/246/files_

[2020-06-04 18:13] georgevicbell commented on #254
https://www.smashingmagazine.com/2016/05/fluid-typography/

It’s fine. Site is designed around a grid which is locked to the width. So almost all heights are related to the width (there are a few exceptions). This allows the font to scale as the width changes but not as the height changes.

Sent from my iPhone

On Jun 4, 2020, at 1:35 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

It's prob

[2020-06-04 18:16] JonEsparaz commented on #254
Ah ok.

[2020-06-04 18:16] #254 closed

[2020-06-05 01:43] JonEsparaz opened #255 "Prevent private videos from importing"
After doing some investigated on why some videos aren't appearing, it looks like someone created a video early on YouTube (probably to fill in the description and whatnot), but set it as a private. Looks like these videos get imported anyways, and since the ID does not change after setting the video to public on YouTube, the videos are lost under the unlisted series and have the title "private vid

[2020-06-05 17:53] JonEsparaz opened #256 "Make current location bold in nav menu"
Reflects the design on Figma, plus a UX designer who's also a THMer told me we should do this.

[2020-06-05 17:54] JonEsparaz opened #257 "Fix redirect GitHub Actions"
Something's wrong with the relative directories in the python script.

[2020-06-05 19:26] JonEsparaz commented on #255
@GeorgeBellTMH just want to confirm, [`Query.getYoutubePlaylistItems.req.vtl`](https://github.com/themeetinghouse/web/blob/master/amplify/backend/api/themeetinghouse/resolvers/Query.getYoutubePlaylistItems.req.vtl) will pull and update the 50 most recent videos from the playlist? If so, we can implement the filter logic in `ImportYoutube.ts`, right?

[2020-06-05 20:55] georgevicbell commented on #255
It might be easier/more useful to put a refresh from YouTube button on the video that repulls and replaces the YouTube object....that way we can update other information if we need to as well (even better if we can indicate the ones that are out of sync somehow)...there is so much on that admin page that needs to be improved....some of the inputs don’t even have initial values set...

Sent from my

[2020-06-07 06:22] JonEsparaz commented on #166
@deeinstereo @lucastbelem are there plans to start producing these "banner-style" promo cards?

![image](https://user-images.githubusercontent.com/48423418/83961879-9a2c9e00-a865-11ea-8374-caf48049c788.png)

[2020-06-07 12:43] nikklassen commented on #163
I can probably look into this one

[2020-06-07 12:49] lucastbelem commented on #166
Hey Jon,

Yeah, for sure. We'll include it in the graphics plans for series etc.

On Sun., Jun. 7, 2020, 2:22 a.m. Jon Esparaz, <notifications@github.com>
wrote:

[2020-06-07 17:06] JonEsparaz commented on #255
Yup a refresh button is a good idea. I still think we specifically need to deal with private videos - my reason for opening this issue is @lucastbelem was unable to find some videos that imported as private, so we may need a separate video type for private videos to be partitioned off or don't import them.

[2020-06-07 17:46] nikklassen commented on #163
It looks like this is going to require some backend/admin page work. The new Instagram API requires that users grant an app permission to read their feed. So if we want to do this, someone with access to the Instragram accounts will have to authorize our app ahead of time, and store an auth token for each site's account. We would then have to proxy a visitor's calls so that we can refresh the toke

[2020-06-07 18:13] georgevicbell commented on #163
Yah, I think we would add the calls to the amplify graph API to do that....we currently are doing that on the admin side with YouTube and F1...that code is under the amplify/backend/API/meetinghouse folder...the *.req.vtl and *.res.vtl files do most of the work (the keys are not on github for obvious reasons)...

If you point me to the docs I can setup the keys.

Sent from my iPhone

On Jun 7, 202

[2020-06-07 18:18] nikklassen commented on #163
The walkthrough that most closely covers this use case is at https://developers.facebook.com/docs/instagram-basic-display-api/getting-started

[2020-06-07 21:09] #256 closed

[2020-06-07 21:09] #228 closed

[2020-06-07 21:11] #251 closed

[2020-06-07 21:11] #257 closed

[2020-06-09 03:10] JonEsparaz commented on #215
I'm just taking a look at this. Things are working! Only thing I'm not sure about is the episode numbers... Sometimes there's multiple highlights per teaching example: 1, 1, 2, 2, 2, 3, which appears a little odd. I could hide the episode numbers for highlights - let's discuss at the Tuesday check-in.

[2020-06-09 03:13] JonEsparaz commented on #210
I've been dealing with something similar for blogs and notes. This error really shouldn't appear and doesn't really concern the user - will fix.

[2020-06-09 17:39] JonEsparaz opened #264 "Have notes on teaching page without video"
The idea is to have notes appear on the teaching page along with the livestream starting on Sunday morning, then, livestream switches to watch (for the uploaded video) and notes remain as is. Main point is that notes are always available.

[2020-06-09 17:43] GeorgeBellTMH opened #265 "Teaching page: dummy images missing/missized"
Size the dummy image for series, make it appear if one hasn’t been set on baby hero.

[2020-06-09 17:43] GeorgeBellTMH opened #266 "Test"
Test

[2020-06-09 17:44] #266 closed

[2020-06-09 18:39] JonEsparaz commented on #124
@GeorgeBellTMH @lucastbelem do we want a limit on the number of series per video?

[2020-06-09 19:13] JonEsparaz opened #267 "Horizontal Scroll List: Better Handling of Long Lists"
On the teaching pages, some scroll lists are so long that the scroll lines disappear. We need to have a hard limit on the scroll line size (and deal with the functionality accordingly). Alternatively, we can just render the first ~120 videos and have a load more thumbnail at end (which renders another 120).

[2020-06-09 19:23] #234 closed

[2020-06-09 19:25] #215 closed

[2020-06-10 16:55] GeorgeBellTMH opened #270 "RSS feed for blog"
Would be nice to get the blog on feedly or other platforms.

* [ ] AWS infrastructure
* [ ] create RSS feed
* [ ] add rss icon and link

[2020-06-11 00:13] GeorgeBellTMH commented on #270
Looked into what can be done, the RSS can't be done client side....likely solution is to create a lambda that generates the RSS and then return it via API Gateway...will create the AWS side of things with dummy RSS for now...

[2020-06-11 08:39] GeorgeBellTMH commented on #165
<img width="1018" alt="image" src="https://user-images.githubusercontent.com/47749730/84364013-881c6980-ab9d-11ea-9cfa-a7501a2fa420.png">
This kinda now works...there are some errors/warnings...we need to add more og:tags...

[2020-06-11 12:30] lucastbelem opened #274 "Youtube live link in admin"
Would it be possible to add the ability to update the youtube live link for Sundays via /admin instead of visual code?

[2020-06-11 13:06] lucastbelem commented on #252
Thanks Jon. I think those are fine as they are...because our videos play automatically, if we opened on a separate browser they'd have 2 videos/audios playing. So I think we can leave that as is.

[2020-06-11 18:14] JonEsparaz commented on #165
@GeorgeBellTMH what's our fb:app_id?

[2020-06-11 18:36] #252 closed

[2020-06-11 21:06] JonEsparaz commented on #274
Yes we can. @GeorgeBellTMH do you have any apprehension towards reading/writing the link from a DynamoDB table?

[2020-06-11 22:39] GeorgeBellTMH commented on #274
Nope, that was always the plan eventually…lets do it…

From: Jon Esparaz <notifications@github.com>
Reply-To: themeetinghouse/web <reply@reply.github.com>
Date: Thursday, June 11, 2020 at 5:06 PM
To: themeetinghouse/web <web@noreply.github.com>
Cc: George Bell <george.bell@themeetinghouse.com>, Mention <mention@noreply.github.com>
Subject: Re: [themeetinghouse/web] Youtube live link in admin (#274

[2020-06-11 23:54] georgevicbell commented on #274
If we can schedule multiple live events ahead of time that would be amazing

- live on homepage time
- preroll video
- stream start time
- live stream video
- end on homepage time
- titles
- menu items
- chat on/off
- show kids on/off

And if we can default most of that stuff for Sunday...that would all be amazing.

Sent from my iPhone

On Jun 11, 2020, at 6:39 PM, George Bell <notifications@githu

[2020-06-12 19:36] #267 closed

[2020-06-12 21:57] GeorgeBellTMH commented on #165
This is now done, will create a new ticket for @deeinstereo and @lucastbelem for adding descriptions and ensuring titles/images are what they want, and one for performance improvements.

[2020-06-12 21:57] #165 closed

[2020-06-12 21:58] GeorgeBellTMH opened #278 "Facebook Descriptions"
All .json file content needs descriptions, and validate title/image is correct.

[2020-06-12 21:59] GeorgeBellTMH opened #279 "Facebook metadata perf improvements"
If it turns out to continue being a problem, try to speed up the Facebook metadata lambda.

[2020-06-12 22:10] JonEsparaz commented on #279
There seems to be an issue scraping images that aren't cached.

Examples...

Outside of the /images folder:

https://github.com/themeetinghouse/web/blob/18a38352f647e3329797cf4a86f01ba6c0e0f408/src/components/RenderRouter/BlogItem.tsx#L80

YouTube thumbnails:

https://github.com/themeetinghouse/web/blob/18a38352f647e3329797cf4a86f01ba6c0e0f408/src/components/RenderRouter/VideoPlayer.tsx#L84

Also,

[2020-06-12 22:11] JonEsparaz commented on #278
We also need to figure out how to dynamically set content for blogs, notes and videos.

[2020-06-12 22:24] JonEsparaz commented on #279
It seems that the either the scraper or the Lambda isn't getting past [`VideoOverlay.tsx`](https://github.com/themeetinghouse/web/blob/master/src/components/VideoOverlay/VideoOverlay.tsx), [`Blog.tsx`](https://github.com/themeetinghouse/web/blob/master/src/components/Blog/Blog.tsx) or [`Note.tsx`](https://github.com/themeetinghouse/web/blob/master/src/components/Note/Note.tsx) to the actual file w

[2020-06-12 22:28] georgevicbell commented on #279
Yah...it says there is a problem with gzip compression - but it is turned on...and it is loading the images if you refresh...

Facebook only waits 10 seconds and chromium take 8 seconds to even start.

I am thinking I will rewrite the lambda to just go get the json files directly from s3 and process it...then we need to write a bit for videos/blogs/notes where it goes to dynamo...but that will be

[2020-06-12 22:38] JonEsparaz commented on #279
Yup. Let me know if I can help with anything. Static pages are looking good though 🎉

[2020-06-14 14:00] lucastbelem opened #283 "Watch Page Share"
Could we add one or 2 other ways to share? For example, I always share everything through messaging apps (i.e. whats app, etc). Could we add this share option for mobile only?

[2020-06-14 17:55] JonEsparaz commented on #283
Yup. We can add WhatsApp. We can also have Facebook Messenger and Telegram.

[2020-06-15 17:29] lucastbelem opened #285 "Updates to Live page on website"
Can we do what was done for the Town Hall with the live page permanently, but for the After Party? Currently, the After Party only exists on YouTube. It'd be great if our live video disappeared after, say, 1:30pm and the live page became a "After Party" (like it did "Town Hall" last night) and had the After Party video, etc.

[2020-06-15 18:21] JonEsparaz commented on #285
This should be possible when I’ve got #274 figured out.

[2020-06-15 18:22] georgevicbell commented on #285
Yup with the dB changes this should be possible.

Sent from my iPhone

On Jun 15, 2020, at 1:29 PM, lucastbelem <notifications@github.com> wrote:

﻿

Can we do what was done for the Town Hall with the live page permanently, but for the After Party? Currently, the After Party only exists on YouTube. It'd be great if our live video disappeared after, say, 1:30pm and the live page became a "After Par

[2020-06-15 18:52] lucastbelem opened #286 "Kidmax Live playlist"
This playlist seems to have disappeared from the Kids and Youth page under teaching where it was housed.

[2020-06-15 19:13] JonEsparaz commented on #286
@lucastbelem I think this is an admin issue. Looks like Week 6 of Kidmax Live is missing some details.

[2020-06-16 17:15] JonEsparaz commented on #286
I just set the missing details and it didn't fix the issue.

Looks like the thumbnail URLs are null... This relates to https://github.com/themeetinghouse/web/issues/255. Since the video imported as private, something weird happened and the thumbnails didn't get set.

[2020-06-16 19:01] lucastbelem opened #289 "Payment processing"
We will need to develop the ability to process payment through our giving page on the website. This is not priority right now, but will be in a few weeks. Questions to answer:

- What service provider will we use?
- What considerations do we need to make to integrate with Fellowship One?

Alison is looking for answers for these questions.

[2020-06-17 14:10] lucastbelem commented on #278
Can you guys give me more details on this? Where do we need to add descriptions?

[2020-06-17 14:11] lucastbelem opened #291 "Live page reset"
We need to undo the changes we made for the Town Hall so that the right Live page appears on Sunday.

[2020-06-17 14:14] lucastbelem commented on #278
Nevermind, I found it.

[2020-06-17 15:15] lucastbelem opened #292 "Watch page video logic"
When I go to a series, a video starts automatically playing.

It doesn't seem to have any logic as to what video plays first. Can we default to the latest video in the series? An additional logic added would be great - if we could make it so that once the series is completed (i.e. we now have a new series started) the first episode would auto play instead of the latest.

[2020-06-17 15:17] lucastbelem opened #293 "Video autoplay issue"
When I go to a series to watch a video, a random video in that series auto plays. If I play a different video, it also starts playing automatically, but the previous video I was watching keeps playing as well. Can we make it so that when I switch videos, the previous video stops?

[2020-06-17 15:17] JonEsparaz commented on #291
@GeorgeBellTMH already did this

[2020-06-17 15:18] #291 closed

[2020-06-17 16:20] JonEsparaz commented on #289
I did some very brief research on this. PayPal might be the best in terms of fees (1.6% + $0.30 per transaction) and easy of integration. Moneris, upon initial inspection, has worse fees and a clunky API.

[2020-06-17 18:06] JonEsparaz commented on #278
@lucastbelem whoever is adding the descriptions can look here to quickly see which JSON files got `og-tags` added: https://github.com/themeetinghouse/web/pull/275/files?file-filters%5B%5D=.json

[2020-06-17 20:19] lucastbelem opened #295 "SSL forms on the website"
Not sure if this is an issue but thought GitHub would be a good way to flag it. New and existing forms will be SSL-enabled by default on formstack starting on June 15. Take a look: https://content.formstack.com/webmail/38532/1579238774/0a50e4644226fdfbfd7de154f8fae2c3.

If it's not an issue, feel free to just resolve this.

[2020-06-18 00:41] JonEsparaz commented on #295
Thanks for the heads up. Looks like we're already up to date, so this doesn't affect us.

[2020-06-18 00:41] #295 closed

[2020-06-18 20:15] #286 closed

[2020-06-18 21:20] JonEsparaz commented on #216
@GeorgeBellTMH I'd like to rewrite the importer so we can handle this. Turns out the `playlistItems` resource doesn't include video duration in `contentDetails`...

Is it ok if I call `youtube/v3/playlistItems` to get `contentDetails.videoId`, then call `/youtube/v3/videos` for each `videoId` to get the rest of the data? Just want to make sure I don't eat up our API quota.

While I'm at it I can a

[2020-06-20 01:00] #283 closed

[2020-06-20 01:01] #292 closed

[2020-06-20 05:37] GeorgeBellTMH commented on #216
Yup, just make a new set of VTL files...

The API quota has been expanded twice so far...we can maybe do it again, but best to keep usage as minimal as possible...I had a list of playlists to ignore, we can add more to it (maybe anything older than 2 years)...

[2020-06-20 05:37] GeorgeBellTMH commented on #216
(I'll add the key on my side)

[2020-06-20 06:58] JonEsparaz commented on #216
PR (#300) is up with the VTL and schema changes.

New plan to keep the quota down: I'll just call the videos resource once for each video in the DB to get the missing data, then re-write the importer so that it only calls the videos resource to get `contentDetails.duration` for new videos (since I assume the video duration won't magically change).

[2020-06-21 03:08] JonEsparaz opened #301 "Video statistics from YouTube API"
This is for "popular videos" on the teaching page. We need to pull view count and determine how the logic for this will work...

I think we should only pull stats if the video has been posted within the last 90 days, then display the most-viewed videos from the last 90 days as "popular" on the teaching page.

[2020-06-21 21:44] nikklassen opened #302 "Create a redirect link for the current week's notes"
I've gotten feedback that it would be nice to have a bookmarkable link for the current week's notes. If you go to the livestream directly on another device, or you are running Home Church later in the week, you may want to quickly go this week's notes without going through the live stream link.

I can implement this, but I want to confirm that it's ok to have `/notes` redirect to the most recent S

[2020-06-21 21:45] nikklassen commented on #302
I guess it doesn't even have to be a redirect per-se, we could just display the most recent Sunday if the note's ID is empty.

[2020-06-21 21:46] JonEsparaz commented on #302
@deeinstereo this is probably a question for you.

[2020-06-21 22:17] JonEsparaz commented on #264
I think what is suggested in #302 makes a lot more sense. Also, implementing notes on the teaching page without the video is sorta impossible since we won't have the episode name until the video is up.

[2020-06-21 22:17] #264 closed

[2020-06-23 17:31] lucastbelem commented on #166
@JonEsparaz can you send me the specs for these graphics?

[2020-06-23 18:14] JonEsparaz commented on #166
@lucastbelem 1104x496 or higher (maintaining the aspect ratio of course).

[2020-06-23 18:26] #124 closed

[2020-06-24 16:06] deeinstereo commented on #166
@lucastbelem @JonEsparaz so here's the deal. I think the design and use of these is important, but, I think it will be different than what we originally planned. For one, we seldom get teaching series stuff in advance, and even when we do, the click and call to action would be odd because we don't have the video for it.

Can we reuse this to instead highlight key teaching series we want people to

[2020-06-24 17:23] JonEsparaz commented on #166
@deeinstereo sounds good to me. The component is statically assigned so you just put whatever you want in the JSON file (I can walk you through when the graphics are ready).

We also talked about highlighting some of our podcasts - not sure if this is something we want on the main teaching page though.

[2020-06-24 17:48] deeinstereo commented on #166
@JonEsparaz actually, the podcast bit might be a good idea. At least to do this for the after party and then link it to the playlist. For audio podcast, what would we link to? Apple Podcasts?

Also, which .JSON file? teaching? or is there a specific one?

[2020-06-24 17:52] JonEsparaz commented on #166
I thinking linking to Apple Podcasts is probably best for audio.

Yup you edit `teaching.json`. I left an example in the PR: https://github.com/themeetinghouse/web/pull/294

[2020-06-25 04:35] #301 closed

[2020-06-25 16:18] lucastbelem opened #306 "Admin: Video import not working for all videos"
As per our conversation on the phone, Jon, old teaching (say, past 2011) is up on YouTube, but isn't getting imported to Admin. Could you look into that please?

Thanks!

[2020-06-25 16:21] lucastbelem opened #307 "Blog: Alignment on home page"
Something looks wonky on the blog component of the home page. The side-by-side view isn't lining up properly as seen here:
<img width="1172" alt="Screen Shot 2020-06-25 at 12 20 16 PM" src="https://user-images.githubusercontent.com/48295718/85758431-513a6d80-b6de-11ea-8ff5-e0f087718dfc.png">

[2020-06-25 16:46] JonEsparaz commented on #306
@lucastbelem could you send me the YouTube link to a couple of these videos?

[2020-06-25 17:02] lucastbelem commented on #306
@JonEsparaz here is the playlist link: https://www.youtube.com/playlist?list=PLB5r2P47beqKLNZ_uTpBi1snugYUMwmBD
Here are a couple of videos in that playlist that don't show up in admin:
[Series: The Way Revisited; Episode: Overcoming anger](https://youtu.be/ZxUuE3r4PbQ)
[Series: Beyond the Grave; Episode: Hell](https://youtu.be/KDEpptFwMgU)

[2020-06-25 18:00] JonEsparaz commented on #306
@lucastbelem let me know if this was resolved.

[2020-06-25 18:01] JonEsparaz commented on #302
@deeinstereo (or @lucastbelem) thoughts on this?

[2020-06-25 18:24] lucastbelem commented on #306
@JonEsparaz I just clicked "add all new" now. Didn't seem to have worked. Here is what I saw on my console:

DevTools failed to load SourceMap: Could not load content for chrome-extension://hdokiejnpimakedhajhdlcegeplioahd/sourcemaps/onloadwff.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME
357instrument.ts:129 Write Youtube: [object Object]
instrument.ts:129 {data: {…}}
instrumen

[2020-06-25 18:28] JonEsparaz commented on #306
@lucastbelem ok I'll take a closer look. If you can leave the playlist public, that'd be great - I'll let you know when we can set it back to unlisted.

[2020-06-25 18:29] lucastbelem commented on #306
Sounds good, it'll stay public until you tell me I can take it down. :)

[2020-06-25 18:37] deeinstereo commented on #302
@nikklassen sorry for the late reply! Yeah let's do it! Set it up! :) On our end, the notes will aways follow this naming pattern: https://www.themeetinghouse.com/notes/2020-06-21 with the dates representing the Sunday that the teaching falls on.
Also, just FYI we're redoing the downloadable PDF to update the format. Thanks for your help Nik!

@JonEsparaz re issue #264 what if we added a button to

[2020-06-25 18:39] deeinstereo commented on #166
@JonEsparaz Perfect. Thank you!

[2020-06-25 18:39] JonEsparaz commented on #302
@deeinstereo by submenu do you mean in the navigation menu under Teaching?

[2020-06-25 18:49] deeinstereo commented on #278
@JonEsparaz this is awesome. Thanks again. @lucastbelem should we just set up a tag party one day and fly through all of these?

[2020-06-25 18:51] deeinstereo commented on #302
@JonEsparaz sorry, yes that's what I meant. Thoughts?

[2020-06-25 18:51] deeinstereo commented on #307
@lucastbelem @JonEsparaz I literally just came on here to add this and POOF! It's here! :P Thanks for looking into it boys!

[2020-06-25 18:53] JonEsparaz commented on #302
Sounds good to me.

[2020-06-25 19:18] deeinstereo opened #309 "Problems with oneImage and oneImageBlackRight content modules"
When creating a new page, we need to be able to flip back and forth between the oneImage and oneImageBlackRight modules to help add our content to the page. Right now there is an error when you try to add a oneImage content box under oneImageBlackRight. The top of the oneImage gets covered by the previous oneImageBlackRight on mobile. Same issues happen when I change the order of the content, but

[2020-06-25 20:00] lucastbelem commented on #278
@deeinstereo yep. Is this for every page? Is it something Olivia can help with? Or I can just book something for us in the next week or 2.

[2020-06-25 20:06] JonEsparaz commented on #306
@lucastbelem I mentioned some other videos got imported. Aside from "The Classics", I think the playlists named "Teaching Highlights" and "Q & Eh?" got a bunch of videos imported.

[2020-06-25 21:14] JonEsparaz commented on #309
@deeinstereo I think this is what you're talking about:

<img src=https://user-images.githubusercontent.com/48423418/85795918-100a8380-b707-11ea-9252-dde8c466f5bc.png width=40%>

I couldn't recreate the issue until I rolled back the code to a version from a month ago. I suspect I unknowingly fixed this issue when fixing these issues: https://github.com/themeetinghouse/web/issues/228

I'll close th

[2020-06-25 21:14] #309 closed

[2020-06-26 01:27] #306 closed

[2020-06-26 01:27] #307 closed

[2020-06-26 01:29] #293 closed

[2020-06-26 01:48] GeorgeBellTMH opened #312 "Favicon - dark mode"
In dark mode we have a white square with the logo in it, probably should switch to an SVG with white or black icon with transparent or solid color background...

https://stackoverflow.com/questions/55170708/detect-if-the-browser-is-using-dark-mode-and-use-a-different-favicon

[2020-06-26 14:02] deeinstereo commented on #309
@JonEsparaz I think it's still an issue. I encountered this maybe 2-3 weeks ago when I was making the First Nations Pandemic Response page, and making some edits to the home page. If you try to add another grey box under the current COVID-19 adjustments module on the home page, you'll see it persists.

[2020-06-26 14:03] deeinstereo commented on #278
@lucastbelem yes every page, we can being in Olivia and anyone else who can jump in and help.

[2020-06-26 14:50] JonEsparaz commented on #309
Just tried and still can't recreate. If you could send me a screenshot that'd be great. The change I mentioned that unintentionally fixed this issue was merged a few days after you guys finished up with the FNPR edits, so the issue would've still persisted then.

[2020-06-26 19:02] lucastbelem opened #313 "Trying to load local..."
Getting this error:

./src/pages/admin/index.tsx
Module not found: Can't resolve '@aws-amplify/ui-react' in '/Users/lucasbelem/Desktop/Code/web/src/pages/admin'

[2020-06-26 19:03] JonEsparaz commented on #313
Trying running `npm install`

[2020-06-26 19:12] georgevicbell commented on #313
npm install

Sent from my iPhone

On Jun 26, 2020, at 3:02 PM, lucastbelem <notifications@github.com> wrote:

﻿

Getting this error:

./src/pages/admin/index.tsx
Module not found: Can't resolve '@aws-amplify/ui-react' in '/Users/lucasbelem/Desktop/Code/web/src/pages/admin'

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://g

[2020-06-26 19:47] lucastbelem commented on #313
Thanks friends...and please forgive my dumbness! ;)

[2020-06-26 19:47] #313 closed

[2020-06-28 01:38] deeinstereo commented on #309
@JonEsparaz awesome! Thanks man! Sorry for the runaround!

[2020-06-28 01:53] JonEsparaz commented on #312
I’m working on this. Works fine on Firefox. A little buggy on Chromium-based browsers.

[2020-06-28 18:07] JonEsparaz commented on #182
I tried the embed earlier this week. Formstack's embed script uses `document.write`, so it doesn't work when you load the script in `componentDidMount()`...

Might have to use a package for async script loading or get a little creative...

[2020-06-28 20:06] #216 closed

[2020-06-28 20:06] #255 closed

[2020-06-28 20:06] #312 closed

[2020-06-29 13:09] lucastbelem commented on #274
@JonEsparaz I've changed the priority on this issue - I think it's becoming more and more important for us to be able to customize this page and options within it (we could have different configuration of services, different live events, etc).

[2020-06-29 13:09] lucastbelem commented on #285
@JonEsparaz I've changed the priority on this issue - I think it's becoming more and more important for us to be able to customize this page and options within it (we could have different configuration of services, different live events, etc).

I've also changed the priority of #274 to line up with this issue.

[2020-06-29 15:11] lucastbelem opened #319 "Npm start issue"
/Users/lucasbelem/Desktop/Code/web/src/**mocks**/aws-amplify.ts
TypeScript error in /Users/lucasbelem/Desktop/Code/web/src/**mocks**/aws-amplify.ts(4,14):
Cannot find name 'jest'. TS2304

[code]

 | ^
 5 | };
 6 |
 7 | export const API = {

[2020-06-29 15:14] georgevicbell commented on #319
Npm install

Sent from my iPhone

On Jun 29, 2020, at 11:12 AM, lucastbelem <notifications@github.com> wrote:

﻿

/Users/lucasbelem/Desktop/Code/web/src/mocks/aws-amplify.ts
TypeScript error in /Users/lucasbelem/Desktop/Code/web/src/mocks/aws-amplify.ts(4,14):
Cannot find name 'jest'. TS2304

2 |
3 | const Amplify = {

4 | configure: jest.fn(),
| ^
5 | };
6 |
7 | export const API = {

—
You are re

[2020-06-29 18:41] lucastbelem opened #320 "Reunion series short cut date change"
Hey guys,

I can't figure out how to change the series date for a SHORT-CUT in AWS (Mostly because I don't know what the right table is). Would you be able to change the series date for it? The end date should be July 16, 2017.

[2020-06-30 18:51] JonEsparaz opened #322 "Notes: Load issue"
On Google Chrome (potentially other browsers too), when you navigate to notes via the buttons on the teaching page or the watch page, you need to refresh the page before the notes appear...

[2020-06-30 19:23] #319 closed

[2020-07-04 04:25] JonEsparaz opened #330 "Accessibility: Replace/fix react-add-to-calendar"
While fixing some other issues, I noticed that the `<AddToCalendar/>` component from 'react-add-to-calendar' is really bad in terms of accessibility. Users can't tab to the component, and even you wrap with a button, the dropdown still can't be activated without a pointing device.

[2020-07-05 21:40] #274 closed

[2020-07-05 21:40] #285 closed

[2020-07-05 21:47] #302 closed

[2020-07-05 22:09] GeorgeBellTMH commented on #289
Looking at the API for Moneris, it's likely we will need to create something that runs server side to use their API: https://developer.moneris.com/en/Documentation/NA/E-Commerce%20Solutions/API - options are Java/.NET/PHP

[2020-07-05 22:12] GeorgeBellTMH commented on #289
Or we can use their hosted option: https://developer.moneris.com/Documentation/NA/E-Commerce%20Solutions/MCO/About%20Moneris%20Checkout which allows for javascript, but not sure how much we can change the interface.

[2020-07-05 22:56] JonEsparaz commented on #167
Adding this here for reference: https://qbox.io/blog/an-introduction-to-ngrams-in-elasticsearch

[2020-07-07 23:58] lucastbelem opened #333 "Admin: Video loading issue"
Hey Jon,

Can you look into why the following video isn't showing up? https://youtu.be/Qj_KH_LSpe8
I know it's just one video and it'll likely show up eventually, but it good to know why sometimes a video like this doesn't get imported.

I've clicked "add all new" and reloaded and still no luck.

Thanks.

[2020-07-08 00:02] JonEsparaz commented on #333
The video isn't in a playlist on YouTube (probably should be in this one: https://www.youtube.com/watch?v=49znFd6ewMk&list=PLB5r2P47beqJpHmZ0jsLDRVy7jIDLrhTm).

Try adding it to the playlist on YouTube, then do "Add all new" on Admin.

[2020-07-08 00:03] lucastbelem commented on #333
Thanks! I should've thought of that. My bad!

[2020-07-08 00:03] #333 closed

[2020-07-08 01:43] JonEsparaz commented on #322
#326 seems to have fixed this.

[2020-07-08 01:43] #322 closed

[2020-07-08 23:18] JonEsparaz opened #336 "Groups: Cannot read property 'location' of null"
This is preventing the Partner Super Hub from loading...

[2020-07-08 23:25] JonEsparaz commented on #336
Wrong repo

[2020-07-08 23:25] #336 closed

[2020-07-10 21:20] lucastbelem commented on #289
@GeorgeBellTMH @JonEsparaz friends! I checked out /payment-test. Is that it? Like, it's hooked up with Moneris and everything already?

Jesus Collective will need a payment solution as well. I'm hoping that whatever you guys are doing with this can pretty easily be re-used and expanded upon if needed for JC. Sounds doable? Payment for JC is the pipeline for September.

[2020-07-10 21:58] georgevicbell commented on #289
Hey, no it’s not working yet. Give me a couple more days.

Sent from my iPhone

On Jul 10, 2020, at 5:20 PM, lucastbelem <notifications@github.com> wrote:

﻿

@GeorgeBellTMH<https://github.com/GeorgeBellTMH> @JonEsparaz<https://github.com/JonEsparaz> friends! I checked out /payment-test. Is that it? Like, it's hooked up with Moneris and everything already?

Jesus Collective will need a payment sol

[2020-07-13 04:40] GeorgeBellTMH opened #338 "Missing Where You Find Yourself Banner Image"
On homepage...

[2020-07-13 04:43] GeorgeBellTMH opened #339 "Some Videos/Series have funky titles"
Let?¢‚Ç¨‚Ñ¢s Talk About Sex in 2007

Probably just move them to a new series...

[2020-07-13 04:45] JonEsparaz opened #340 "Misc admin issues with videos"
I noticed these last week when working on the teaching page:
- Kidmax Live Week 10 likely needs to be deleted and re-imported
- Jesus and Justice episode 5 doesn't have a description
- Palm Sunday Surprise livestream shouldn't be in Sunday teaching (should be with the other livestreams)

[2020-07-13 05:31] JonEsparaz commented on #182
@deeinstereo since we already use Typeform for surveys, do you think we can migrate the connect form away from FormStack and onto Typeform?

I did some reading, and Typeform looks a lot easier to embed/customize on the website.

[2020-07-13 14:50] lucastbelem commented on #289
@GeorgeBellTMH Sounds good. No rush! This is a priority for August, not now. I was just curious since you put something together again. Especially curious about our ability to use the same development for Jesus Collective.

[2020-07-13 20:23] lucastbelem commented on #289
For when we get to this, details are starting to come in for UI:

From Alison: I've put actual words I would like to see on the page in bold.

- Add a small logo at the top. No banners, photos or video links. No navigation bar.
- Leave room for copy to go below the logo. This will be our value proposition. David and I can work on that copy. It won't be long, but it will be more than a sentence or

[2020-07-15 18:38] #338 closed

[2020-07-16 18:19] #340 closed

[2020-07-16 18:20] lucastbelem commented on #289
Twiliio has been recommended as an option for text to give.

[2020-07-17 20:01] JonEsparaz commented on #167
@GeorgeBellTMH is it possible to setup separate indices for each video type with AWS ES? This way we can have some ranking hierarchy like:
- Sunday teaching videos (highest)
- After Party
- Teaching Highlights
- BBQs
.
.
.
 - Kids and youth (lowest)

[2020-07-17 20:19] georgevicbell commented on #167
Can you boost them in the query?

https://stackoverflow.com/questions/12427449/elasticsearch-boosting-relevance-based-on-field-value

It might be as simple as running the same query 5 times, filtering it on videotype and then boosting each query differently, then merging them...or if there is a way to boost based directly on the videotype, then you don’t need to merge them.

Sent from my iPhone

O

[2020-07-17 20:23] JonEsparaz opened #345 "Kids and Youth Series showing NaN for year"
* [x] Fix issues on admin side (add missing startDate and endDate data) @lucastbelem
* [x] Add logic to hide year if value is `NaN`

This issue affects several series and is found in both scroll lists and grid view. Example:

![image](https://user-images.githubusercontent.com/48423418/87827496-00371880-c849-11ea-864f-7bf457146a62.png)

[2020-07-19 05:00] JonEsparaz commented on #163
If we're not able to get the API tokens set up, might I suggest we try this:

[code]

I assume we can setup a scheduled Lambda to do this for each site.

[2020-07-20 23:44] nikklassen commented on #163
It looks like this is the internal API, which should work, but paging requires a hash you don't get from this "view". But that probably doesn't matter if we just want to preview the account.

[2020-07-21 17:55] lucastbelem opened #351 "Blogs to series"
We need the ability to connect blog posts to series.

To-do:

* [x] update schema
* [x] update admin page
* [x] write/update queries
* [x] add blogs to watch page

[2020-07-21 17:58] JonEsparaz commented on #351
To clarify this needs to be many-to-many?

[2020-07-21 18:22] lucastbelem commented on #351
We need to be able to associate 1 blog to many series. One-to-many I guess?

Does that clarify this?

[2020-07-21 18:25] JonEsparaz opened #353 "Accessibility: Teaching Page"
Most elements on the teaching page (e.g. scroll list videos, the new banner cards) aren't keyboard focusable. Wrapping in `<a>` tags should do the trick.

[2020-07-21 18:39] #339 closed

[2020-07-21 18:48] lucastbelem commented on #345
@JonEsparaz when you say it affects many series, are you referring specifically to kids and youth videos? I know this is an issues with adult teaching (though the series don't show up at all until I enter a date), but are there other series you know of in kids and youth? I couldn't find any other problems in this category for kids and youth.

[2020-07-21 18:49] #278 closed

[2020-07-21 19:14] JonEsparaz commented on #345
Grasping for God is showing 2020-NaN at the moment, but this should fixed with #349. You can still add the endDate if we know what it is though.

There "many" I was referring to:
- `ky-kids-The Story`
- `ky-jrhigh-The Story`
- `ky-youth-The Story` (I believe you fixed this one already)

[2020-07-21 19:19] lucastbelem commented on #182
Hey @JonEsparaz,

here are the typeform links you may need:

Regular share link: https://themeetinghouse.typeform.com/to/PrSsyRXj
Embed code: <div class="typeform-widget" data-url="https://form.typeform.com/to/PrSsyRXj" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="h

[2020-07-21 19:20] JonEsparaz commented on #126
@lucastbelem @deeinstereo are we going to collect Instagram/Twitter handles from staff?

[2020-07-21 19:20] lucastbelem commented on #345
Perfect, thanks!

[2020-07-21 19:22] JonEsparaz commented on #182
Thank you!

[2020-07-21 19:25] lucastbelem commented on #126
@JonEsparaz For the purposes of what you're developing, can we make it so it's possible, but don't display if not available? I'm saying this because a) collecting them all may take a bit of time; b) we may want to only display those for pastors; c) it may be only twitter; d) not all of our pastors/staff will have twitter handles.

[2020-07-21 19:29] JonEsparaz commented on #126
Yup definitely. It’ll only show up if the required data is available.

[2020-07-21 21:57] #194 closed

[2020-07-21 21:59] #265 closed

[2020-07-21 22:04] GeorgeBellTMH opened #354 "Images are sometimes on top of each other"
<img width="1532" alt="image" src="https://user-images.githubusercontent.com/47749730/88111786-8c647b00-cb7c-11ea-98ab-cafa11379894.png">

[2020-07-22 20:02] JonEsparaz opened #357 "New fallback images not loading on prod"
![image](https://user-images.githubusercontent.com/48423418/88222788-76b28c80-cc34-11ea-893e-233bb65dc63b.png)

Doesn't look like the new images made it into the deployment bucket.

[2020-07-22 20:48] lucastbelem commented on #357
@JonEsparaz are these the real images meant to replace the house icon? We have them, but haven't loaded them yet. Is it possible to still display the regular house icons for now?

[2020-07-22 20:52] JonEsparaz commented on #357
These aren't the real images. Per #265, I resized the fallback image to match the size of the series image.

This is what we should be seeing for the missing images:
![series-fallback](https://user-images.githubusercontent.com/48423418/88227397-8e414380-cc3b-11ea-84d2-c6232e26e014.jpg)

[2020-07-22 21:00] lucastbelem commented on #357
@JonEsparaz sorry I must've missed that somehow! I replaced it with the same file name. It's up now.

[2020-07-22 21:00] #357 closed

[2020-07-22 21:02] JonEsparaz commented on #357
No prob. Thanks for fixing it!

[2020-07-23 12:42] nikklassen opened #358 "Unchanging assets don't appear to be cached"
I may be wrong here, but it doesn't look like we are setting a Cache-Control (max-age) header for the long lived assets like fonts, TMH logos, etc. This would probably speed up load times quite a bit

[2020-07-23 13:37] nikklassen opened #359 "Links cause full page reloads"
It looks like we are using the NavLink component from react bootstrap, instead of the NavLink component from React Router. They serve different purposes, boostrap NavLink handles only handles styling, so we aren't benefiting from the optimizations of React Router only replacing the current components, saving us from reloading/repainting the entire page.

[2020-07-23 13:37] nikklassen commented on #359
I'll take this one.

[2020-07-23 19:14] deeinstereo commented on #182
@JonEsparaz just wanted to make sure this is captured here. In the new connect form, can we make sure that we give people the option to opt in and subscribe to our email list? Seems odd to make them fill out connect, and then subscribe to the list separately.

Thanks!

[2020-07-23 19:39] lucastbelem commented on #182
@JonEsparaz let me know what might need to be added to the form itself to do that. Maybe a checkbox?

[2020-07-23 20:03] lucastbelem opened #360 "Future admin improvement"
I wonder if it would be useful to have an interface via /admin to be able to create basic web pages (i.e. go to admin, select specific modules, type copy and add images) rather than using visual code. The usefulness of this would be predicated upon allowing someone other than our team to do something like, not requiring them to understand visual code.

[2020-07-23 20:04] lucastbelem commented on #360
@deeinstereo thoughts?

[2020-07-23 20:09] JonEsparaz commented on #182
@lucastbelem yup add it on the Formstack side. All changes to the actual contents of the form should be done on Formstack.

[2020-07-23 20:14] lucastbelem commented on #182
What about in terms of actually enrolling their email to the form? Is that something you do or do I need to that?

[2020-07-23 20:18] JonEsparaz commented on #182
Ideally the Typeform should work on its own, so probably something you do if possible.

[2020-07-23 21:27] #345 closed

[2020-07-24 03:33] JonEsparaz commented on #182
@deeinstereo @lucastbelem some decisions for you guys to make...

Here's what the form would look like now:
![image](https://user-images.githubusercontent.com/48423418/88358299-671e6b00-cd3c-11ea-8439-262dae384dad.png)

Already an improvement over the old form, but definitely not what's on Figma. If you guys are ok with this look, we can edit the theme of the form to match website and call it a da

[2020-07-24 13:00] lucastbelem commented on #182
@deeinstereo it's your call. One thing to note is that this form will change once or twice in the coming months. Maybe we keep it as is for now and once things go back to "normal" and we have new copy for the form, we get the webhook stuff done?

[2020-07-24 14:29] lucastbelem commented on #289
@JonEsparaz @GeorgeBellTMH from the research you did, can you confirm the following:

- Paypal is easier to implement than Moneris (but not substantially so (i.e. 10 more days of work)
- As far as you know, with either option, would we be able to skin things as per our design? https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=1337%3A35855

[2020-07-24 14:46] lucastbelem commented on #289
Something else to note in all of this:

We need to integrate the donor's information with our database, Fellowship One.

Currently, the Finance department exports a file from PushPay, enters account numbers for donors (for first time or one-time donors) and then uploads that report to the database, which matches the account numbers to the profiles in the database. I'll get a sample report for you

[2020-07-24 14:58] lucastbelem opened #362 "Live Page for Local Teaching Sundays"
We need to make some additions to the live page for the Sundays of August 16 and August 30 only.

The additions are buttons that look like the unite.jesuscollective.com page (this is offline, but George should have the html for this somewhere?) where people had multiple boxes to select which landed them in different zoom rooms. How do we get the code from the unite page and add it here? Can we add

[2020-07-24 19:05] JonEsparaz commented on #289
Yes, and maybe. From what I can tell, the Moneris pre-built module can't be customized, so we would have to use their API to handle payments server-side using AWS - there might be some security concerns here. @GeorgeBellTMH will be able to speak into this more though.

Also, I opened an issue in the JC repo for payment processing so we can keep the discussion more organized: https://github.com/jes

[2020-07-24 19:08] GeorgeBellTMH commented on #289
We can customize fully with Moneris...with PayPal it jumps to their site via the button and everything is handled there.

[2020-07-24 19:09] GeorgeBellTMH commented on #289
Paypal implementation is likely in the 1-5 day range for getting it working, but with Moneris it will be significantly longer...not sure about the export piece...it will depend on what F1 can do and what format Moneris and PayPal can export...

[2020-07-24 19:13] GeorgeBellTMH commented on #360
Yes...that was the longterm plan...

[2020-07-24 19:15] GeorgeBellTMH commented on #358
Likely not, we could add it on some folders in cloud front automatically...just need to figure out which ones make sense...

[2020-07-24 19:18] #354 closed

[2020-07-24 19:19] lucastbelem commented on #289
That's helpful to know. When you say significantly longer, are we talking
double the time or longer? I'm only asking because I'm already being asked
about that as a determinant for making a decision on the provider.

How do we figure out what moneris and paypal can export? Do we have to get
in or do you know already where I could find that info?

On Fri, Jul 24, 2020 at 3:10 PM George Bell <notifi

[2020-07-24 19:31] JonEsparaz commented on #289
It looks like both Moneris and PayPal support reports in CSV format.

[2020-07-24 19:49] JonEsparaz commented on #182
@lucastbelem, I was just testing the API and I was mistaken. We can't create a custom interface using Typeform, so we might be stuck with the current look.

[2020-07-24 19:52] JonEsparaz commented on #362
@lucastbelem should this go above or below the chat?

[2020-07-24 19:53] lucastbelem commented on #362
@deeinstereo can you please answer Jon?

[2020-07-27 17:30] lucastbelem commented on #289
Hey guys,

Here is where we're at for this feature:

TMH needs the following:

- An interface for donors to make payments that is housed under /give - give now button, replacing the link to PushPay;
- require a certain number of fields to be completed by the donor before submitting;
- donors must be able to process payment via credit card;
- Interface needs to connect with Moneris (looks like that

[2020-07-28 19:27] deeinstereo commented on #362
@JonEsparaz this is confirming below chat. Thanks!

[2020-07-28 19:28] deeinstereo commented on #360
Yeah one day.

[2020-07-29 22:43] JonEsparaz opened #370 "Teaching Page: Create/Add Custom Playlists"
These playlists are for the "Playlists" and "Suggestions" sections of the teaching page (see highlighted):

![image](https://user-images.githubusercontent.com/48423418/88861021-0fb04d00-d1cb-11ea-94d5-4ab7e46a4df9.png)

To-do:

* [x] Determine what topics/content
* [x] Create graphics for playlists
* [x] Create playlists via the admin interface
* [x] Add playlists to teaching page
* [x] Update cod

[2020-07-29 22:44] JonEsparaz commented on #166
All the UI components are now built, so I'm closing this issue. Please see #370 for specific details on custom playlists.

[2020-07-29 22:44] #166 closed

[2020-07-30 03:25] #126 closed

[2020-07-30 03:28] #182 closed

[2020-07-30 03:28] #362 closed

[2020-07-30 03:39] GeorgeBellTMH opened #371 "Remove yellow covid warning on all pages"
Turn it off on all site pages and homepage.

[2020-07-30 03:40] GeorgeBellTMH commented on #371
This is done @deeinstereo

[2020-07-30 03:40] #371 closed

[2020-07-30 03:42] GeorgeBellTMH commented on #163
Yup, lets do the simple one, don't need paging...key management for insta is a bit of a pain for 20+ sites.

[2020-07-30 14:21] lucastbelem commented on #289
@GeorgeBellTMH @JonEsparaz you should both have invites to Stripe now.

[2020-07-31 21:58] JonEsparaz commented on #163
I'll set up a scheduled Lambda. I just need to figure out a good way to have it scrape each site separately (we don't want the entire job to fail if just one site fails).

[2020-08-04 18:57] #279 closed

[2020-08-05 15:21] lucastbelem commented on #289
Elavon is looking really good from a finance perspective. I'm gonna book a meeting with Elavon for us to look into the following:

- Can Elavon be integrated smoothly? APIs, node packages, anything else that you guys would be looking for.
- Can we export reports from some kind of back end account?
- How would we be able to add giving numbers to transactions?
- Can we handle single and recurring tr

[2020-08-08 00:31] GeorgeBellTMH opened #375 "Patch scroll list event listener bug"
Per the thousands of Sentry events.

Also, a minor styling fix.

[2020-08-08 17:26] JonEsparaz commented on #375
I believe this was opened by mistake.

[2020-08-08 17:26] #375 closed

[2020-08-10 02:50] #359 closed

[2020-08-12 13:52] deeinstereo opened #378 "Hero Images Loading Too Slow"
We need to improve the speed of these images loading. Not sure what the best way is so I leave that with you, but right now it just takes far too long.

[2020-08-12 13:57] deeinstereo opened #379 "Locations Not Loading From Locations Page"
If you google "the meeting house oakville" one of your top results takes you to https://www.themeetinghouse.com/locations/oakville/ _but_ it just loads /locations page, if you then scroll down and select Oakville or any other location, it goes to /locations/oakville/oakville which don't exist and continues this pattern forever trapping you in a terrible vortex of being stuck on the locations page

[2020-08-12 14:00] nikklassen commented on #379
I'll check if #377 has any effect on it. As for going directly to `/oakville` instead, we could set up a redirect, I'm working on another PR that will improve how we do redirects.

[2020-08-12 14:19] deeinstereo opened #380 "Urgent Design Issues on Home Page on Mobile: Locations Module Not Functioning"
Scrolling down on the home page on mobile, the bottom of Go Campaign module does something super odd to the Locations module at the very bottom before the footer. See attached screenshots for reference. After 5+ minutes it finally loads/resolves but it pushes everything else down and creates a very awkward gap.

![IMG_2502](https://user-images.githubusercontent.com/47831068/90026361-32d80380-dc85-

[2020-08-12 14:23] deeinstereo opened #381 "Design Fix on Home Page Mobile: Awkward Large Gap"
Right under Covid-19 (star content module) and before we move onto the teaching module, there is a large gap that's not reflected in the original design. This needs to be tightened up.

Figma link to how it should look: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=220%3A6248

And attached reference images for what it looks like now.
![IMG_D877B5FFE725-1](https://user-ima

[2020-08-12 14:34] nikklassen commented on #378
#358 would help after first load, lazy loading of offscreen images might also be an option

[2020-08-12 14:40] nikklassen opened #382 "Improve page load performance"
I've started working on this, I just wanted to create an issue to track it. Main goal is to improve the performance of the initial load of the landing page.  Current performance (according to Chrome's Lighthouse) is 38/100.
First contentful paint: 2.1s
Speed index: 3.4s
Largest contentful paint: 11.2s
Time to interactive: 7.2s

I'd like to get as many of these as possible to green. So far I have p

[2020-08-12 15:54] deeinstereo opened #383 "Improving Live Page NEW Design + Dev"
themeetinghouse.com/live needs some TLC (mobile especially but desktop also needs an update)

I think we should mimic some of the the designs of our video/teaching watch page
See here: https://www.themeetinghouse.com/videos/Grasping%20for%20God/xDcAavkhPr0
And original figma designs here: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=278%3A0

Here are some parts needed fo

[2020-08-12 15:55] JonEsparaz commented on #380
I can't recreate. Here's what I get on Edge and Safari on iOS (loaded instantly):
<img width=40% src=https://user-images.githubusercontent.com/48423418/90036837-789ac900-dc91-11ea-8e34-d079a2a2c619.PNG>
<img width=40% src=https://user-images.githubusercontent.com/48423418/90036841-79cbf600-dc91-11ea-9283-7b0e1fc72781.PNG>

@deeinstereo more details would be helpful:
- Are you still able to recreat

[2020-08-12 15:55] deeinstereo commented on #379
@nikklassen awesome! Thanks for looking into that Nik!

[2020-08-12 15:56] deeinstereo commented on #382
@nikklassen yesterday I had a call with @georgevicbell and he mentioned he needed to change some functions on his end. Maybe he'll shed more light on this so your work is not in vain?

[2020-08-12 15:57] deeinstereo commented on #378
@nikklassen I was chatting with @georgevicbell about this yesterday and he said he had somethings on his end that could help tackle this.

[2020-08-12 16:03] JonEsparaz commented on #379
I suggest we wipe this result from Google's index via the Search Console since this URL is from the old website.

[2020-08-12 16:07] deeinstereo opened #384 "Star Blog for Spiritually Curious Page"
As per original design on Figma: https://www.figma.com/proto/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=1973%3A15671&scaling=min-zoom

The idea here is that only specific blogs that are written exclusively with the spiritually curious audience in mind would appear here. These blogs can also appear on the main blog page and be pushed to the home page if they are new, but, no other blogs would app

[2020-08-12 16:08] deeinstereo commented on #379
How do we do this? Is this something I could do or is this on George's end?

[2020-08-12 16:15] deeinstereo opened #385 "Blog Page Doubles Up Most Recent + Featured Post"
Currently the featured post (most recent) and the post that appears at the top of the list are the same.
See: https://www.themeetinghouse.com/blog

Looks clunky and doesn't make the experience fantastic.

Versus what it should be on the design in figma under BLOG: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=796%3A11260

[2020-08-12 16:20] JonEsparaz commented on #383
@deeinstereo yes, but if might get a little tight on smaller phones (e.g. iPhone 5). I'll see what I can do.

Also, a thought for the buttons on the actual watch page... Are people actually trying to download the MP3/MP4 on their phone? Can we just display the notes button on mobile? Another option is changing the copy on mobile to "video" and "audio" (without download).

Per the icons, I have som

[2020-08-12 16:24] georgevicbell commented on #379
https://search.google.com/u/1/search-console

Click on the hamburger and you should be able to open www.themeetinghouse.com<http://www.themeetinghouse.com>...

This url is not in the index...so not sure what is happening...

Probably wouldn't hurt to make a sitemap at some point...that will improve a lot of the google stuff...

George Bell
Cell: 416-802-6697

________________________________
From:

[2020-08-12 16:25] JonEsparaz commented on #384
This functionality already exists!

You should be able to create a blog series, then I can write a query to pull just these blogs.

I recall you mentioned some bugs with creating a blog series, so let me know if you run into issues.

[2020-08-12 16:25] deeinstereo opened #386 "Update Design of Make a Difference Buttons on Home Page"
Volunteer, Compassion, Give

Should be bolder with little arrows as per design: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=220%3A6248

When you scroll over each word the arrow should nudge to the right.
Also in the original design the image changed overtime you scrolled over one of these buttons on desktop. No huge rush on this but would be fun if you could make it wor

[2020-08-12 16:29] georgevicbell commented on #379
It looks like google may have stopped indexing the video pages, the number of indexed pages has dropped significantly...might be another thing to look at.

George Bell
Cell: 416-802-6697

________________________________
From: George Bell <george_vic_bell@hotmail.com>
Sent: August 12, 2020 12:24 PM
To: themeetinghouse/web <reply@reply.github.com>
Subject: Re: [themeetinghouse/web] Locations Not Lo

[2020-08-12 16:30] JonEsparaz opened #387 "Load blogs incrementally (forward pagination)"
Currently, the blog just spits out every post. In a couple months from now, we'll have a lot of posts.

I think the behaviour should be load 20, if the user scrolls to the bottom of the page, show loading animation, load 20 more, repeat...

[2020-08-12 16:32] JonEsparaz commented on #379
I can look at building the sitemap. Pretty easy to generate for the static pages based on the JSON files, but for videos and blogs we probably need a Lambda...

[2020-08-12 16:32] GeorgeBellTMH opened #388 "Google not indexing videos/blogs etc."
Determine why google is not indexing blogs/videos and some other pages (only ~200 are in the index, down from 2500+ in June)

[2020-08-12 16:33] GeorgeBellTMH opened #389 "Auto-generate a google sitemap"
Generate a sitemap automatically from the content/db and submit it to google.

[2020-08-12 16:44] georgevicbell commented on #379
Yup, just a scheduled lambda that writes the file to s3...

George Bell
Cell: 416-802-6697

________________________________
From: Jon Esparaz <notifications@github.com>
Sent: August 12, 2020 12:32 PM
To: themeetinghouse/web <web@noreply.github.com>
Cc: George Bell <george_vic_bell@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [themeetinghouse/web] Locations Not Loading From Loca

[2020-08-12 17:06] JonEsparaz opened #390 "Staff images don't load if the person has >2 names"
Not loading for:
- Laura van der Kooi
- Chris van Dijk
- Rentia van der Bijl

[2020-08-12 17:19] nikklassen commented on #379
A site map would also improve our 404 performance, because our code could fetch the site map file and be able to determine if a route exists right away

[2020-08-13 18:57] deeinstereo commented on #384
Ah, of course. Okay sounds good! I will test and let you know! If everything is good I will close the issue, if I run into errors I'll post them here.

[2020-08-13 19:02] deeinstereo commented on #383
Yeah totally open to what you think is best.

- Let's go 2 wide to keep it safe.
- Yeah I guess no one downloads on their phone right. Can we change the copy so that on mobile we drop download?
-Find a better icon from the set and use it, I'm open to what you think is best!

Thanks!

[2020-08-13 19:51] JonEsparaz opened #393 "Remove unused Helmet tags"
Most `<Helmet/>` tags aren't need with the new Lambda function

[2020-08-13 22:15] deeinstereo commented on #387
Good thinking. The design on figma actually includes a module that pulls our most popular blogs among other things. This will help break up the page. See: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=796%3A11260

[2020-08-13 22:20] JonEsparaz commented on #387
Yup I'll need to add some analytics so we can determine which posts are the most popular.

An issue for future blog design improvements can be found here: https://github.com/themeetinghouse/web/issues/236

[2020-08-15 22:37] JonEsparaz opened #397 "imageList module displays arrows without link"
Example on https://www.themeetinghouse.com/kids-and-youth:

![image](https://user-images.githubusercontent.com/48423418/90322772-4229ac00-df26-11ea-9529-a5fe947dc131.png)

This is just static text (not a link), so the arrow shouldn't render.

[2020-08-15 22:38] JonEsparaz opened #398 "Kids and Youth copy edits required"
https://www.themeetinghouse.com/kids-and-youth

Too much copy is causing the modules to overflow a bit. Alternatively, we can reduce the font size.

[2020-08-16 22:14] #385 closed

[2020-08-16 22:21] JonEsparaz opened #399 "Improve Home Church Directory Load Time"
Best solution is probably a scheduled or HTTP trigger Lambda (via the admin page) to copy data from F1 into DynamoDB, then just read data from Dynamo.

[2020-08-16 22:24] JonEsparaz commented on #390
@GeorgeBellTMH doesn't look like this resolved on prod. Any idea what might be happening?

[2020-08-16 22:35] georgevicbell commented on #399
Ya I think I agree with this. It also allows us to bolt on additional pieces of data when we start to improve the homechurch experience.

Sent from my iPhone

On Aug 16, 2020, at 6:21 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

Best solution is probably a scheduled or HTTP trigger Lambda (via the admin page) to copy data from F1 into DynamoDB, then just read data from Dynamo.

—
You are

[2020-08-16 22:36] georgevicbell commented on #390
Likely something with the rerender/caching lambda.

Sent from my iPhone

On Aug 16, 2020, at 6:24 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

@GeorgeBellTMH<https://nam05.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FGeorgeBellTMH&data=02%7C01%7C%7C10b79364476c4e67fb3308d842332576%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637332134714881288&sdata=4ngQzVRBnGltcH3W41U

[2020-08-17 11:58] deeinstereo commented on #385
@JonEsparaz you're the best! thanks man!

[2020-08-17 14:02] deeinstereo commented on #383
Some more thoughts here:

1. Since YouTube chat doesn't function on mobile and tablet, can we remove it for those two designs? Leave it only for desktop?

2. The buttons for site names (local teaching) are a little chunky. Any chance we can make the white boxes a bit more rectangular by taking down the height?

[2020-08-17 15:29] JonEsparaz opened #400 "Way for users to trigger location services on find home church"
If I turn off/disallow location services when the browsers prompts me, there's no way for me to turn it back on (without clearing my cache).

There should be a button on the page that allows users to find home churches near them using location services.

[2020-08-18 22:17] JonEsparaz commented on #163
Related: https://github.com/themeetinghouse/mobile/issues/43

[2020-08-22 04:48] GeorgeBellTMH opened #404 "Upgrade TSL/SSL to 2019 amazon suggested"
Upgrading the TSL to use the most recent suggested from amazon, this may make the site not work for old browsers but will provide better security now that we are working with financial information.

[2020-08-22 04:48] #404 closed, assigned to nobody

[2020-08-22 04:49] GeorgeBellTMH opened #405 "upgrading to use http2/1.1/1 instead of 1.1/1"
This should make things a bit faster.

[2020-08-22 04:49] #405 closed, assigned to nobody

[2020-08-24 14:19] JonEsparaz opened #406 "Footer alignment on mobile"
The navigation links should be left-aligned. Social links are fine.

<img src=https://user-images.githubusercontent.com/48423418/91055791-22177e00-e5f3-11ea-9145-ca30af4d2932.PNG width=40%>

[2020-08-24 15:48] GeorgeBellTMH opened #407 "Home church emails issue"

[2020-08-24 15:48] GeorgeBellTMH opened #408 "Home Church Emails issue"

[2020-08-24 16:22] GeorgeBellTMH opened #409 "Search icon change"
This should be locked to the top of every page so always accessible. (except for dialog boxes, overlays, forms, video player)

Can this go back in a white box. Just concerned that if a photo has a dark area at the top corner, we'll lose the icon. Also, make the icon 40% smaller than current size and make sure it's not sitting edge to edge in a white box. It should have some room around it.

[2020-08-24 16:22] GeorgeBellTMH opened #410 "Local teaching playlist (especially for EFCs)"

[2020-08-24 18:19] lucastbelem opened #413 "Minor visual bug"
The "watch" and "notes" buttons are misaligned.

<img width="1193" alt="Screen Shot 2020-08-24 at 2 19 00 PM" src="https://user-images.githubusercontent.com/48295718/91081240-ceb62780-e614-11ea-85d2-761250c69e54.png">

[2020-08-24 19:40] JonEsparaz opened #415 "Visit Site Page Button"
https://www.themeetinghouse.com/find-sunday-morning

![image](https://user-images.githubusercontent.com/48423418/91088430-fced3480-e61f-11ea-9950-bf2926a9dbf6.png)

Positioning is incorrect (I think there's some extra margin). Background should be `#1a1a1a`

[2020-08-24 20:01] JonEsparaz commented on #408
Duplicate of #407

[2020-08-24 20:01] #408 closed

[2020-08-24 22:28] #407 closed

[2020-08-24 23:04] #406 closed

[2020-08-24 23:04] #413 closed

[2020-08-24 23:04] #397 closed

[2020-08-25 13:00] lucastbelem opened #418 "Redirects to pdfs not working"
When you go to themeetinghouse.com/plantoprotect, the browser displays the redirect location, but returns "page not found". That seems to be happening for all redirects that are supposed to take you to a pdf.

[2020-08-25 18:33] deeinstereo commented on #415
Can we also change the copy from "visit site page" to "visit page"

[2020-08-25 18:52] lucastbelem commented on #418
It's actually not just pdfs - it's all external links.

[2020-08-25 18:57] GeorgeBellTMH commented on #370
➤ Lucas Belem commented:

Olivia Vanderwal hey friend! Any news on this?

[2020-08-25 19:39] deeinstereo opened #419 "Pull ticketing URL from Facebook Events to Site Pages"
URL field for tickets/registration should be pulled from Facebook events to our event listing on the site page. Should be masked as REGISTER and then link to that.

[2020-08-25 20:01] JonEsparaz commented on #419
@GeorgeBellTMH v8.0 of the Graph API definitely handles this with the `ticket_uri` field. I'm not sure about v4.0 though...

[2020-08-26 15:35] lucastbelem commented on #418
@GeorgeBellTMH we'll need this one sorted for Sunday. We're sending people to external links for the prayer thing.

[2020-08-29 07:43] #380 closed

[2020-09-02 19:47] JonEsparaz opened #429 "Styling issues with hero images on tablet (and vertical monitors)"
In general, we haven't really implemented the tablet designs, but I think the hero images should be fixed since the person's face gets sliced in half at the boundary:

<img src=https://user-images.githubusercontent.com/48423418/92028963-db343180-ed32-11ea-9a01-38ce08921e59.png width=50% >

Adding an `object-position` property to the hero image and re-styling the `heroBlackBox` component will do th

[2020-09-02 20:50] #383 closed

[2020-09-02 22:28] GeorgeBellTMH opened #432 "When searching in desktop, X moves to left when results are shown..."
<img width="1167" alt="image" src="https://user-images.githubusercontent.com/47749730/92043487-1db53880-ed4a-11ea-8487-884719b0d259.png">

[2020-09-04 19:08] lucastbelem commented on #418
They are working for me...

themeetinghouse.com/plantoprotect

On Fri, Sep 4, 2020 at 2:59 PM Jon Esparaz <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
rec

[2020-09-04 19:14] JonEsparaz commented on #418
Ok so this is slightly different to the original issue...

Go to https://www.themeetinghouse.com/corona and try opening one of the PDFs at the bottom.

[2020-09-04 19:35] georgevicbell commented on #418
Open in new tab works, open in same tab does not...

Sent from my iPhone

On Sep 4, 2020, at 3:14 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

Ok so this is slightly different to the original issue...

Go to https://www.themeetinghouse.com/corona<https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.themeetinghouse.com%2Fcorona&data=02%7C01%7C%7Cc739a4c69d804433910e08d8510

[2020-09-06 23:55] deeinstereo opened #434 "Can't Link to Specific Series from Teaching Archive"
When users go to: https://www.themeetinghouse.com/archive/series/adult-sunday

Click on a specific series (any series) and then try to share that series the short link disappears.

For example, I can get https://www.themeetinghouse.com/videos/Grasping%20for%20God/3SLmUqD8NzE from the main teaching page, but not from the archive if I select the series.

A user informed about this when they tried to

[2020-09-07 00:27] deeinstereo commented on #384
Hey @JonEsparaz I created a blog series called "News" that we will use to share news and covid-19 updates. Can you write the query so I have a blog section that only pulls "news" blogs? Thanks!

[2020-09-07 01:17] JonEsparaz commented on #384
@deeinstereo yes. Where will this blog section be on the website? Also, do you want the blogs displayed the same way as they are on /blog?

[2020-09-07 01:30] deeinstereo commented on #384
@JonEsparaz it will be displayed at /covid i'm fine to have them be displayed the same way. Also, do blogs that get added to a new series also appear under all blogs (on the master blog page)?

[2020-09-07 01:30] JonEsparaz commented on #434
@deeinstereo the above PR should fixes this.

Just to confirm. There's nothing wrong with the share button, the issue is the URL does not change, which prevents copy+pasting the URL, right?

[2020-09-07 01:32] JonEsparaz commented on #384
Right now, everything (including "News") would appear on on the master blog page and homepage, but we can change this behaviour if desired.

[2020-09-07 01:38] deeinstereo commented on #384
No no, that's good. I really like that.

Thanks! I added the blog section to the /covid page but didn't make it live, I also added the first "news" blog and set the publish date to Tuesday. Let me know what else you need. If you pull the latest updates you'll see the changes I made to the /covid page

[2020-09-07 01:38] deeinstereo commented on #434
@JonEsparaz correct

[2020-09-07 02:16] paul-ooi commented on #353
Hi @JonEsparaz , I spoke briefly with @deeinstereo a while ago about pitching in regarding some accessibility items.

Would like to help with this. I'm trying to familiarize myself with the code too. Dunno if necessary to assign this to me or just wait for my pull request.

Although `<a>` would make these items focus-able, semantically since these areas are more interactive in nature, `<button>` w

[2020-09-07 02:25] JonEsparaz commented on #353
@paul-ooi agreed buttons are more appropriate for this use case. The banner cards though, act more like links and should make use of the [Link component](https://github.com/themeetinghouse/web/blob/master/src/components/Link/Link.tsx) that was recently implemented.

I've assigned you this issue. Let me know if you have any questions about the code. Looking forward to the PR.

[2020-09-07 18:51] #434 closed

[2020-09-07 19:18] JonEsparaz commented on #432
@GeorgeBellTMH what version of Safari are you running? I can't recreate on my Mac - perhaps an issue with the Big Sur build?

[2020-09-07 21:20] paul-ooi commented on #353
Some questions about the code, but aren't directly related to this Issue, not sure where to add or open a new issue(s).

I'm using Voiceover (mac), NVDA(windows) screen readers to check the experience and results of my branch.

1. I've modified my branch with the Link Component for the banner cards
1. I've also made the buttons, but should this also be using the Link Component's `<LinkButton>` ?
1

[2020-09-07 21:45] JonEsparaz opened #439 "Set alt text for images"
There's lots of images with alt text "TBD" (definitely on the teaching page, likely on other pages too).

We should have something that's actually accessible.

[2020-09-07 21:57] JonEsparaz commented on #353
@paul-ooi

- Great 👍

- Normal buttons are fine for the scroll lists. You'll see that the handleClick function changes the overlayData state variable, then pushes to the history stack, so it isn't really a link.

- If you want to edit the visible text, then we'll need @deeinstereo's input.

- Those are episode numbers. The majority of users on the teaching page regularly watch our teaching videos

[2020-09-08 03:43] deeinstereo opened #440 "Hero Images Not Loading on /covid"
On mobile (iPhone) using Safari. The new hero images I updated don't seem to be loading for that page.

[2020-09-08 04:19] JonEsparaz opened #441 "Handle not found for blogs, videos, teaching archive"
Examples:
- https://www.themeetinghouse.com/videos/blah
- https://www.themeetinghouse.com/posts/taco

These should display the 404 not found page.

[2020-09-08 19:09] lucastbelem commented on #289
@JonEsparaz here is the document from Finance to give examples of what they currently do with PushPay.
[Sample Online Donation Information & Headings.docx](https://github.com/themeetinghouse/web/files/5190513/Sample.Online.Donation.Information.Headings.docx)

Here is a template from Stewardship: https://docs.google.com/document/d/1u2ohBUUnqxwsanijVPtu51pMwknlJ0AiOIk-EHPlVFw/edit?usp=sharing

[2020-09-09 14:39] #393 closed

[2020-09-09 15:39] GeorgeBellTMH commented on #419
This is done and publishing now - link will always say "Register".

[2020-09-09 15:40] #419 closed

[2020-09-09 23:52] JonEsparaz commented on #440
This appears to be fixed now. I think it was a deployment issue (the images were not in the S3 bucket).

[2020-09-09 23:52] #440 closed

[2020-09-11 18:54] JonEsparaz opened #447 "Incorrect email address on /careers"
https://www.themeetinghouse.com/careers

Karmyn's email is currently: carolynn.bucek@themeetinghouse.com

I assume this is a mistake.

[2020-09-11 19:53] lucastbelem commented on #447
@JonEsparaz thanks! Currently, it should stay as is so Carolynn can direct traffic for her :)

[2020-09-11 19:53] #447 closed

[2020-09-12 12:07] lucastbelem opened #449 "Preschool video on Live page"
As discussed yesterday, we need to get the preschool video to show up on the Live page by this Sunday (Sep 13) as the Kids and Youth videos show up.

[2020-09-12 22:10] GeorgeBellTMH commented on #449
Done!

[2020-09-12 22:10] #449 closed

[2020-09-12 22:13] JonEsparaz opened #452 "Stripe Integration"
High level requirements:

* [ ] Setup one-time and recurring giving options
* [x] Build frontend
* [ ] Setup Cognito user authentication with MFA (determine if we need to create a new user pool)
* [ ] Determine if giving numbers can be added to "customers" via the Stripe Dashboard (if not, build a simple admin page)
* [ ] Write terms of use, legal stuff

User accounts:

* Create a [customer](https

[2020-09-13 00:23] georgevicbell commented on #452
https://aws.amazon.com/blogs/security/how-to-use-new-advanced-security-features-for-amazon-cognito-user-pools/

Should be able to set different MFa settings based on client. So MFA off for iOS and on for web? I’ll play around with turning it on tomorrow.

Sent from my iPhone

On Sep 12, 2020, at 6:13 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

High level requirements:

  *    Setup one-t

[2020-09-13 01:09] JonEsparaz commented on #452
Yeah I read about this in the docs. Advanced security features have a not insignificant cost though (US$0.050/monthly active user), which they conveniently don't mention in that blog.

[2020-09-13 01:12] JonEsparaz opened #454 "Instagram Cognito Group"
* [x] create group (maybe done already?)
* [x] add humans to group (me, George, Lucas, David, Olivia)
* [x] create credentials for bot user, add bot to group

[2020-09-13 01:39] georgevicbell commented on #452
Of course....how long does it remember devices for? If we have MFA on the web it’s fine cuz the only login will be for donating and admin...and if the MFA on device doesn’t pop up every time you open the app it’s fine...I’m ok with it popping up once every couple of months if we can keep the login for mobile alive that long....

Sent from my iPhone

On Sep 12, 2020, at 9:09 PM, Jon Esparaz <notifi

[2020-09-13 02:09] GeorgeBellTMH commented on #454
Sent an email with details...

[2020-09-13 02:10] #454 closed

[2020-09-13 03:55] sentry-io[bot] opened #456 "TypeError: Object.entries is not a function"
Sentry Issue: [THE-MEETING-HOUSE-M0](https://sentry.io/organizations/the-meeting-house/issues/1789867749/?referrer=github_integration)

[code]

[2020-09-13 03:58] GeorgeBellTMH commented on #452
I've turned on opt-in for remembering devices (I assume it will need a checkbox on the login page). Also it's setup so MFA is optional per user...so we should only enable MFA if they perform a payment...(at which point we need to verify their phone/email)...once it's enabled they'll have to enter the MFA on the app or if they come back into the website, but once they do that it won't have to be do

[2020-09-13 03:59] GeorgeBellTMH commented on #452
Timeouts are configurable based on the app client id...and we can add new ones if needed...there is currently a web one starting with 3pxxxxxx..... and the app client is 5hxxxxxx

[2020-09-13 04:11] JonEsparaz commented on #456
Surprisingly there's a dozen or so users affected by this issue. I think this is worth fixing since the errors are happening on old versions of Chrome and Firefox (as opposed to IE).

[2020-09-14 02:30] #390 closed

[2020-09-14 13:37] lucastbelem opened #460 "Remove kidmax live and preschool to kids and youth teaching page"

[2020-09-14 18:56] JonEsparaz opened #463 "Go Campaign Page link styling"
https://www.themeetinghouse.com/go

![image](https://user-images.githubusercontent.com/48423418/93126564-7f569a80-f69a-11ea-9b93-b4242d292b72.png)

[2020-09-15 18:23] lucastbelem commented on #452
@JonEsparaz can you please add a time tag? Thanks.

[2020-09-15 18:25] lucastbelem commented on #452
Stop being so fast!

[2020-09-15 18:25] JonEsparaz commented on #452
Done. Current estimate (30 hrs) assumes we don't have to build an admin page for finance.

[2020-09-15 18:26] JonEsparaz commented on #289
See #452 for more recent discussion with technical requirements.

[2020-09-15 18:26] #289 closed

[2020-09-16 17:38] lucastbelem commented on #370
@JonEsparaz we're gonna use this a tiny bit differently than planned, just for now.

We will not be creating graphics for the playlists...instead, most playlists consists of series, so David wants to add that "Playlists" playlist to the curated playlists page. Then, he wants to create multiple of them, each of them with a different playlist category created (i.e. God's News, Relationships, etc). E

[2020-09-16 18:26] deeinstereo commented on #353
@paul-ooi thanks for jumping in on this! Looks like you and @JonEsparaz got a handle on things! Let me know if there's anything you need from me.

[2020-09-19 07:13] sentry-io[bot] opened #467 "TypeError: undefined is not an object (evaluating 'this.setState')"
Sentry Issue: [THE-MEETING-HOUSE-KM](https://sentry.io/organizations/the-meeting-house/issues/1785461892/?referrer=github_integration)

[code]

[2020-09-19 07:21] JonEsparaz opened #468 "F1ListEventSchedules Infinite Data Load"
Go to: https://www.themeetinghouse.com/find-homechurch

Legit thousands of logs: 'Promise failure caught'

[2020-09-19 14:40] #467 closed

[2020-09-20 04:09] lucastbelem opened #470 "Find a Home Church Improvements"
* [ ] Admin interface
* [ ] Ability to set zoom link
* [ ] Welcome/Introduction video?
* [ ] Leader images?
* [ ] Ability for home church leaders to update themselves?
* [ ] Each home church gets a page (with a map, address, share, zoom, welcome video, description, events, contact info, site information (accessibility, dogs, etc.)?
* [ ] Issue #552.
* [ ] Add times back to home church listings as

[2020-09-20 04:10] lucastbelem opened #471 "Locations Improvements"
TBD

[2020-09-20 04:10] lucastbelem opened #472 "/Live Page Improvements (Monday-Saturday)"
TBD.

[2020-09-21 19:09] itbel commented on #441
I will be working on this please assign me.

[2020-09-21 19:19] GeorgeBellTMH commented on #441
Thanks and welcome @itbel !!!

[2020-09-22 04:25] #456 closed

[2020-09-22 20:36] JonEsparaz commented on #398
This seems to be resolved with the new page updates.

[2020-09-22 20:36] #398 closed

[2020-09-23 00:13] JonEsparaz commented on #382
@nikklassen how are things going with this? @deeinstereo mentioned page load performance at our meeting today, so I figured I'd see if you made any progress before making changes myself.

[2020-09-23 02:22] nikklassen commented on #382
I wrote up some changes, but it was a lot and I never got around to breaking it up. In it's current state it's too big to merge without risking breaking everything. I can push a draft PR if you want to look at all the stuff I did.

[2020-09-23 02:29] JonEsparaz commented on #382
A draft PR would be great. Thanks Nik.

[2020-09-23 12:50] nikklassen commented on #382
Added #475

[2020-09-23 14:28] lucastbelem opened #476 "AWS backend access"
Can we please give Jon backend access to AWS so he can work on payment processing for TMH?

[2020-09-23 19:23] lucastbelem opened #477 ""Register" for event on facebook should open in a new window"

[2020-09-23 19:35] lucastbelem opened #478 "Find a Home Church loading box"
Can we make some changes?

* [x] Keep "loading home church listings" at the top with the loading animation
* [x] Get rid of the grey box
* [x] List sites in pill shape
* [x] Make sites clickable so only HCs for that site load (until user makes a selection, load can be as is)
* [x] Remove the sites drop down and postal code field
* [x] Add a day of the week dropdown

[2020-09-23 20:40] lucastbelem commented on #370
@JonEsparaz We've got graphics now to execute this as originally planned. We'll also use the secondary solution you devised for us. A 2 for 1 deal ;)

Playlists have all been created. Where do we go from here? Do you need to turn it on? Where should I drop the graphics?

[2020-09-24 17:32] lucastbelem commented on #409
@deeinstereo are we good if we make these changes?

[2020-09-25 03:37] #477 closed

[2020-09-25 04:10] JonEsparaz commented on #370
@lucastbelem the filenames for the images aren't consistent with how the series are named in the database, so some of the images aren't loading.

[2020-09-25 04:28] GeorgeBellTMH opened #484 "Series images should use ScaledImage component to load faster"
Load scaled images for series and playlists...

[2020-09-25 15:37] JonEsparaz commented on #370
Looks like everything is done. Good work team.

[2020-09-25 15:37] #370 closed

[2020-09-25 15:38] #441 closed

[2020-09-25 17:29] lucastbelem opened #485 ""What we do" section on /compassion"
We need to make some changes to this section. Unfortunately, this is a bit of a rush (needs doing in time for Sunday), but I didn't realize that it wasn't editable in visual code. Could someone do one of the following 2 options:

1. Make it so that this component is editable in visual code? OR;
1. Make the following changes:

* [ ] Remove "Discipleship Development"
* [ ] Change the component title

[2020-09-25 21:32] itbel opened #486 "Horizontal scrolling occurs"
page content is going out of main view causing unintended horizontal scrolling to occur.
![overflowing](https://user-images.githubusercontent.com/42515854/94317726-df7bf500-ff54-11ea-8159-f2f440f07d32.png)

[2020-09-26 14:32] itbel commented on #485
Hey Lucas. These changes can be made by going to these files:
/public/static/content/compassion.json
/public/static/data/compassion.json

[2020-09-26 14:32] #485 closed

[2020-09-27 12:32] #476 closed

[2020-09-27 15:16] deeinstereo opened #487 "Notes Loadings Really Slowly"
Lots of problems this morning with how long it takes for the notes to load. Got plenty of comments and texts about it this morning. Can we improve the speed of the notes?

[2020-09-28 14:29] itbel commented on #487
Requesting some more info on this issue. Is it slow to just load the page, or is it when you download the pdf?

[2020-09-28 15:09] deeinstereo commented on #487
@itbel the whole page. Just trying going to: https://www.themeetinghouse.com/notes and see what happens.

Thanks!

[2020-09-28 15:27] JonEsparaz commented on #487
There's a lot of extra data being passed since we now add Bible verses to the notes and add a connection to the video series. My suggestion is writing a custom query that only pulls the data needed for notes on the website.

[2020-09-28 19:33] deeinstereo opened #489 "Remove "+" from Locations in the menu"
We're revamping the locations experience and it doesn't help to have an expanded menu for that section. It makes more sense for people to have to click "locations" and then we can walk them through home church and livestream options.

[2020-09-29 17:27] itbel commented on #486
Having trouble finding all the items causing the overflow. Could overflow-x:hidden; be a partial solution to this?

[2020-09-29 21:51] itbel commented on #409
Need some clarification on this issue. Should the search icon only be visible on large screens and go inside the hamburger menu on tablets and mobile devices?

This is how it looks currently on Mobile.
![www themeetinghouse com_(iPhone X)](https://user-images.githubusercontent.com/42515854/94620050-f46dc680-027b-11eb-8322-dc465e7238eb.png)

[2020-09-29 21:54] GeorgeBellTMH commented on #409
I think it's fine on mobile...

[2020-09-29 22:05] GeorgeBellTMH commented on #486
It appears that setting padding:0 on the anchor inside of the items of Teaching resolves the horizontal scroll issue...

[2020-09-29 22:30] GeorgeBellTMH commented on #320
Did you get this done? Can be done from dynamodb...

[2020-09-30 14:48] itbel commented on #415
The approved design does not include the map fullscreen button and calls for the map to fill up the whole width of the viewport. Currently, spanning the map the length of the viewport causes the fullscreen icon to cover the search icon on the top right.
![localhost_3006_find-sunday-morning](https://user-images.githubusercontent.com/42515854/94701085-3ba29880-030a-11eb-967b-326f3b176d8a.png)

Shoul

[2020-09-30 15:16] deeinstereo commented on #415
@itbel Yup! Or add the little white box like in figma.

[2020-09-30 15:19] deeinstereo commented on #409
Looks good on mobile, right now I don't love how tightly to the edges its positioned on desktop.
Here's a bigger issue for me: should we just temporarily hide search until we get it working properly. The experience is so poor right now I don't really want people using it only to be disappointed.

[2020-09-30 15:33] lucastbelem commented on #409
@deeinstereo I second that David. Let's hide it until we get around to improving it. @itbel can you do this or does George need to do it?

[2020-09-30 15:46] itbel commented on #409
I can do it.

[2020-09-30 15:50] deeinstereo commented on #409
Awesome! Get it done! :)

[2020-09-30 16:59] itbel commented on #415
@deeinstereo Requesting further clarification.
What should be done with this button? It conflicts with the approved design as the search button is supposed to be there.
![Screenshot from 2020-09-30 12-49-46](https://user-images.githubusercontent.com/42515854/94716149-6e558c80-031c-11eb-9c56-34830b65e70a.png)

[2020-09-30 19:16] lucastbelem opened #492 "/live page - button time"
Currently, Zoom buttons and other button links show up based on the value entered for "videoStartTime" in the livestream portion of the admin side. We need this to change. These buttons should show up based on the value entered for "startTime".

@GeorgeBellTMH have you taken care of this already? If not, @itbel can look at it.

[2020-10-01 09:34] #487 closed

[2020-10-01 09:34] #489 closed

[2020-10-01 09:35] #492 closed

[2020-10-01 09:50] GeorgeBellTMH opened #494 "customQuery optimizations..."
We are getting dinged an extra 200$ a month right now for some really big dynamo queries...

We need to create customQueries for listCustomPlaylists, getVideoByVideoType and any other queries that are returning lots of unused data...

This will improve performance and cut down on costs...

[2020-10-01 17:08] lucastbelem commented on #472
@deeinstereo here is the spot for the changes you're thinking of in the Livestream page. Buttons show up early is implemented, so no need to worry about that.

[2020-10-02 17:35] itbel opened #495 "/live page pre-roll video doesn't load"
Condition to load preroll video after startTime is never met.

[2020-10-02 19:35] lucastbelem opened #497 "Videos pulling from youtube playlists"
@GeorgeBellTMH does the admin side of the website pull videos from specific playlists or do they just need to be in any playlist? I ask because the latest preschool video (October 2020 | Preschool: Week 01) is in 2 playlists, but didn't show up in admin until I added to a specific playlist (which is one I don't it to exist in on youtube).

[2020-10-03 00:37] lucastbelem opened #498 "Set redirects in /admin"
It would awesome if we could add the ability to set redirect links right in the admin interface. This way, users with admin access can set redirects rather than only users with visual code set up and ability to sync to prod.

User would be able to:
- set redirects
- edit redirects
- delete redirects

[2020-10-03 00:38] lucastbelem commented on #498
@GeorgeBellTMH can you please set a time tag to this task?

Thanks.

[2020-10-03 20:42] #495 closed

[2020-10-04 15:01] deeinstereo commented on #472
@lucastbelem thanks! just to clarify, this is for the Monday-Saturday page?

[2020-10-04 15:04] lucastbelem commented on #472
@deeinstereo yeah. We can rename the issue. I originally thought you had changes you wanted implemented for Sunday as well, but now that's all ready, we just need the Mon-Sat changes :)

[2020-10-04 23:14] #494 closed

[2020-10-04 23:45] #379 closed

[2020-10-05 06:01] #415 closed

[2020-10-05 07:44] GeorgeBellTMH opened #503 "Test Case: Courses"
1. Create a courseAdmin user
2. Create a course
3. From main page you should see "Admin" where the join button usually is  (clicking on the group should take you to the promo page)
4. Create a courseCoach, you should see "Coach" (clicking on the group should take you to the promo page)
5. Create a courseUser, you should see: Closed (clicking on the group should take you to the promo page)
6. Add u

[2020-10-05 07:48] GeorgeBellTMH commented on #503
On step 2, the admin user should see Create Course button on the promo page, followed by Save Course, Go To Course and Delete Course

On step 3, the admin user should see Save Course, Go To Course and Delete Course on the promo page

On step 4, the coach should be able to see the promo page, they should only be able to see goto course on the promo page, clicking on goto course should take you to c

[2020-10-05 07:49] GeorgeBellTMH commented on #503
There is a future option to add an Apply button instead of the closed button...

[2020-10-05 09:24] GeorgeBellTMH commented on #503
Wrong project

[2020-10-05 09:24] #503 closed

[2020-10-05 13:02] lucastbelem commented on #409
I think based on the latest comment, there is still an action left in this issue - hide search altogether. But I thought occurred to me - can we do that? Accessibility-wise, can we do that? Not have a search?

[2020-10-05 13:06] lucastbelem commented on #418
@GeorgeBellTMH It appears this issue is either not resolved or resurfaced.
themeetinghouse.com/plantoprotect and themeetinghouse.com/plantoprotectforelders. At least these 2 don't work.

[2020-10-05 14:43] JonEsparaz commented on #418
This is probably from #481. I think I know what the problem is... Will fix.

[2020-10-05 15:42] deeinstereo commented on #409
Well we don't have a working search ATM, so hiding is actual the more honest option in my opinion.

[2020-10-05 16:27] deeinstereo opened #505 "Kids and Youth Videos Fixes"
Can we remove Kidmax live playlist, and make sure all the series images are loaded in properly? It seems that there are some missing pieces: https://www.themeetinghouse.com/teaching-kids-youth

[2020-10-05 16:46] deeinstereo opened #506 "Popular Teaching Playlist Only Pulling 3 videos"
Help? https://www.themeetinghouse.com/teaching

[2020-10-05 19:56] JonEsparaz commented on #506
I took a quick look at this. It's technically, "working as expected", but given changes in view statistics during the pandemic started some adjustments might be need.

Explanation:
- We only record the view count if the video has more than 1000 views. We do this to to keep our YouTube API quota under control (also videos with less than 1000 views are hypothetically not that popular).
https://githu

[2020-10-05 20:52] georgevicbell commented on #506
Other option is to include live videos in the popular videos, since they are regularly getting 3000+ views...

George Bell
Cell: 416-802-6697

________________________________
From: Jon Esparaz <notifications@github.com>
Sent: October 5, 2020 3:56 PM
To: themeetinghouse/web <web@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [themeetinghouse/web] Popular Teaching P

[2020-10-05 21:39] deeinstereo commented on #506
@GeorgeBellTMH then the page will be overrun with too many videos from the livestream. I actually prefer @JonEsparaz 's suggestion. Can we tweak the numbers a little bit though, so that it does focus on the most popular ones?
Let's do:

- Lower threshold for recording view count to 700

- Lower threshold for displaying videos to 900

[2020-10-05 22:46] itbel commented on #478
Can I get some feedback on this? @lucastbelem @deeinstereo
1440x780 ![localhost_3006_find-homechurch](https://user-images.githubusercontent.com/42515854/95139527-ad2f7c00-073a-11eb-80f8-3904d548f9fc.png)

[2020-10-06 00:21] lucastbelem commented on #478
As this is about design, I leave it with you, David. The one comment I'll
make is that the pills look a little wonky with the text going right to the
edge. Igor, could you somehow centre the text in the pill? Or add some
padding to the right of each pill?

On Mon., Oct. 5, 2020, 6:46 p.m. Igor Belem, <notifications@github.com>
wrote:

[2020-10-06 12:45] deeinstereo commented on #478
@itbel Yeah I agree with what Lucas said. The spacing is too tight. We need more padding on the left and right and the location name inside the pill. I would also make "Loading home church listings" smaller in font size and left justified. Clear All should appear under the bar and also be left justified.

How are we doing with the days of the week? Could we also add that to the HC descriptions. So

[2020-10-06 16:23] itbel commented on #478
1440x780
I've got the day selection dropdown working.
![1](https://user-images.githubusercontent.com/42515854/95228500-6ccd0e00-07cd-11eb-9741-01331b694737.png)

Dropdown
![2](https://user-images.githubusercontent.com/42515854/95228499-6c347780-07cd-11eb-871f-3232bd3e60c0.png)

Day and Location selected
![3](https://user-images.githubusercontent.com/42515854/95228497-6c347780-07cd-11eb-975d-49969b

[2020-10-06 17:19] itbel commented on #478
I've changed it so the selected site has a darker background.
![4](https://user-images.githubusercontent.com/42515854/95237603-70b15e00-07d6-11eb-9d3f-13b1fb137f65.png)

[2020-10-06 17:31] itbel commented on #478
@deeinstereo
Can you elaborate a bit more on this?
Do you mean something like this?
![Screenshot from 2020-10-06 13-29-44](https://user-images.githubusercontent.com/42515854/95238940-3ea0fb80-07d8-11eb-9e92-b0f68594a720.png)

[2020-10-07 03:43] deeinstereo commented on #478
@itbel Looking good! The spacing looks fantastic. Re.latest comment>>  Yes, except I didn't expect then to include the time or frequency. Can it have just the day of the week, or is it easier to include time and frequency? Not sure what's easiest considering the backend. Also, tiny change but I think it should say "Day of the Week" instead of Days of week in the drop down.

By big concern is how w

[2020-10-07 16:45] itbel commented on #478
Thanks for the feedback. I've been thinking about how to implement these pills on mobile but I'm not sure it can be done in a good way because some of the site names are too long.
![iPhoneX](https://user-images.githubusercontent.com/42515854/95361244-7b352b80-089a-11eb-88c7-90749648cec4.png)

Maybe could go back to using a dropdown for phone view only?

[2020-10-07 16:56] deeinstereo commented on #478
@itbel honestly that's exactly where I was leaning last night. But then I had a thought, what if we implemented drop down for desktop and for mobile?  It would save a lot of space and might make for a better user experience.
We keep the loading message on top. Then drop down #1 that says "Select City" and underneath, drop down #2 that says "Select Day", then we keep the pills just for the actual d

[2020-10-07 16:58] deeinstereo opened #507 "Popular Highlights - New Playlist"
A playlist that automatically pulls the top 10 most popular highlights (or clips that have been identified as teaching-shortcut). We judge popularity based on the last 60 days, and pull the 10 that have the most views in that time period.

Is that doable?

[2020-10-07 17:15] lucastbelem commented on #478
Also, what about the map? Do we want the map to display on mobile and
desktop? Do we it to be a toggle with either/or?

On Wed, Oct 7, 2020 at 12:56 PM David Siekanowicz <notifications@github.com>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email

[2020-10-07 18:16] deeinstereo commented on #478
@lucastbelem it's the little map button on top. @itbel is following the UI design from Phil perfectly. We're not changing that. The user on mobile still has to click either the list button. Right now we haven't implemented that so the map loads on top instead.

[2020-10-07 19:10] JonEsparaz commented on #507
This is certainly doable, but highlights have low view counts (the top 10 from the past 60 days includes videos with ~150 views), so we probably need to record view count for all videos (ie no lower bound for view counts).

If we eliminate the lower bound, we should prevent kids curriculum from recording view count to limit excess DynamoDB operations.

[2020-10-07 19:30] deeinstereo commented on #507
@JonEsparaz no I want to focus exclusively on those that we identify as teaching short cuts. The views aren't as low as you think (although I agree, they're not as high as regular teaching). Can we make it so it pulls exclusively from that list? That way how many views they get doesn't matter, it's just based on what are the top 10 most popular ones from this category. The other big win here is th

[2020-10-07 19:53] JonEsparaz commented on #507
Ah, gotcha... Misunderstanding on my part.

My recommendation is we just record view count if the video is in `adult-sunday` or `adult-sunday-shortcut` since these are the only types of videos we actually use view count stats from. This would also partially clear up #506.

[2020-10-07 19:57] JonEsparaz commented on #507
I can implement this quickly.

Just so I can do everything in one shot, @deeinstereo:
- what page do you want this on?
- where on that page?
- what should the header be?

[2020-10-07 20:13] deeinstereo commented on #507
@JonEsparaz you're the best!  adult-sunday-shortcut is exactly what I want to focus on!

- /teaching
-I can move it around but near the top, probably just above all the series.
- Popular Highlights

How's that?

[2020-10-07 20:15] JonEsparaz commented on #507
Great thanks. Should be done tonight.

[2020-10-07 20:16] deeinstereo commented on #507
Wow, the best. Thanks man!

[2020-10-08 19:53] deeinstereo opened #510 "Suggested Videos Playlists always start with #2 video and not #1"
See attached images. Why does this happen? Can we fix it?
![Screen Shot 2020-10-08 at 3 52 18 PM](https://user-images.githubusercontent.com/47831068/95506769-59ad7000-097e-11eb-99ad-b3b357ab46e7.png)
![Screen Shot 2020-10-08 at 3 52 10 PM](https://user-images.githubusercontent.com/47831068/95506777-5c0fca00-097e-11eb-8817-6aacba902b96.png)

[2020-10-08 20:00] JonEsparaz commented on #510
I assume it depends on the order in which you guys added the videos. We can sort by date.

[2020-10-08 20:02] deeinstereo commented on #510
Yes that would make the most sense. At least that way it would be chronological

[2020-10-08 20:13] deeinstereo opened #511 "OG Tags Not functioning"
I didn't realize they stopped. Does anyone know anything about thus?

[2020-10-08 20:16] georgevicbell commented on #511
I’ll take a look. Might have wiped out some config.

Sent from my iPhone

On Oct 8, 2020, at 4:13 PM, David Siekanowicz <notifications@github.com> wrote:

﻿

I didn't realize they stopped. Does anyone know anything about thus?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://eur04.safelinks.protection.outlook.com/?url=http

[2020-10-08 23:46] deeinstereo commented on #511
Thanks man! I appreciate it! #blessed

[2020-10-10 04:36] #418 closed

[2020-10-10 04:37] #506 closed

[2020-10-10 04:37] #507 closed

[2020-10-10 04:48] GeorgeBellTMH commented on #409
Hid it...

[2020-10-10 04:48] #409 closed

[2020-10-10 08:20] GeorgeBellTMH commented on #511
Ok they are back...json and videos have been tested and work...still to do: notes, blogs

[2020-10-10 08:36] GeorgeBellTMH commented on #486
Fixed this

[2020-10-10 08:36] #486 closed

[2020-10-14 17:04] deeinstereo opened #513 "📷 I can't make this picture disappear... 📷"
![Screen Shot 2020-10-14 at 10 09 33 AM](https://user-images.githubusercontent.com/47831068/96021574-a29d7280-0e1d-11eb-9c98-e7092ec61a30.png)

See that photo of Jordan and Andrea? I've changed and updated this photo a long time ago, and it always comes back! Is this a cache thing that needs to be cleared on your end @GeorgeBellTMH or is there something else I'm doing wrong here?

[2020-10-14 21:13] deeinstereo opened #514 "📱 Re-design and edits to CSS for existing page and modules 🖥️"
**Desktop**
There's zero space between the locations module and the email/connect module. See attached photo. We need some space here.
![Desktop Issues 1](https://user-images.githubusercontent.com/47831068/96044925-32074d80-0e3f-11eb-9728-3db4e86f93e6.png)

**Mobile**

1. Big gap between the top of the Teaching module and the bottom of Star Content (this month it's COVID update). I think this need

[2020-10-14 22:59] deeinstereo commented on #513
And here's another one! I swear I have deleted these from the folder and they keep appearing!
![Screen Shot 2020-10-14 at 3 58 46 PM](https://user-images.githubusercontent.com/47831068/96054328-6d117d00-0e4f-11eb-97a6-5b72832b111a.png)

[2020-10-14 23:07] deeinstereo commented on #484
Any updates on this?

[2020-10-15 00:18] GeorgeBellTMH commented on #513
Try new file names!

[2020-10-15 00:20] GeorgeBellTMH commented on #505
Can we close this?

[2020-10-15 00:21] GeorgeBellTMH commented on #468
I believe this is fixed now.

[2020-10-15 00:21] #468 closed

[2020-10-15 06:17] GeorgeBellTMH commented on #514
This should all be fixed now...

[2020-10-15 06:19] GeorgeBellTMH commented on #514
I've added a showFooter=true/false on connect modules....this will be the way going forward...so that when they are at the bottom of a page you can do showFooter=false or if in middle of page you can do showFooter=true....need to duplicate it on all the other components over time...

[2020-10-15 06:52] GeorgeBellTMH commented on #484
Done for blogs, compassion, playlists and series...

[2020-10-15 06:52] #484 closed

[2020-10-15 06:53] #510 closed

[2020-10-15 11:52] #505 closed

[2020-10-15 11:54] lucastbelem commented on #472
@deeinstereo just checking that you're still adding details to this issue?

[2020-10-15 11:56] lucastbelem commented on #478
@itbel is this done?

[2020-10-15 14:02] deeinstereo commented on #472
Yes sorry! I haven't had time to sit down and sketch it out!

[2020-10-15 14:03] lucastbelem commented on #472
All good, all good!

I saw you changed the title so wanted to make sure you didn't think you added the details too :)

[2020-10-15 14:09] deeinstereo commented on #514
@GeorgeBellTMH WOW! THANK YOUUUUUU! :D THIS MADE MY DAY!
The desktop looks *kisses finger tips* perfect!  But any chance I can get a few teeny tiny tweaks for mobile? Let me know if this is doable:

Again, JUST FOR MOBILE>>
1. Spacing under Covid-19 and above teaching >> now it's a tiny bit too close. Any chance you could double the white space? I want to show that it is a different section.
2. Sp

[2020-10-15 14:12] deeinstereo commented on #513
Now this, this is the sort of development work I can do! 👍

[2020-10-15 14:30] itbel commented on #478
No. I was working on this and I had it partially impemented but need direction regarding the changes @deeinstereo suggested. Should I scrap the pill design in favor of the drop down on all devices then?

[2020-10-15 23:14] deeinstereo opened #515 "❌ Unable to share recent teaching links? (Not sure what to call this) ❌"
If I go to https://www.themeetinghouse.com/teaching then click to watch the most recent teaching, it pops up, but, there is no shareable URL. Go ahead, try it. The video starts playing but then when you go to the URL bar to grab it and share it, there's no unique URL address.

Help?

[2020-10-16 14:18] deeinstereo commented on #478
@itbel Yeah I think we should go ahead with the drop down. The pills take up way too much space on mobile.

[2020-10-16 16:37] nikklassen commented on #400
Given #478 is this still something we want? We can't prompt the user to change their permissions (that would defeat the point of denying a site permissions), but we could add a "Find my location" button that warns the user if they've denied the location permission.

It also seems like if we want a "Find my location" it should zoom in on the map to some radius, maybe like 20km?

[2020-10-16 16:37] nikklassen commented on #400
@lucastbelem ?

[2020-10-17 12:59] lucastbelem opened #517 "New variation of live page"
For leaders day next Saturday (October 23) I need to set a livestream page, but it needs to be slightly different. Or maybe we can just add these options to the current livestream admin set up?

I need a live page that allows me to group zoom rooms in different breakouts (similar to what we did for Unite back in May). It may just be a matter of letting me set a header before adding zoom rooms so I

[2020-10-19 09:35] #515 closed

[2020-10-19 14:43] lucastbelem commented on #517
@itbel would you be able to take this one today please? We can talk about the details around it.

[2020-10-19 15:08] itbel commented on #517
Sounds good.

[2020-10-19 19:55] lucastbelem commented on #517
- [ ] Clone /live page and make it live on /leadersdaylive
- [ ] Buttons to display (pointing to the same existing urls): Give | Connect @deeinstereo?
- [ ] Remove "Share" option from page
- [ ] Change "Church Livestream" Header to "Leaders Day Livestream"
- [ ] Add a header in the same style above zoom links titled "Breakouts 1 and 3" ([Zoom links here](https://docs.google.com/spreadsheets/d/1qaQ

[2020-10-19 20:02] lucastbelem commented on #517
@itbel Sorry, [USE THIS SPREADSHEET FOR BREAKOUTS](https://docs.google.com/spreadsheets/d/1lmRgTEzEHcr8LPGfm42pXFfIhsF58qd21TOzyygnt8Y/edit?usp=sharing).

[2020-10-19 21:19] itbel commented on #517
- Missing zoom links for Oakville and Sandbanks
- Should I omit chatbox
- Is there a youtube live event id?
- Starting time for the event
@lucastbelem

[2020-10-19 21:20] itbel commented on #517
What should show if the event isn't live?

[2020-10-19 22:05] lucastbelem commented on #517
@itbel:

- I'll let you know about the Oakville and Sandbanks links as soon as I hear back from Louise.
- Omit chat box
- Youtube link will come tomorrow
- Event goes live at 9am on Saturday, October 24 and ends at 12:30pm
- If the event isn't live, it can just show the main livestream video link.

[2020-10-19 22:06] lucastbelem commented on #517
Go ahead and leave only Connect for the button.

[2020-10-19 22:34] lucastbelem commented on #517
@itbel Sandbanks: https://us02web.zoom.us/j/5484557238

[2020-10-20 13:14] lucastbelem commented on #517
@itbel live id: https://youtu.be/UYfFdEZ_v2c

[2020-10-22 18:26] JonEsparaz opened #520 "Unhandled Formatting Error for Bible Passages in Notes"
On the notes admin page, "Matthew 7:21, 24-27" (which is an invalid format) did not throw an error.

If this type of error is encountered, the user should see an alert so they can fix it.

[2020-10-22 21:07] lucastbelem commented on #517
@itbel page looks great! No design changes from David. A couple of tweaks from me:

- Breakout 2 Zoom 1 should be called "First Name: A - K"; Here is the link: https://us02web.zoom.us/j/81730640198
- Breakout 2 Zoom 2 should be called "First Name: L - Z"; Here is the link: https://us02web.zoom.us/j/84178766161
- Please rename the link from "/liveleadersday" to "/leadersdaylive"
- Can you please ma

[2020-10-23 20:34] #517 closed

[2020-10-26 17:27] lucastbelem opened #522 "Clicking "x" while watching a video sends user to home page"
When a user goes to /teaching and clicks to watch something, the appropriate screen pops up allowing them to watch their video. However, when they click the "x" to leave the page, they're taken back to the home page, rather than the page they were previously on. Can we change this to take the user to the page they were previously on?

[2020-10-26 17:28] lucastbelem commented on #522
@nikklassen any chance you can take a look at this one when you have time?

Thanks

[2020-10-26 17:35] nikklassen commented on #522
I noticed this the other day too, it's pretty annoying. I should be able to take a look this week.

[2020-10-27 16:04] deeinstereo commented on #522
@nikklassen and the masses cry out, "THANK YOU NIK!"

[2020-10-27 16:07] deeinstereo commented on #514
@GeorgeBellTMH any ETA on this? Thanks for your work!

[2020-10-27 16:10] #513 closed

[2020-10-27 16:11] deeinstereo commented on #513
Resolved!

[2020-10-28 01:46] deeinstereo opened #525 "📇 Fix + Redesign Contact Leaders Home Church Pop-up 📇"
Improve the design of the Contact Leaders Form: https://www.themeetinghouse.com/find-homechurch

1. Make Send Message and Cancel buttons white with black text.
2. Bring buttons over to the left side, Send message first, cancel second.
3. The black box at the bottom takes up way too much space on mobile and pushes the two buttons down too far.

[2020-10-28 01:56] deeinstereo opened #526 "❌ Sharing Link Previews as Error on Social ❌"
When sharing a blog post or notes (https://www.themeetinghouse.com/posts/Religion%20+%20Politics%20=%20Politics or https://www.themeetinghouse.com/notes/2020-10-25) the preview link on Facebook says "error" and looks like this >>

![Screen Shot 2020-10-27 at 9 50 59 PM](https://user-images.githubusercontent.com/47831068/97381269-1f5d3180-189f-11eb-87af-858f18de2234.png)

Help!

[2020-10-28 02:11] deeinstereo opened #527 "👨‍🚀 Update Spiritually Curious Video Buttons 👨‍🚀"
The 6 white boxes on this page that contain the video questions:
https://www.themeetinghouse.com/spirituality

Can we redesign those so that instead it's the thumbnail from the video at lower opacity so that the text is visible, then when you scroll over it, the thumbnail changes to grey and the watch video button appears (same way it works now on desktop).

We have the thumbnails for these videos

[2020-10-28 03:46] JonEsparaz commented on #526
This is related to https://github.com/themeetinghouse/web/issues/511. Both issues are symptoms of the same problem.

[2020-10-28 04:32] JonEsparaz commented on #527
@deeinstereo can we go with a 50% grayscale filter instead? I like this option because the text never changes colour.

Opacity:
![opacity](https://user-images.githubusercontent.com/48423418/97391038-a49f1100-18b4-11eb-833b-aa2e41b1d5fc.gif)

Grayscale:
![greyscale](https://user-images.githubusercontent.com/48423418/97391040-a49f1100-18b4-11eb-8f15-30034dd95b3e.gif)

[2020-10-28 15:07] deeinstereo commented on #527
@JonEsparaz GRAYSCALE! Love it! Thanks

[2020-11-01 17:10] GeorgeBellTMH opened #529 "Mobile Links in Footer"
There is a design for adding the android and iOS icon/links in the footer...now that we have mobile apps we should re-enable them.

[2020-11-01 17:11] GeorgeBellTMH commented on #529
@deeinstereo let me know when you are ok for us to do this...not sure if there are other changes you want to make to promote the app...

[2020-11-01 17:11] GeorgeBellTMH commented on #529
<img width="813" alt="image" src="https://user-images.githubusercontent.com/47749730/97809544-69496d00-1c3b-11eb-9229-0b060ace50e0.png">

[2020-11-01 22:30] sentry-io[bot] opened #531 "TypeError: null is not an object (evaluating 'n.title')"
Sentry Issue: [THE-MEETING-HOUSE-18](https://sentry.io/organizations/the-meeting-house/issues/1657465377/?referrer=github_integration)

[code]

[2020-11-01 22:30] sentry-io[bot] opened #532 "TypeError: cancelled"
Sentry Issue: [THE-MEETING-HOUSE-11](https://sentry.io/organizations/the-meeting-house/issues/1657118653/?referrer=github_integration)

[code]

[2020-11-01 22:42] #522 closed

[2020-11-01 22:43] #527 closed

[2020-11-02 19:42] deeinstereo commented on #529
@GeorgeBellTMH that's perfect! What if we added it to the video player, right underneath where we promote the podcasts. Thoughts?

[2020-11-04 15:25] deeinstereo commented on #529
@GeorgeBellTMH as far as timelines. Let's get it up on the website by this weekend if possible.

Thanks!

[2020-11-04 15:44] lucastbelem opened #535 "Month of Prayer page"
TBD.

[2020-11-04 16:46] deeinstereo opened #536 "📗 Blog Post Organizing Module 📗"
We finally have enough posts at https://www.themeetinghouse.com/blog that we need to start working on: https://www.figma.com/file/Ym6BNDP4qWHnwZ8Atfk0B06k/TMH-Website?node-id=796%3A11260

Let me know if you have any questions!

[2020-11-04 16:51] deeinstereo opened #537 "🗳️ New Vote Button for /LIVE page 🗳️"
We got the request to make the VOTE button on /live more unique, visible, and highlight that it's a new and exciting feature. Can we make this happen for this Sunday? I'm Thinking something more akin to our bigger white buttons. Please help and advise ASAP.

Also, we need to let Carrissa know if this impacts anything on admin side.

[2020-11-04 18:27] JonEsparaz commented on #536
For popular posts, we need to setup a Kinesis stream to a Lambda that records the analytics data in DynamoDB.

https://docs.amplify.aws/lib/analytics/streaming/q/platform/js

[2020-11-04 19:00] lucastbelem commented on #537
Hey David,

Jimmy mentioned that in the Tuesday morning meeting. The quick and easy
solution is to use the zoom buttons to create a Vote button. It'll be
placed where they always are. I'd prefer to do just that rather than
redesign and get the devs involved. Thoughts?

On Wed, Nov 4, 2020 at 11:51 AM David Siekanowicz <notifications@github.com>
wrote:

--

*Lucas Belem*

Communications Project Man

[2020-11-04 20:18] deeinstereo commented on #537
Hey Lucas,

Yeah I get that but I don't think that buttons makes sense for vote. I'd rather have the Vote button be in line but use one of our other button styles. Any chance we can do that?

[2020-11-05 04:39] JonEsparaz opened #538 "Styles on Find a Home Church Page"
* [ ] Buttons on contact leaders form are taller than the background area
![](https://user-images.githubusercontent.com/48423418/97792701-f0550180-1bb7-11eb-8644-7801672b4a58.png)
* [ ] List of home churches overlaps with footer
![](https://user-images.githubusercontent.com/48423418/97792493-5be99f80-1bb5-11eb-832d-4eb73a6ecb88.png)

These issues were mentioned in my review of #523.

[2020-11-05 20:34] itbel commented on #538
Which resolution is this?
I worked on the bottom issue for resolution 1280x720 and should have been fixed by #533

[2020-11-05 20:56] JonEsparaz commented on #538
Still 1280x720 (for more context, my screen is 2560x1440 but scaled by 200%). That being said, the browser console says `window.innerHeight` is 550 and `window.innerWidth` is 1280 (as expected).

The above screenshots are from the production site after #533 was deployed.

[2020-11-05 21:05] JonEsparaz commented on #538
`calc(88vh - 149px)` is a quick way to fix the second issue. 88vh is the height of the map. 149px is the fixed height of the dropdown menus at the top, and the home church listing should fill the remaining height.

[2020-11-05 21:17] JonEsparaz commented on #537
@deeinstereo if you're cool just duplicating the share button and having it say "vote" with a different icon, I can take care of this tonight.

Do you want it above or below share?

[2020-11-05 21:22] lucastbelem commented on #537
@JonEsparaz awesome!

Can you actually make it in line with the menu items? Jon, one thought I had was that this could be a new menu item type, for example, "special item". Then we could re-use it whenever we need a new featured button. Does that make sense?
If that doesn't work for the time you have, happy to do it more simply for this week and work on this idea later on.

Thanks.

[2020-11-05 21:33] JonEsparaz commented on #537
A general purpose featured button is definitely doable. I can get that done for this week.

Regarding button placement, I'm not sure how "in line with the menu items" would look. I was thinking something like this:

![image](https://user-images.githubusercontent.com/48423418/98298795-8e641580-1f84-11eb-833d-d60da7ed761a.png)

What do you think?

[2020-11-05 21:46] lucastbelem commented on #537
What about this?
<img width="1440" alt="Screen Shot 2020-11-01 at 10 02 34 AM" src="https://user-images.githubusercontent.com/48295718/98299915-7beadb80-1f86-11eb-9b67-0af79b231a19.png">

Or this?
<img width="1440" alt="Screen Shot 2020-11-01 at 10 02 34 AM copy" src="https://user-images.githubusercontent.com/48295718/98299929-80af8f80-1f86-11eb-91ed-1bdb8b495e6e.png">

[2020-11-05 21:47] lucastbelem commented on #537
It looks a bit wonky with the box at the end...but I think it could work at the beginning of the row.

[2020-11-05 21:58] JonEsparaz commented on #537
Hmmmm. I don't know how that will work on mobile though.

[2020-11-05 22:03] georgevicbell commented on #537
Another idea - and this might be a bit of a bigger project.

The menu could change - or be replaced with another component (image, embedded voting, scripture, notes, frame, form, etc. )...in real-time.

On the backend it would be an option that we could trigger in real-time...so:

StartMenu1 - Active
EndMenu2 - Trigger
Form - Trigger
Voting (what song is next) - Trigger

And clicking trigger would

[2020-11-05 22:17] JonEsparaz commented on #537
In that case, I'll leave this until we decide on something concrete, so we probably won't have something for this week @lucastbelem.

[2020-11-05 22:19] itbel commented on #538
Thanks Jon. I'll take a look at it again.

[2020-11-05 22:20] lucastbelem commented on #537
Let's do the simple one for this week cause we really want it there.

Then we can sort out how this looks beyond this feature need. I like your
idea George. Let's keep talking about that one and bring David in.

In the meantime, let's get that vote button up :)

Thanks!

On Thu, Nov 5, 2020 at 5:17 PM Jon Esparaz <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project Manager

[2020-11-05 23:13] lucastbelem commented on #537
Thanks @JonEsparaz!

[2020-11-06 18:56] lucastbelem commented on #536
I'm closing this as it already exists in issue #236.

[2020-11-06 18:56] #536 closed

[2020-11-06 19:00] lucastbelem commented on #236
@JonEsparaz can you tackle this one? Just mark complete whatever you're able to get through during reading week and I'll re-assign whatever is left at the end. I ordered these in a priority sequence, but if from a development perspective it makes sense to do these in a different order, that's all good. The first 2 are the most important ones right now as we're trying to get this new Go page off th

[2020-11-06 19:08] JonEsparaz commented on #236
Yup I can get on these.

Copied from closed issue, https://github.com/themeetinghouse/web/issues/536#issuecomment-721898563:

[2020-11-06 19:15] georgevicbell commented on #236
I’ll take a look at this tonite.

Sent from my iPhone

On Nov 6, 2020, at 2:08 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

Yup I can get on these.

Copied from closed issue, #536 (comment)<https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fthemeetinghouse%2Fweb%2Fissues%2F536%23issuecomment-721898563&data=04%7C01%7C%7Cb72acca9ad7241f421d508d88287581c%7C84df9e7

[2020-11-07 02:33] #537 closed

[2020-11-07 02:36] #538 closed

[2020-11-07 18:58] #529 closed

[2020-11-08 09:10] GeorgeBellTMH commented on #399
This is now done in the backend, just need to switch over the front end...

[2020-11-08 09:11] GeorgeBellTMH commented on #399
Runs once a day at 9am...

[2020-11-08 09:13] GeorgeBellTMH commented on #399
For extra information I suggest we create a secondary table and link it to this one using the homechurch ID...since this table  will add/update and potentially delete items in the table based on the information returned from F1...

[2020-11-08 09:14] GeorgeBellTMH commented on #399
@lucastbelem and @deeinstereo - please let me know what extra info we want to track...

[2020-11-08 12:35] lucastbelem commented on #399
@GeorgeBellTMH awesome!! Off the top of my head, we should collect/track zoom ids so people can enter the home church when it's live.

But people above I think will want to clear this first.

[2020-11-08 15:10] lucastbelem opened #546 "CSS improvements"
The website has a bunch of sma tweeks needed on mobile.

Here is an example of 1 page, the /oakville page (this is replicated across all site pages):

[code]
![Screenshot_20201108-095810_Chrome.jpg](https://user-images.githubusercontent.com/48295718/98468598-2c382a00-21a9-11eb-832e-42d36e442bf8.jpg)

[code]
![Screenshot_20201108-100025_Chrome.jpg](https://user-images.githubusercontent.com/48295718

[2020-11-08 15:15] lucastbelem commented on #514
@mmacedom along with the other issue I assigned to you, would you mind resolving the last couple of requests from David in this one too?

Thanks!

[2020-11-08 15:18] lucastbelem commented on #546
@deeinstereo before @mmacedom does anything with this, can you take a look and make sure you agree these changes are needed?

Thanks!

[2020-11-08 20:32] GeorgeBellTMH commented on #511
Ok this is fixed....

[2020-11-08 20:32] #511 closed

[2020-11-08 20:32] GeorgeBellTMH commented on #526
This is fixed.

[2020-11-08 20:32] #526 closed

[2020-11-08 21:24] GeorgeBellTMH commented on #399
Front end is done and publish...performance improvements are complete. Will close and create a new ticket for other improvements.

[2020-11-08 21:24] #399 closed

[2020-11-08 21:26] GeorgeBellTMH commented on #399
#470

[2020-11-08 21:30] GeorgeBellTMH commented on #470
@deeinstereo @lucastbelem - thoughts and ideas....this is just a placeholder until we have a plan...

[2020-11-09 14:24] lucastbelem commented on #399
@GeorgeBellTMH thanks man! It's WAY faster now!

[2020-11-09 14:30] lucastbelem opened #547 "Editable Go Content"
Could we make it so that the type "goContent" can be editable? If this is a big project, I'll need to provide someone with new copy for this by the end of the week.

@JonEsparaz if this is straight forward (I don't want to use too much of your time on blogs) could you prioritize this one over the other stuff? Like I said, I can just send new content if that's quicker/easier for this round.

[2020-11-09 15:53] deeinstereo commented on #546
Yes these changes are very needed @lucastbelem I'm good with whatever @mmacedom says looks good and needs to happen. Thanks!

[2020-11-09 15:55] lucastbelem commented on #546
Awesome! @mmacedom could take this one please?

[2020-11-09 15:58] #320 closed

[2020-11-10 02:15] JonEsparaz commented on #381
Duplicate #514.

[2020-11-10 02:15] #381 closed

[2020-11-10 02:22] JonEsparaz commented on #236
@lucastbelem what's the next priority here?

Here's what I can implement immediately:
- Adding similar blogs to the blog reader
- Blog-specific search bar on /blog

There's also some other blog-related issues I could tackle: #387, #384.

There's a couple roadblocks with other feature requests:
- Adding blogs to the video player depends on #351 (requires a bit of backend work)
- Popular blogs requi

[2020-11-10 02:44] JonEsparaz commented on #532
I think we should just ignore this error: https://stackoverflow.com/questions/55738408/javascript-typeerror-cancelled-error-when-calling-fetch-on-ios

[2020-11-10 04:48] GeorgeBellTMH commented on #236
I have started recording data for recommendations...we need 1000 data points before it will work...

https://github.com/themeetinghouse/web/commit/f4e00a60ee6a1656ab8ebe13540fd0f5ec886a78

[2020-11-10 04:49] GeorgeBellTMH commented on #236
Unfortunately the setup for this is not part of amplify yet...so if we want to create another recommendation dataset or include more fields we have to do it manually in Amazon...

[2020-11-10 04:51] GeorgeBellTMH commented on #236
There is definitely more this can do, there are examples where if you show users options A,B,C,D and then they choose B it factors that in to what the suggestions are...but I want to just get to 1000 first so we enable the functionality, then we can create a more complicated version...

[2020-11-10 13:41] lucastbelem commented on #236
@JonEsparaz let's tackle these then. In the order you listed them is fine. Then if there is still time, let's tackle #384 followed by #387.

Thanks!

[2020-11-10 13:46] lucastbelem opened #551 "Live page refresh"
Some users report that if they go to the live page earlier than startVideoTime, the video doesn't automatically refresh to the live video. It stays on the pre-roll until they've refreshed the page. Is there a way to make it automatically change?

[2020-11-10 15:22] deeinstereo opened #552 "🏠 Home Church Finder Copy changes 🏠"
https://www.themeetinghouse.com/find-home-church

Can we make the days singular instead of plural? It reads awkward to always see "Thursdays, Saturdays, etc".

Also, thoughts about adding an All Parishes option at the top of parish selection?

[2020-11-10 15:27] deeinstereo commented on #387
Hey friends, just wanted to check in on this. Might help us since we've got a lot more blogs now.

[2020-11-10 17:47] JonEsparaz commented on #387
I'm going to finish up a couple items in #236, then I'll do this.

[2020-11-10 20:34] lucastbelem opened #553 "Videos from youTube to admin taking too long"
We need to do some investigating. Some videos don't appear quickly. For example, this week the teaching video from November 8 was uploaded to youTube by noon on Monday November 9th. When we went to /admin to link it to the website, it was not there. Pressing "add all new" did not work.

On Tuesday, November 10th at 9am, we went to admin and the video was still not displayed. Pressed "add all new"

[2020-11-10 20:36] lucastbelem commented on #552
@deeinstereo I don't think the "all parishes" option is needed. That's by default how home churches load if the user doesn't select a parish.

[2020-11-10 20:44] georgevicbell commented on #552
I noticed yesterday though that once you select one you can’t undo it and go back to all of them...except by clicking reset...

Sent from my iPhone

On Nov 10, 2020, at 3:36 PM, Lucas Belem <notifications@github.com> wrote:

﻿

@deeinstereo<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdeeinstereo&data=04%7C01%7C%7Ce89901c6f3be46402c9f08d885b84b58%7C84df9e7fe9f640af

[2020-11-10 21:28] JonEsparaz commented on #553
@lucastbelem having the video IDs in question would be useful to investigate.

If I had to guess, it seems like YouTube might've changed something with their API endpoint, so I'll ability to fix the issue might be limited.

Assuming this is a viable solution, would the ability to manually enter a video id to force a pull be useful?

[2020-11-10 23:21] JonEsparaz commented on #432
@GeorgeBellTMH does this bug still occur or can we close this issue?

[2020-11-10 23:45] #463 closed

[2020-11-10 23:45] #547 closed

[2020-11-10 23:50] GeorgeBellTMH opened #555 "Search Style"
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/47749730/98747438-7e35a700-2385-11eb-9d5d-bf9ae78bb75c.png">

1. Did we want to include the thumbnail of the video?
2. Is there some way we can put a border around the results or around the entire search component when it is in this mode, it's a bit confusing without some kind of divider with the next component on the pag

[2020-11-10 23:56] JonEsparaz commented on #555
1. The Figma mockup does not include the video thumbnail, but it can be added of course.

2. The search results are supposed to to look like this:
![image](https://user-images.githubusercontent.com/48423418/98747771-32373200-2386-11eb-8eaf-ace2715781d4.png)

Search results are positioned above the other components, background blurs.

[2020-11-10 23:56] GeorgeBellTMH opened #556 "Videos with missing descriptions"
Need to enter more descriptions for old videos that are being popped up by the search engine.

[2020-11-11 00:00] GeorgeBellTMH commented on #163
Closing...

[2020-11-11 00:00] #163 closed

[2020-11-11 00:06] GeorgeBellTMH commented on #378
I believe this is fixed now...let me know if we should re-open.

[2020-11-11 00:06] #378 closed

[2020-11-11 00:08] GeorgeBellTMH commented on #382
#481 did most of this

[2020-11-11 00:08] #382 closed

[2020-11-11 00:09] GeorgeBellTMH commented on #384
Closing...

[2020-11-11 00:12] GeorgeBellTMH commented on #432
I think we can close since we got rid of search temporarily...

[2020-11-11 00:12] #432 closed

[2020-11-11 00:13] GeorgeBellTMH commented on #439
Can you guys go through and find any TBD's and replace with proper descriptions?

[2020-11-11 00:14] GeorgeBellTMH commented on #460
Can we close?

[2020-11-11 00:15] JonEsparaz commented on #439
FYI this is mostly in the TypeScript files, so the alt text needs to be determined semi-dynamically. Probably something for a dev to take care of.

[2020-11-11 00:15] #497 closed

[2020-11-11 00:16] JonEsparaz commented on #555
I think I have a good solution for the blurred background. I'll take a look.

[2020-11-11 00:23] GeorgeBellTMH commented on #551
It does...will need more information to determine the problem:

- Browser/version
- Time they connected to site
- When the admin was updated
- Timezone

[2020-11-11 01:05] #460 closed

[2020-11-11 01:06] lucastbelem commented on #163
@GeorgeBellTMH isn't there work left on this for the website?

[2020-11-11 01:15] lucastbelem commented on #553
@JonEsparaz here is the ID for the video I used as an example: izQcyu2yJmM

For sure, if your suggestion is possible, it would be helpful in the meantime. But the weird thing is that it doesn't always happen. Some videos, some weeks appear when they are supposed to.

[2020-11-11 02:43] GeorgeBellTMH opened #557 "Instagram Web Frontend"
Design: https://www.figma.com/file/BXPAUnmoz9SDF17nhUUWwJ/TMH-UI-GitHub-Sharing?node-id=681%3A8285

Component should be on each of the parish sites, and show 0, 4 or 8 images depending on how many are available.

[2020-11-11 02:46] GeorgeBellTMH commented on #123
I'm wondering if this is still needed?

[2020-11-11 13:32] lucastbelem commented on #123
@GeorgeBellTMH unless we want to continue using Facebook indefinitely, yeah, we still need to do it. But not high priority. This may next year's project.

[2020-11-11 15:58] deeinstereo commented on #439
Can I edit this using visual studio code?  I checked the teaching page now and I've already added all the alt text that I can see.

[2020-11-11 15:59] deeinstereo commented on #378
Only time will tell! Can you guys go and have a look? My connection sucks so everything loads slowly these days.

[2020-11-11 23:13] #555 closed

[2020-11-12 01:36] #532 closed

[2020-11-12 01:36] GeorgeBellTMH commented on #532
Added to ignore

[2020-11-12 01:37] GeorgeBellTMH opened #559 "Version updates"
Updated a bunch of versions, @lucastbelem let me know if any problems..

[2020-11-12 01:41] GeorgeBellTMH opened #560 "Use WebP where possible instead of jpeg/png/gif"
* [ ] Add a step to sharp() that writes a cached webp file alongside the jpeg/gif/png
* [ ] Update <scaledimage> to use the webp if the browser supports it

[2020-11-12 01:41] GeorgeBellTMH opened #561 "Use WebP instead of JPG/PNG where possible"
* [x] Add a step to resizeHandler.js so that sharp() writes a cached webp file alongside the jpeg/gif/png
* [x] Update <scaledimage> to use the webp if the browser supports it

[2020-11-12 02:15] JonEsparaz commented on #560
Duplicate of #561.

[2020-11-12 02:15] #560 closed

[2020-11-12 03:28] JonEsparaz commented on #559
Running on localhost:

[code]

[2020-11-12 03:30] GeorgeBellTMH commented on #559
I was getting this as well, clear node_modules...

[2020-11-12 03:41] JonEsparaz commented on #559
Will do. Thanks George.

[2020-11-12 16:37] itbel commented on #552
Clear all button doesn't seem to be clearing the day selection field

[2020-11-12 22:06] itbel commented on #552
If we have it for the days dropdown, shouldn't we also have it for the parishes dropdown?
This does make the clear button a little redundant though.

[2020-11-12 22:30] itbel commented on #552
Why was this commented out?
` src/components/RenderRouter/HomeChurchItem.tsx`
Line 322 `//    this.selectControlDay?.select.clearValue();`

It was being used to clear the day selection dropdown. Did it break anything?
@GeorgeBellTMH

[2020-11-12 22:48] JonEsparaz commented on #384
Reopening as we have not built the component nor have the blog post(s) been written.

[2020-11-12 22:53] JonEsparaz commented on #384
@deeinstereo @lucastbelem any timeline on the blog posts? If we won't have the posts ready for a while, I'm going to prioritize #387.

[2020-11-12 23:15] GeorgeBellTMH commented on #552
There was a compile issue...if it's working you can uncomment it...

[2020-11-12 23:37] lucastbelem commented on #384
@JonEsparaz oh yeah. The posts are coming tomorrow morning. Sorry, I didn't realize you were waiting to see them to finish it.

[2020-11-13 15:11] lucastbelem commented on #384
@JonEsparaz ma man, I just realized that this was about this issue. I misunderstood and thought we were still talking about the go page blogs.

For the star blog, we don't have posts yet, but I think David has a strategy for that, and is just waiting for the the blog to exist to start implementing it. @deeinstereo, if I'm making this up, can you please let Jon know so he focuses instead on #387.

[2020-11-14 04:06] #557 closed

[2020-11-14 04:18] #559 closed

[2020-11-14 05:08] JonEsparaz commented on #384
@lucastbelem looks like I only have time to do one of the issues, so I'm going to do #387 since there's no word on the blog posts.

[2020-11-14 12:13] lucastbelem commented on #384
@JonEsparaz all good. Thanks for the update.

[2020-11-14 19:00] #387 closed

[2020-11-17 00:47] GeorgeBellTMH opened #566 "Use new Apple Podcast Embed for Podcasts"
`<iframe src="https://embed.podcasts.apple.com/us/podcast/the-meeting-house/id102719807?itsct=podcast_box&amp;itscg=30200" height="450px" frameborder="0" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation" allow="autoplay *; encrypted-media *;" style="width: 100%; max-width: 660px; overflow: hidden; border-top-left-radius: 10px; border-top-rig

[2020-11-17 00:47] GeorgeBellTMH commented on #566
https://tools.applemediaservices.com/podcast/102719807?country=us

[2020-11-17 00:57] lucastbelem opened #567 "Switch to new apple podcast embed"
https://tools.applemediaservices.com/podcast/102719807?country=us

[2020-11-17 20:16] lucastbelem commented on #400
@nikklassen sorry for the delay with this one. Let's proceed with your suggestion, Nik. Let's give the user the button, maybe call it something like "home churches around me". I think it could probably be in line with the "clear all" button.

[2020-11-17 21:41] lucastbelem opened #568 "Livestream live id"
Is it currently possible to enter a zoom link rather than a youtube link in the Live Id field? We have an event in January (Ears to Hear) which will likely be a zoom call, but we want to make it available for people to join in.

[2020-11-17 21:44] georgevicbell commented on #568
No. We will have to design an admin feature “service provider” that allows for YouTube or zoom...I’m not sure if zoom has an embeddable player....so it will have to show a link instead of video player.

Sent from my iPhone

On Nov 17, 2020, at 4:41 PM, Lucas Belem <notifications@github.com> wrote:

﻿

Is it currently possible to enter a zoom link rather than a youtube link in the Live Id field? We

[2020-11-17 21:47] JonEsparaz commented on #568
Zoom has a web SDK: https://github.com/zoom/sample-app-web

But as George suggests, a link might be the better solution.

[2020-11-18 00:41] deeinstereo commented on #568
Yeah @lucastbelem thinking more about it I don't think we'd use the LIVE button for this. I'd come up with another solution. @JonEsparaz and @GeorgeBellTMH this might be a good time for us to start thinking about how to handle people joining live events, like a Ears to Hear on a Zoom Call, or AGM, Town Halls etc. Events that are not necessarily livestream broadcasts per say.

[2020-11-18 00:43] deeinstereo opened #570 "💨Will changing a page name mess everything up? 💨"
I want to change /teaching-curated to just /videos
I already changed the Curated Playlists sub-menu button to Video Playlists. More and more of this content will be different than just teaching (eg. music videos and interviews) and I think /videos is an easier place to send people and makes more sense with the button.

Thoughts? Is this simple or will it ruin our architecture?

[2020-11-18 01:04] GeorgeBellTMH commented on #568
<img width="1124" alt="image" src="https://user-images.githubusercontent.com/47749730/99469134-0f6dc600-2910-11eb-96bf-c74eb4576155.png">

That's my idea....

[2020-11-18 01:05] GeorgeBellTMH commented on #568
Clicking on join takes you directly to it...clicking on the title or time takes you to a page with a description...

[2020-11-18 01:07] GeorgeBellTMH commented on #568
Join is maybe greyed out until it's the correct time....potentially we could add a "list all upcoming live events" button at the bottom that takes you to a page where you can filter and sort by time, date and location...

[2020-11-18 01:07] deeinstereo commented on #568
@GeorgeBellTMH woah, that's pretty cool. Minor tweaks needed but yeah, can we have this in time for the January 10 Ears to Hear event and use it as a test for that event? I would also probably call the button "Live Events"

[2020-11-18 01:08] GeorgeBellTMH commented on #568
The cool thing is that it would also work for Sundays....and Christmas....multiple events on the same day...

[2020-11-18 01:12] deeinstereo commented on #568
ETA on how long it would take to develop consider our other priorities and the app?

[2020-11-18 01:17] GeorgeBellTMH commented on #568
So we have the following to do:

1) Change the backend to allow for multiple event types (zoom, YouTube, LiveStream, others...), and an option to make event live on homepage (or just in the secondary page) - maybe 1-2 days
2) Change the frontend to pull and display (1-2 days)
3) Add a search/filter page with all events on frontend (1-2 days)
4) Permissions and ability for other people to add event

[2020-11-18 01:29] lucastbelem commented on #568
This stuff looks dope! Love it!

We're talking 3-6 days?

I think it's too optimistic for everything we need to deliver in JC by the end of the year - all of the payment, sign in, new modules, navigation, and new content injest for curriculum. I'd be hard pressed to prioritize this before the new year unless you @GeorgeBellTMH told me we're ahead of schedule and are going to be fine to add another

[2020-11-18 04:26] mmacedom commented on #546
@deeinstereo @lucastbelem I just pushed a new PR fixing all of the issues above. Let me know if there's anything else to be done on this log.

[2020-11-18 10:56] GeorgeBellTMH commented on #570
I have no idea...try it locally and see...it may...

[2020-11-18 10:58] GeorgeBellTMH opened #572 "catch fetch"
A bunch of the fetch statements don't have try/catch or .catch() blocks associated with them...it would be nice if we handled these failures in a better way...